<%
add_item_to_app_menu :site_bottom, link('miscellaneous', :about, main_app.localized_page_path(:about)), title
#add_item_to_app_menu :site_bottom, link(:page, :services, main_app.localized_page_path(:services)), title
add_item_to_app_menu :site_bottom, link('miscellaneous', :contactus, main_app.contactus_path), title


section = :goto
add_item_to_app_menu :site_bottom, link(:user, :home, main_app.home_path), :goto if current_user
add_item_to_app_menu :site_bottom, link(:klass, :learn, main_app.learn_klasses_path), section
if current_user && (current_user.has_role?(:admin) || current_user.has_role?(:faculty))
  add_item_to_app_menu :site_bottom, link(:course, :teach, main_app.teach_courses_path), :goto
end
add_item_to_app_menu :site_bottom, link(:page, :blogs, main_app.blogs_path), section

section = :social
current_account.config['social_pages'].each do |page, at|
  if at && at.strip.present?
    link = (link_to at, :class => "btn btn-#{page}" do
      css_icon([page, :lg])
    end)
    add_item_to_app_menu :site_bottom, link, section
  end
end
%>

<%= mountable_fragments :site_bottom_menu %>

<footer>
  <div class="footer">
    <div class="<%= css_container %> footer-links">

      <div class="row">
        <div class="<%= css_columns(7) %>">
          <% mission = Page.localized(:mission) %>
          <%= markdown mission.about, :html => mission.html if mission %>

          <% if mission && current_user && current_user.has_role?(:admin) %>
            <%= link(:page, :edit, main_app.edit_page_path(mission), :class => css(button: [:success, :xs])) %>
          <% end %>
        </div>
        <div class="<%= css_columns(2, 1) %> col-sm-4 col-xs-4">
          <ul>
            <li><h4><span><%= t('page.title.goto') %></span></h4></li>
            <% app_menu(:site_bottom)[:goto].each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
        <div class="<%= css_columns(2) %> col-sm-4 col-xs-4">
          <ul>
            <li><h4><span><%= title %></span></h4></li>
            <% app_menu(:site_bottom)[title].each do |item| %>
              <li><%= item %></li>
            <% end %>
            <li>
              <br />
              <%= t('page.text.follow_us_html') %>
              <% app_menu(:site_bottom)[:social].each do |item| %>
                <%= item %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="<%= css_container %>">
      <div class="row">
        <div class="<%= css_columns(8) %>">
          <span>
            © <%= t('page.text.copyrights', :year => Time.zone.now.year) %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link :page, :terms, main_app.localized_page_path(:terms) %>
          </span>
        </div>
        <div class="<%= css_columns(4) %>">
          <div class="row text-right">
            <% if current_account.config['title'] !~ /Curriculr/i %>
              <%= t('page.text.powered_by_html', logo: link_to(
                    image_tag("/images/curriculr-white.png"), 'http://www.curriculr.org', target: '_new'
                  )) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
