<% style = action_name == 'front' && current_user.blank? ? "navbar-custom" : "navbar-default" %>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="<%= css_container :fluid %>">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to current_user ? main_app.home_path : main_app.root_path, :class => "navbar-brand" do %>
        <% if logo_path %>
          <%= image_tag logo_path %>
        <% else %>
          <strong><%= current_account.config['title'] %></strong>
        <% end %>
      <% end %>
    </div>
		<div class="navbar-collapse collapse">
			<%= render "/ui_main_menu" %>
		</div>
	</div>
</nav>
