<li><%= content_tag :h4, t('page.titles.administration') %></li>  
<% if current_user.id == 1 %>
  <li><%= link :account, :index,  main_app.admin_accounts_path %></li>
<% end %>
<li><%= link :user, :index,  main_app.users_path %></li>
<li><%= link :medium, :index, main_app.media_path %></li>
<li><%= link :page, :static_pages_or_blogs, main_app.pages_path %></li>
<li><%= link :announcement, :index,  main_app.admin_announcements_path %></li>
<li><%= link :site, :stats, main_app.statistics_path %></li>



<%= mountable_fragments :app_admin_menu %>


<li class="divider"></li>
<li><%= content_tag :h4, t('page.titles.settings') %></li> 
<% if current_user.id == 1 %>
  <li><%= link :configuration, :site_settings,  main_app.admin_config_edit_path %></li>
<% end %>
<% if current_user.id == current_account.admin_id %>
	<li><%= link :account, :account_settings,  main_app.edit_admin_account_path(current_account) %></li>
<% end %>
<li><%= link :translation, :index,  main_app.edit_admin_translation_path(I18n.locale) %></li>
