<%= form_for [:teach, @course, @unit, @lecture] do |f| %>
  <%= f.hidden_field :unit_id %>
	<%= f.text_field :name %>
  <%= f.text_area :about, rows: 5, :size => '60x5' %>

  <div class="three fields">
    <%= f.static :based_on %>
    <%= f.hidden_field :based_on %>
    <%= f.text_field :on_date, class: 'datepicker' %>
    <%= f.number_field :for_days %>
  </div>

  <div class="three fields">
    <%= f.check_box :previewed %>
    <%= f.number_field :points %>
  </div>

  <%= f.text_field :tag_list %>

  <%= f.submit %>
  <%= f.cancel teach_course_unit_path(@course, @unit) %>
<% end %>
