<%= form_header %>

<%= themed_form_for [:teach, @course, @unit, @lecture] do |f| %>
  <%= form_hidden f, :unit_id %>
	<%= form_text f,  :name %>
  <%= form_text_area f, :about, rows: 5, :size => '60x5' %>
  
  <div class="row">
    <div class="<%= css_columns(4) %>">
      <%= form_static f, :based_on %>
      <%= form_hidden f, :based_on %>
    </div>
    <div class="<%= css_columns(4) %>">
      <%= form_text f, :on_date, class: 'datepicker' %>
    </div>
    <div class="<%= css_columns(4) %>">
      <%= form_number f, :for_days %>
    </div>
  </div>
  
  <div class="row">
    <div class="<%= css_columns(4) %>">
      <%= form_checkbox f, :previewed %>
    </div>
    <div class="<%= css_columns(4) %>">
      <%= form_number f, :points %>
    </div>
  </div>
  
  <%= form_submit f, teach_course_unit_path(@course, @unit) %>
<% end %>
