<%
  links = []
  data = lecture ? lecture.contents(false, true) : []

  %w(video audio image document other).each do |kind|
    links << link(:material, kind,
      new_teach_course_unit_lecture_material_path(@course, unit, lecture, :s => kind, :multiple => true), class: 'item')
  end

  links << content_tag(:div, '', class: 'divider')
  links << link_to(Page.model_name.human, new_teach_course_unit_lecture_page_path(@course, unit, lecture), remote: true, class: 'item')
  links << link_to(Question.model_name.human, teach_course_unit_lecture_questions_path(@course, unit, lecture), class: 'item')
  links << content_tag(:div, '', class: 'divider')

  @course.config["grading"]["distribution"]["assessments"]["lecture"].keys.each do |k|
    links << link_to(k, new_teach_course_unit_lecture_assessment_path(@course, unit, lecture, :t => k), remote: true, class: 'item')
  end

  if lecture.poster
    poster_link = link(:material, :remove_poster_image,
        teach_course_unit_lecture_material_path(@course, unit, lecture, lecture.poster),
        :method => :delete, confirm: true, class: "item")
  else
    poster_link = link(:material, :add_poster_image,
        new_teach_course_unit_lecture_material_path(@course, unit, lecture, :s => :image, :t => :poster), class: "item")
  end
%>

<% buttons = ui_buttons([
  link(:lecture, :edit, edit_teach_course_unit_lecture_path(@course, unit, lecture), remote: true, class: "ui positive button"),
  ui_dropdown_button(t('page.title.actions'), [
    poster_link,
    nil,
    (lecture.allow_discussion ?
      link_to(link_text(:lecture, :disallow_discussion),
        discuss_teach_course_unit_lecture_path(@course, unit, lecture), :method => :put, class: "item") :
      link_to(link_text(:lecture, :allow_discussion),
        discuss_teach_course_unit_lecture_path(@course, unit, lecture), :method => :put, class: "item")),
    nil,
    link(:lecture, :destroy, teach_course_unit_lecture_path(@course, unit, lecture),
      :method => :delete, confirm: true, class: "item")
  ], class: "ui dropdown secondary button")]) %>

<% if lecture && lecture.poster %>
  <div class="ui divided items">
    <div class="item">
      <div class="ui tiny image">
        <%= image_tag lecture.poster.at_url(:sm) %>
      </div>
      <div class="content">
        <div class="header"><%= lecture.name %></div>
        <div class="description">
          <%= markdown(lecture.about) %>
        </div>
        <div class="extra">
          <%= buttons %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= ui_header lecture.name, style: :h3, action: buttons %>
  <%= markdown(lecture.about) %>
<% end %>

<%= ui_header t('page.title.contents'), style: :h3, action: ui_dropdown_button(t("page.text.new"), links) %>
<% unless data.empty? %>
  <div class="ui sortable divided list" data-update-url="<%= content_sort_teach_course_unit_lecture_path(@course, unit, lecture) %>">
    <% data.each_with_index do |item| %>
      <% case item %>
      <% when Material %>
      <div class="item" id="content_<%= item.medium.id %>_medium" sortid="content_<%= item.medium.id %>.medium">
          <%= render partial: "application/media/medium",
                locals: {medium: item.medium, medium_counter: false, wrapper: false,
                  action: link(:material, :destroy,
                    teach_course_unit_lecture_material_path(@course, unit, lecture, item),
                    :method => :delete, :class => "ui negative button",
                    confirm: true)
                } %>
      </div>
      <% when Question %>
        <div class="item" id="content_<%= item.id %>_question" sortid="content_<%= item.id %>.question">
          <div class="item">
            <%= link(:question, :edit, edit_teach_course_unit_lecture_question_path(@course, unit, lecture, item), remote: true, :class => "ui right floated positive button") %>
            <div class="header">
              <%= ui_icon('help') + Question.model_name.human %>
            </div>
            <%= render partial: "teach/questions/question", locals: { question: item, show_answer: false } %>
          </div>
        </div>
      <% when Page %>
        <div class="item" id="content_<%= item.id %>_page" sortid="content_<%= item.id %>.page">
          <div class="header">
            <%= link_to item.name, teach_course_unit_lecture_page_path(@course, unit, lecture, item) %>
            <div class="ui left pointing label"><%= Page.model_name.human %></div>
            <div class="ui label"><%= timeago_tag(item.created_at, :nojs => true, :limit => 10.days.ago) %></div>
            <%= content_tag(:div, t('page.text.unpublished'), :class => "ui label") unless item.published %>
          </div>
        </div>
      <% when Assessment %>
        <div class="item" id="content_<%= item.id %>_assessment" sortid="content_<%= item.id %>.assessment">
          <div class="header">
            <%= link_to(item.name, teach_course_unit_lecture_assessment_path(@course, unit, lecture, item)) %>
            <div class="ui left pointing label"><%= Assessment.model_name.human %></div>
            <div class="ui label"><%= item.kind %></div>
            <%= content_tag(:div, t('page.text.unready'), class: "ui label") unless item.ready %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= content_tag :small, t('page.text.drag_items_to_reorder_html') if data.count > 1 %>
<% else %>
  <%= t('page.text.no_record_found') %>
<% end %>

