<%= ui_header t('page.titles.attachments'), style: :h4, action: ui_button_dropdown(t('activerecord.actions.new', name: t('page.titles.document')), [
      link(:material, :document,
        new_teach_course_unit_lecture_material_path(@course, unit, lecture,
        :s => :document)),
      link(:material, :other,
        new_teach_course_unit_lecture_material_path(@course, unit, lecture, 
        :s => :other, :t => :attachment))
        ], class: css_button(:success), align: :right) %>
<br><br>
<%= ui_panel(nil, nil, nil,
      capture do %>
        <table class="<%= css_table %>">
        	<tbody>
            <% data["documents"].each_with_index do |document, i| %>
              <%= render partial: "application/media/medium", 
                    locals: {medium: document.medium, medium_counter: false, 
                      action: link(:material, :destroy, 
                        teach_course_unit_lecture_material_path(@course, unit, lecture, document), 
                        :method => :delete, :class => css_button(:danger, :xs), 
                        confirm: true) 
                    } %>
            <% end %>   
          </tbody>
        </table> 
<% end ) unless data["documents"].blank? %>

<br>
<%= ui_header Page.model_name.human(count: 3), style: :h4, 
      action: link(:page, :new, new_teach_course_unit_lecture_page_path(@course, unit, lecture), :class => css(button: :success, align: :right)) %>
<br><br>
<%= ui_panel( nil, nil, nil,
      capture do %>
        <table class="<%= css_table %>">
        	<tbody>
              <% data["pages"].each_with_index do |page, i| %>
                <tr>
                  <td>
                    <h5>
                      <%= link_to page.name, teach_course_unit_lecture_page_path(@course, unit, lecture, page) %> 
                      <small><%= l(page.created_at.to_date) %></small>
                      <%= content_tag(:span, t('page.text.unpublished'), :class => css_label(:warning)) unless page.published %>
                    </h5>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table>
<% end ) unless data["pages"].blank? %>
