<div class="item" id="content_<%= audio.id %>_medium" sortid="content_<%= audio.id %>.medium">
  <div class="content">
    <div class="header"><%= ui_icon('file audio outline icon') + ' ' + audio.name %></div>
    <div class="meta"><%= timeago_tag(audio.created_at, :nojs => true, :limit => 10.days.ago)  %></div>
    <div class="description">
      <%= ui_audio audio %>
      <% if audio.path.present? && !audio.copyrights.blank? %>
        <p><small><strong><%=Medium.human_attribute_name(:source) %>:</strong> <%= audio.copyrights %></small></p>
      <% end %>
      <%= audio.full_url %>
    </div>
    <div class="extra">
      <%= content_tag :div, class: 'ui buttons' do %>
        <%= render partial: 'application/media/links', locals: { medium: audio, form: form, action: action } %>
      <% end %>
    </div>
  </div>
</div>