<tr>
  <td colspan="3"> 
    <%= ui_audio audio %>
    <% if audio.path.present? and !audio.copyrights.blank? %>
      <br><small><strong><%=Medium.human_attribute_name(:source) %>:</strong> <%= audio.copyrights %></small>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= audio.name %></td>
  <td>
    <small><%= timeago_tag(audio.created_at, :nojs => true, :limit => 10.days.ago) %></small>
  </td>
  <td>
    <%= content_tag :div, class: css(button: :group, align: :right) do %>
      <%= render partial: 'application/media/links', locals: { medium: audio, form: form, action: action } %>
    <% end %>
  </td>
</tr>
  
