<tr id="content_<%= audio.id %>_medium">
  <td> 
    <div class="row">
      <div class="<%= css_columns(9) %>">
        <%= ui_audio audio %>
        <% if audio.path.present? and !audio.copyrights.blank? %>
          <br><small><strong><%=Medium.human_attribute_name(:source) %>:</strong> <%= audio.copyrights %></small>
        <% end %>
        <%= audio.name %> (<small><%= timeago_tag(audio.created_at, :nojs => true, :limit => 10.days.ago) %></small>)
      </div>
      <div class="<%= css_columns(3) %>">
        <%= content_tag :div, class: css(button: :group, align: :right) do %>
          <%= render partial: 'application/media/links', locals: { medium: audio, form: form, action: action } %>
        <% end %>
      </div>
    </div>
  </td>
</tr>