<td>
<%= themed_form_for the_form_path, remote: true do |f| %>	
	<div class="row">
    <div class="<%= css_columns(8) %>">
    	<%= form_text f, :name  %>
  		<%= form_hidden f, :is_a_link  %>
  		<% if @medium.is_a_link %>
  			<%= form_text f, :url %>
  		<% end %>
    </div>
    <div class="<%= css_columns(4) %>">
    	<% if @medium.is_a_link %>
  			<%= form_select(f, :source, t("config.medium.#{@medium.kind}.source"), 
        			value: @medium.source, include_blank: false) %>
  		<% end %>
			<br />
  		<%= form_submit f, @medium.course ? teach_course_medium_path(@medium.course, @medium) : 
  					medium_path(@medium), [], remote: true %>
    </div>
   </div>
<% end %>
</td>

