<div class="item" id="medium_<%= image.id %>">
  <div class="tiny image"><%= image_tag image.at_url %></div>
  <div class="content">
    <div class="header"><%= image.name %></div>
    <div class="meta"><%= timeago_tag(image.created_at, :nojs => true, :limit => 10.days.ago)  %></div>
    <div class="description">
      <%= image.full_url %>
    </div>
    <div class="extra">
      <%= content_tag :div, class: 'ui buttons' do %>
        <%= render partial: 'application/media/links', locals: { medium: image, form: form, action: action } %>
      <% end %>
    </div>
  </div>
</div>