<% action = capture do %>
  <%
    links = []
    t('config.medium.kind').each do |k,v|
      if @course.present?
        links << link(:medium, k, new_teach_course_medium_path(@course, s: k))
      else
        links << link(:medium, k, new_medium_path(s: k))
      end
    end
  %>

  <% unless @material %>
    <%= content_tag :div, class: css(button: :group, align: :right) do %>
      <%= ui_button_dropdown(t('helpers.submit.new_link'), links,
          class: css_button(:default)) %>
      <%= link :medium, :upload, @course ? multi_new_teach_course_medium_path(@course) :
          multi_new_medium_path, class: css(button: :success) %>
    <% end %>
  <% else %>
    <%= content_tag :div, class: css(button: :group, align: :right) do %>
      <% req_objects = @req_objects[0..(@req_objects.count-2)] %>
      <% if params[:multiple] && req_objects.present? %>
        <% url = [req_objects, show: (@lecture ? nil : (@unit ? 'documents' : (@course ? 'books' : nil)))].flatten %>
        <%= link_to t('helpers.submit.back_to', name: req_objects.last.class.model_name.human), url, class: css_button(:default) %>
      <% end %>
      <% url = [:new, req_objects, :material, s: params[:s], t: params[:t], m: true].flatten %>
      <%= link :medium, :"add_#{params[:s]}", url,
          class: css(button: :success, align: :right) %>
    <% end %>
  <% end %>
<% end %>
<%= ui_header Medium.model_name.human(count: 3), style: @course ? :h3 : :h2, action: action %>

<ul class="<%= css_nav(:tabs) %>">
  <% t('config.medium.kind').map do |k, v| %>
    <% cls = k.to_sym == to_medium_kind(params[:s]) ? 'active' : (@material ? 'disabled' : '')%>
    <li class="<%= cls %>">
      <%= link_to t("page.title.#{k.to_s.pluralize(2)}"), @course ? teach_course_media_path(@course, :s => k) : media_path(:s => k) %>
    </li>
  <% end %>
</ul>
<br>
<div class="row">
  <div class="<%= css_columns(11) %>">
    <div id="paginator" class="<%= css_align(:left) %>"><%= paginate @media, :remote => true %></div>
  </div>
  <div class="<%= css_columns(5) %>">
    <% options = {} %>
    <% options = { :m => true, :s => params[:s], :t => params[:t] } if @material %>
    <% url = @course ? teach_course_media_path(@course, options) : media_path %>
    <%= search_form_for @q, :url => url, class: "search-form form-inline #{css_align(:right)}", :remote => true do |f| %>
      <%= hidden_field_tag(:unit_id, @unit.id) if @unit %>
      <%= hidden_field_tag(:lecture_id, @lecture.id) if @lecture %>
      <%= f.hidden_field :kind_start, :value => params[:s] %>
      <%= form_search f, :slug_or_name_cont, hint: false, label: false, placeholder: true %>
    <% end %>
  </div>
</div>
<br>
<table>
	<tbody id="all-media">
    <%= render :partial => "application/media/medium", :collection => @media, :as => :medium %>
	</tbody>
</table>
