<% action = capture do %>
  <% unless @material %>
    <%= content_tag :div, class: 'ui right floated buttons' do %>
      <%= ui_dropdown_button t('helpers.submit.new_link'), t('config.medium.kind').map{|k,v| link(:medium, k, @course.present? ? new_teach_course_medium_path(@course, s: k) : new_medium_path(s: k), remote: true, class: 'item')} %>
      <%= link :medium, :upload, @course ? multi_new_teach_course_medium_path(@course) :  multi_new_medium_path, class: "ui positive button" %>
    <% end %>
  <% else %>
    <%= content_tag :div, class: 'ui right floated buttons' do %>
      <% req_objects = @req_objects[0..(@req_objects.count-2)] %>
      <% if params[:multiple] && req_objects.present? %>
        <% url = [req_objects, show: (@lecture ? nil : (@unit ? 'documents' : (@course ? 'books' : nil)))].flatten %>
        <%= link_to t('helpers.submit.back_to', name: req_objects.last.class.model_name.human), url, class: "ui button" %>
      <% end %>
      <% url = [:new, req_objects, :material, s: params[:s], t: params[:t], m: true].flatten %>
      <%= link :medium, :"add_#{params[:s]}", url, remote: true, class: 'ui primary button' %>
    <% end %>
  <% end %>
<% end %>
<%= ui_header Medium.model_name.human(count: 3), style: @course ? :h2 : nil, action: action %>

<div class="ui top attached pointing menu">
  <% t('config.medium.kind').map do |k, v| %>
    <% cls = k.to_sym == to_medium_kind(params[:s]) ? 'active item' : (@material ? 'disabled item' : 'item')%>
    <%= link_to t("page.title.#{k.to_s.pluralize(2)}"), @course ? teach_course_media_path(@course, :s => k) : media_path(:s => k), class: cls %>
  <% end %>
  <div class="right menu">
    <div class="item">
      <% options = {} %>
      <% options = { :m => true, :s => params[:s], :t => params[:t] } if @material %>
      <% url = @course ? teach_course_media_path(@course, options) : media_path %>
      <%= search_form_for @q, :url => url, class: "search-form", method: 'get', remote: true, wrapper: false, header: false do |f| %>
        <%= hidden_field_tag(:unit_id, @unit.id) if @unit %>
        <%= hidden_field_tag(:lecture_id, @lecture.id) if @lecture %>
        <%= f.hidden_field :kind_start, :value => params[:s] %>
        <%= f.search_field :slug_or_name_cont, hint: false, label: false, placeholder: true %>
      <% end %>
    </div>
  </div>
</div>
<div class="ui bottom attached segment">
  <div id="paginator"><%= paginate @media, :remote => true %></div>
	<div class="ui items" id="all-media">
    <%= render :partial => "application/media/medium", :collection => @media, :as => :medium %>
  </div>
</div>


