<%= ui_header t('page.title.select_files'), style: @course ? :h2 : nil %>

<% if @medium.file_upload_allowed? %>
	<%= form_for the_form_path, :html => {
				:multipart => true, id: 'multi_new_medium', class: 'dropzone', 
				data: { extensions: @medium.allowed_file_extensions.join('|')}} do |f| %>	
		<%= f.hidden_field :account_id %>
		<%= f.hidden_field :course_id %>
	  <%= f.hidden_field :multi, value: "multi_load" %>
	  <%= form_files f, :path, name: "medium[path]", label: t('helpers.submit.select_files'),
	  		hint: t('page.text.select_files_or_drop') %> 
	<% end %>

	<%= link_to t('helpers.submit.close'), 
			  @medium.m.present? ? the_material_path_out(@medium.kind, @medium.m) : the_path_out,
		 	  class: css(button: :default) %>

	<script id="template-upload" type="text/x-tmpl">
		<div class="upload">
		  {%= o.name %}
		  <div class="progress">
		  	<div class="progress-bar" role="progressbar" style="width: 0%;"></div>
			</div>
		</div>
	</script>
<% else %>
	<%= ui_alert nil, t('page.text.file_upload_not_allowed', link: link_to(t('helpers.submit.go_back'), the_path_out)), :info %>
<% end %>