<%= modal_form_for [:teach, @course, @instructor] do |f| %>
  <%= f.hidden_field :course_id, :value => @course.id %>
  
  <div class="two fields">
    <%= f.text_field :name %>
    <% email = @instructor.new_record? ? @instructor.email : @instructor.user.email %>
    <%= f.email_field :email, :readonly => !%w(new create).include?(action_name), :value => email %>
  </div>
  <div class="two fields">
    <%= f.select :role, t('config.staff').invert %>
    <%= f.file_field :avatar %>
  </div>
  
  <%= f.markdown :about, size: '60x5' %>
  
  <%= f.submit %>
  <%= f.cancel teach_course_path(@course, :show => 'people') %>
<% end %>