<% render = Option.render_options[@question.kind.to_sym] %>

<div class="row">
  <% if render[:option] %>
    <%= content_tag :div, class: css_columns(12/render[:cols]) do %>
      <% label = t("activerecord.labels.#{@question.kind}_question") %>
      <% hint = t("activerecord.hints.#{@question.kind}_question") %>
      <%= form_text_area f, :option, :hint => hint, :label => label, rows: 3 %>
    <% end %>
  <% end %>

  <% if render[:answer_options] %>
    <%= content_tag :div, class: css_columns(12/render[:cols]) do %>
      <% label = t("activerecord.labels.#{@question.kind}_answer_options") %>
      <% hint = t("activerecord.hints.#{@question.kind}_answer_options") %>
      <%= form_text_area f, :answer_options, rows: 3, :hint => hint, :label => label %>
    <% end %>
  <% end %>
  
  <%= content_tag :div, class: css_columns(12/render[:cols]) do %>
    <div class="answer-field">
      <% if @question.kind == 'pick_one' or @question.kind == 'pick_many' %>
        <br/>
        <%= form_checkbox f, :answer, label: t("activerecord.labels.#{@question.kind}_answer") %>
      <% elsif render[:answer] %>
        <% hint = t("activerecord.hints.#{@question.kind}_answer") %>
        <% label = t("activerecord.labels.#{@question.kind}_answer") %>
        <% if @question.kind == 'match' %>
          <%= form_text_area f, :answer, rows: 3, :hint => hint, :label => label %>
        <% else %>
          <%= form_text f, :answer, :hint => hint, :label => label %>
        <% end %>
      <% end %>
    </div>
    <br>
    <% unless render[:count] == 1 %>
      <%= tag :br if @question.kind == 'sort' %>
      <%= f.hidden_field :_destroy %>
      <%= link :option, :destroy, '#', class: "remove_fields #{css_button(:danger, :xs)}" %>
    <% end %>
  <% end %>
</div>