<% render = Option.render_options[@question.kind.to_sym] %>
<% cols = @question.kind.in?(%w(pick_one pick_many)) ? (@question.survey? ? 24 : 16) : 24/render[:cols] %>

<div class="row">
  <% if render[:option] %>
    <%= content_tag :div, class: css_columns(cols) do %>
      <% 
        label = content_tag(:span, t("helpers.label.#{@question.kind}_question_#{render[:option][:name]}"))
        unless render[:count] == 1 
          label << ' '
          label << f.hidden_field(:_destroy)
          label << link(:option, :destroy, '#', class: "remove_fields #{css_button(:danger, :xs)}", data: {opr: 'remove'})
        end 

        label = label.html_safe
      %>

      <% placeholder = t("helpers.placeholder.#{@question.kind}_question_#{render[:option][:name]}") %>
      <% if render[:option][:lines] > 1 %>
        <%= f.text_area :option, :placeholder => placeholder, :label => label, rows: render[:option][:lines] %>
      <% else %>
        <% if @question.survey? %>
           <%= f.hidden_field :option, value: "*" %>
        <% else %>
          <%= f.text_field :option, :placeholder => placeholder, :label => label %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if render[:answer_options] %>
    <%= content_tag :div, class: css_columns(24 - cols) do %>
      <% if @question.kind == 'pick_one' || @question.kind == 'pick_many' %>
        <% if @question.survey? %>
           <%= f.hidden_field :answer_options, value: "0" %>
        <% else %>
          <br/>
          <%= f.check_box :answer_options, 
                label: t("helpers.label.#{@question.kind}_question_#{render[:answer_options][:name]}") %>
        <% end %>
      <% else %>
        <% label = content_tag(:span, t("helpers.label.#{@question.kind}_question_#{render[:answer_options][:name]}")) %>
        <% placeholder = t("helpers.placeholder.#{@question.kind}_question_#{render[:answer_options][:name]}") %>
        <% if render[:answer_options][:lines] > 1 %>
          <%= f.text_area :answer_options, :placeholder => placeholder, :label => label, rows: render[:answer_options][:lines] %>
        <% else %>
          <%= f.text_field :answer_options, :placeholder => placeholder, :label => label %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>