<%= modal_form_for [:teach, @course, @unit, @lecture, @question] do |f| %>
  <%= f.hidden_field :course_id %>
  <%= f.hidden_field :kind %>
  <% render_options = Option.render_options[@question.kind.to_sym] %>

  <% main = capture do %>
    <% placeholder = t("helpers.placeholder.#{@question.kind}_question") %>
    <% hint = t(:"helpers.hint.#{@question.kind}_question", default: '') %>
    <%= f.markdown :question, :size => '60x5', :placeholder => placeholder, :hint => hint %>
    
    <div class="field-container">
      <%= f.fields_for :options do |o| %>
        <div class='removable <%= 'has-error'  unless @question.errors[:options].empty? %>' data-opr="remove">
          <%= render "fields_4_question", :f => o, :option_index => o.index %>
        </div>
      <% end %>
    </div>
    
    <div class="has-error">
      <% @question.errors[:options].each do |msg| %>
        <span class='error help-block'><%= msg %></span>
      <% end %>
    </div>
  <% end %>
  <% aside = capture do %>
      <%= f.static :kind, :value => t("config.question.kind.#{@question.kind}") %>

      <% if @question.new_record? %>
        <%= f.hidden_field :unit_id %>
        <%= f.hidden_field :lecture_id %>
      <% else %>
        <div style="display: none;">
          <%= f.grouped_collection_select :unit_lectures, @course.units, :lectures, :name, :id, :name, include_blank: true %>
        </div>
        <%= f.select :unit_id, @course.units.collect {|u| [u.name, u.id]}, include_blank: true %>
        <%= f.select :lecture_id, @unit ? @unit.lectures.collect {|l| [l.name, l.id]} : [], include_blank: true %>
      <% end %>

      <% if @question.survey? %>
        <%= f.hidden_field :bank_list, name: 'question[bank_list][]' %>
        <%= f.static :bank_list, value: t("config.question.bank.#{@question.bank_list}") %>
      <% else %>
        <%= f.select :bank_list, question_banks(true).invert, 
          {:value => @question.bank_list}, {:multiple => true, :class => "chosen-select #{rtl? ? 'chosen-rtl' : ''}", 
            :'data-placeholder'=> t('helpers.placeholder.bank_list')} %>
      <% end %>

      <%= f.check_box :include_in_lecture if @lecture %>
      
      <%= f.text_area :hint, size: '60x2' %>
      <%= f.text_area :explanation, size: '60x2' %>

      <% unless render_options[:count] == 1 %>
        <%= link_to_add_options((ui_icon(:plus) + t("page.text.#{render_options[:name]}")).html_safe, f, :options) %>
      <% end %>
  <% end %>
  <%= ui_side_by_side main, aside %>
  <%= f.submit %>
  <%= f.cancel question_bank_path(:index, @question.kind.split('_').first) %>
<% end %>