<div class="field">
  <%# render 'teach/questions/preamble', :q => q, :show_answer => show_answer %>

  <%= markdown(q.question) %>
</div>

<table class="ui striped selectable small table">
  <thead>
    <tr>
      <th class="ten wide">
        <%= t('helpers.label.match_question_side_1') %> 1
      </th>
      <th class="six wide">
        <%= t('helpers.label.match_question_side_2') %> 2
      </th>
    </tr>
  </thead>
  <tbody>
    <% options = q.options.first.answer_options_items.map do |o| [o, o] end %>
    <% q.options.first.option_items.each_with_index do |o, i| %>
      <tr id="option_<%= i + 1 %>">
        <td>
          <%= processed_text(o) %>
        </td>
        <td>
          <%= select_tag("attempt[#{q.id}][#{i + 1}]",
                options_for_select(options.sample(options.length), a ? a[i + 1] : nil),
                :disabled => read_only,
                :include_blank => true, :class => 'ui dropdown') %>
          <div id="<%= "answer_#{q.id}_#{i + 1}"%>" class="question-answer"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'teach/questions/hint_and_explanation', q: q %>