<div class="panel-body">
  <%= render 'teach/questions/preamble', :q => q, :show_answer => show_answer %>

  <strong><%= markdown(q.question) %></strong>

  <% unless q.hint.blank? %>
    <%= content_tag :div, id: "#{q.id}-hint", class: "question-hint hidden" do %>
      <%= markdown("**#{Question.human_attribute_name(:hint)}**! #{q.hint}") %>
    <% end %>
  <% end %>

  <% if (@attempt.blank? || @attempt.state == 2) && q.explanation.present? %>
    <%= content_tag :div, id: "#{q.id}-explanation", class: "question-explanation hidden" do %>
      <%= markdown("**#{Question.human_attribute_name(:explanation)}**! #{q.explanation}") %>
    <% end %>
  <% end %>
</div>

<table>
  <%
  is_sortable = (controller_name == 'questions' && action_name == 'index' && staff?(current_user, @course))
  %>
  <tbody class="<%= 'sortable' if is_sortable  %>" data-update-url="<%= url_for([:sort_option, :teach, @course, @unit, @lecture, q]) if is_sortable %>">
    <% q.options.each_with_index do |o, i| %>
      <tr class="row" id="option_<%= o.id %>">
        <td class="<%= css_columns(14) %>">
          <%= label_tag "attempt[#{q.id}]_#{o.option}", class: "radio" do %>
            <%= processed_text(o.option) %>
          <% end %>
        </td>
        <td class="<%= css_columns(2) %>">
          <%= radio_button_tag "attempt[#{q.id}]", o.option, (a && a[o.id] == '1'), :disabled => read_only %>
          <div id="<%= "answer_#{q.id}_#{o.id}"%>" style="display: inline;" class="question-answer"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
