<div class="ui input">
  <%= markdown(q.question) %>
</div>

<table class="ui striped selectable small table">
  <%
  is_sortable = (controller_name == 'questions' && action_name == 'index' && staff?(current_user, @course))
  %>
  <tbody class="<%= 'sortable' if is_sortable  %>" data-update-url="<%= url_for([:sort_option, :teach, @course, @unit, @lecture, q]) if is_sortable %>">
    <% q.options.each_with_index do |o, i| %>
      <tr id="option_<%= o.id %>">
        <td>
          <div class="field">
            <div class="ui checkbox">
              <%= check_box_tag "attempt[#{q.id}][#{o.id}]", o.option, (a && a[o.id] == '1'), :disabled => read_only %>
              <%= label_tag "attempt[#{q.id}][#{o.id}]", processed_text(o.option) %>
            </div>
          </div>
          <div id="<%= "answer_#{q.id}_#{o.id}"%>" style="display: inline;" class="question-answer"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'teach/questions/hint_and_explanation', q: q %>