<div class="<%= css_align(:right) %>">  
  <% if @assessment && show_answer %>
    <%= link :question, :show_answer,
          learn_klass_assessment_show_answer_path(@klass, @assessment, q), 
          :id => "show_answer_link_#{q.id}", :method => :post, :remote => true %>
  <% end %>
  
  <% if q.hint.present? %>
    <%= "|" if show_answer %>
    <%= link_to Question.human_attribute_name(:hint), "##{q.id}-hint", class: "question-hint-link" %>
  <% end %>
  
  <% if (@attempt.blank? or @attempt.state == 2) and q.explanation.present? %>
    <%= "|" if q.hint.present? || show_answer %>
    <%= link_to Question.human_attribute_name(:explanation), "##{q.id}-explanation", class: "question-explanation-link" %>
  <% end %>
</div>
