<%= modal_form_for [:teach, @course] do |f| %>
  <div class="two fields">
    <%= f.text_field :slug, placeholder: true %>
    <%= f.text_field :name %>
  </div>

	<%= f.markdown :about, :size => '60x5' %>

  <div class="two fields">
    <%= f.number_field :weeks %>
    <%= f.number_field :workload %>
  </div>
  
  <div class="two fields">
    <%= f.select :locale, $site['supported_locales'].invert %>
    <%= f.country_select :country, nil, :include_blank => true %>
  </div>
  
  <div class="two fields">
    <%= f.select :level_list, Translator.to_hash(I18n.locale, "#{current_account.slug}.site.level.*").invert,
          {:value => @course.level_list}, multiple: true, placeholder: t('helpers.placeholder.level_list') %>

    <%= f.select :category_list, Translator.to_hash(I18n.locale, "#{current_account.slug}.site.category.*").invert,
          {:value => @course.category_list}, multiple: true, placeholder: t('helpers.placeholder.category_list') %>
  </div>

  <%= f.submit %> <%= f.cancel @course && !@course.new_record? ? teach_course_path(@course) : teach_courses_path %>
<% end %>
