<div class="ui top fixed <%= 'inverted ' if inverted %>borderless menu">
  <div class="item">
    <div class="ui tiny promo image">
      <%= image_tag(@course.poster&.at_url(:md) || '/images/holder-md.png') %>
    </div>
  </div>
  <div class="header item">
    <div class="ui second <%= 'inverted ' if inverted %>header">
      <%= @course.name %>
      <div class="sub header"><%= @course.by_instructors %></div>
    </div>  
  </div>
  <div class="right menu">
    <div class="item">
      <%= 
        main_menu 
        items = []
        app_menus(:top)[:_].each do |item|
          items << link_to(item[:link], item[:to], remote: item[:remote], class: 'item')
        end
        items << content_tag(:div, '', class: 'divider')
        items << link(:session, :sign_out, main_app.auth_signout_path, class: 'item')
        
        ui_buttons [
          link_to(t('helpers.submit.leave_course'), main_app.home_path, class: "ui secondary button"),
          ui_dropdown_button(nil, items, icon: ui_icon('list'))] %>
    </div>
  </div>
</div>
