<%= ui_header t('page.title.to_do_list') %>
<div class="ui bulleted list">
  <div class="item">
    <%= t('helpers.submit.edit', name: t('page.title.syllabus')) %>
    <%= ui_icon(%(right floated #{@course.syllabus&.published ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.edit', name: t('page.title.faq')) %>
    <%= ui_icon(%(right floated #{@course.faq&.published ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.add', name: Lecture.model_name.human(count: 3)) %>
    <%= ui_icon(%(right floated #{@course.units&.first&.lectures&.any? ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.add', name: Medium.model_name.human(count: 3)) %>
    <%= ui_icon(%(right floated #{@course.media.any? ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.add', name: Question.model_name.human(count: 3)) %>
    <%= ui_icon(%(right floated #{@course.questions.any? ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.add', name: Assessment.model_name.human(count: 3)) %>
    <%= ui_icon(%(right floated #{@course.assessments.any? ? 'checkmark box' : 'square outline'})) %>
  </div>
  <div class="item">
    <%= t('helpers.submit.add', name: Instructor.model_name.human(count: 3)) %>
    <%= ui_icon(%(right floated #{@course.instructors.any? ? 'checkmark box' : 'square outline'})) %>
  </div>
</div>