<%= ui_header Course.model_name.human(count: 3), style: :h2, 
    action: link(:course, :new, new_teach_course_path, 
    :class => css(button: :success, align: :right)) %>

<div class="row">
  <div class="<%= css_columns(8) %>">
    <div id="paginator" class="<%= css_align(:left) %>"><%= paginate @courses, :remote => true %></div>
  </div>
  <div class="<%= css_columns(4) %>">
    <%= search_form_for [:teach, @q], class: "search-form form-inline #{css_align(:right)}", :remote => true do |f| %>
      <%# content_tag :strong, t('page.title.search') %> 
      <%= form_search f, :slug_or_name_or_about_cont, hint: false, label: false, placeholder: true %>
      <%# form_submit f %>
    <% end %>
  </div>
</div>
<br>
<div id="all-courses" class="ui three column stackable stretched grid">
  <%= render :partial => 'teach/courses/course', :collection => @courses %>
  <% if @courses.empty? %>
    <%= t('page.text.no_record_found') %>
  <% end %>
</div>