<%
  links = []

  @course.config["grading"]["distribution"]["assessments"]["course"].keys.each do |k|
    links << link_to(t('helpers.submit.new', name: k), new_teach_course_assessment_path(@course, :t => k), remote: true, class: "item")
  end
  
  assessments = @course.assessments.where(unit_id: nil).where("kind <> 'survey'").to_a
  instructors = @course.instructors.order(:order).to_a 
  books = @course.books.to_a 
  pages = @course.pages.to_a 
  forums = @course.forums.to_a 
  updates = @course.updates.to_a 
  surveys = @course.assessments.where(unit_id: nil).where("kind = 'survey'").to_a
%>

<% content = capture do %>
  <div class="ui basic segment">
    <%= ui_header Page.model_name.human(count: 3), action: link(:page, :new, new_teach_course_page_path(@course), remote: true, class: 'ui primary button') %>
    <div class="ui list">
      <% pages.each_with_index do |page, i| %>
        <div class="item">
          <div class="header">
            <%= link_to page.name, teach_course_page_path(@course, page) %>
            <div class="ui left pointing label"><%= timeago_tag(page.created_at, :nojs => true, :limit => 10.days.ago) %></div>
            <%= content_tag(:div, t('page.text.unpublished'), :class => "ui label") unless page.published %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="ui basic segment">
    <%= ui_header Forum.model_name.human(count: 3), action: link(:forum, :new, new_teach_course_forum_path(@course), remote: true, class: 'ui primary button') %>
    <%= t('page.text.course_forums') %>
    <%= render partial: 'teach/forums/index', locals: { forums: @course.forums } %>
  </div>
  
  <div class="ui basic segment">
    <%= ui_header Assessment.model_name.human(count: 3), action: ui_dropdown_button(t("page.text.new"), links) %>
    <div class="ui list">
      <% assessments.each_with_index do |a, i| %>
        <div class="item">
          <div class="header">
            <%= link_to(a.name, teach_course_assessment_path(@course, a)) %>
            <div class="ui left pointing label"><%= a.kind %></div>
            <%= content_tag(:div, t('page.text.unready'), class: "ui label") unless a.ready %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui basic segment">
    <%= ui_header t('page.title.people'), action: link(:instructor, :new, new_teach_course_instructor_path(@course), remote: true, class: 'ui primary button') %>
    <%= render partial: "teach/instructors/index", locals: { instructors: instructors }  %>    
  </div>
  
  <div class="ui basic segment">
    <%= ui_header t('page.title.books'), action: link(:material, :new_book, new_teach_course_material_path(@course, :s => :document, :t => :books, :multiple => true), class: 'ui primary button') %>
    <div class="ui list">
      <% books.each_with_index do |book, i| %>
        <%= render partial: "application/media/medium",
              locals: {medium: book.medium, medium_counter: i,
                action: link(:material, :destroy,
                  teach_course_material_path(@course, book),
                  :method => :delete, :class => "ui negative button",
                  confirm: true)
              } %>
      <% end %>
    </div>
  </div>

  <div class="ui basic segment">
    <%= ui_header Update.model_name.human(count: 3), action: link(:update, :new, new_teach_course_update_path(@course), remote: true, class: 'ui primary button') %>
    <%= t('page.text.course_updates') %>
    <%= render partial: 'teach/updates/index', locals: { updates: @course.updates } %>
  </div>

  <div class="ui basic segment">
    <%= ui_header t('page.title.surveys'), action: link(:survey, :new,  new_teach_course_assessment_path(@course, :t => :survey), remote: true, class: 'ui primary button') %>
    <div class="ui list">
      <% surveys.each_with_index do |a, i| %>
        <div class="item">
          <div class="header">
            <%= link_to(a.name, teach_course_assessment_path(@course, a)) %>
            <div class="ui left pointing blue label"><%= a.kind %></div>
            <%= content_tag(:div, t('page.text.unready'), class: "ui left pointing yellow label") unless a.ready %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% aside = capture do %>
  <div class="ui fluid card">
    <div class="image">
      <% poster = @course.poster&.at_url(:md) || '/images/holder-md.png' %>
      <% if @course.video %>
        <%= ui_video @course.video, poster %>
      <% else %>
        <%= image_tag poster %>
      <% end %>
    </div>
    <div class="content">
      <div class="description">
        <p><%= markdown(@course.about) %></p>
      </div>
    </div>
    <div class="extra content">
        <div class="ui two basic buttons">
          <%=
          if @course.video
            link_to teach_course_material_path(@course, @course.video), :method => :delete, :confirm => true,
            class: 'ui basic button', :title => t('helpers.submit.remove_promo_video') do
              ui_icon(:remove) + ui_icon(:video)
            end
          else
            link_to new_teach_course_material_path(@course, :s => :video, :t => :promo),
            class: 'ui basic button', :title => t('helpers.submit.add_promo_video') do
              ui_icon(:add) + ui_icon(:video)
            end
          end
          %>
          <%=
          if @course.poster
            link_to teach_course_material_path(@course, @course.poster), :method => :delete, :confirm => true,
            class: 'ui basic button', :title => t('helpers.submit.remove_poster_image') do
              ui_icon(:remove) + ui_icon(:image)
            end
          else
            link_to new_teach_course_material_path(@course, :s => :image, :t => :poster),
            class: 'ui basic button', :title => t('helpers.submit.add_poster_image') do
              ui_icon(:add) + ui_icon(:image)
            end
          end
          %>
        </div>
      </div>
    <div class="extra content">
      <%= render 'teach/courses/to_do' %>
    </div>
    <div class="extra content">
      <%= render 'teach/dashboard/show' %>
    </div>
  </div>
<% end %>

<%= ui_side_by_side aside, content, 'four by twelve' %>