<div class="row">
  <div class="<%= css_columns(24) %>">
    <%= markdown(@course.about) %>
    <% if @course.video %>
      <%= content_tag :div do %>
        <%= ui_video(@course.video, @course.poster) %>
      <% end %>
    <% end %>
    
    <div class="panel-group" id="accordion">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#syllabus">
              <%= t('page.title.syllabus') %>
            </a>
            <%= link(:page, :edit, edit_teach_course_page_path(@course, @course.syllabus),
                  class: css(button: [:xs, :primary], align: :right)) %>
          </h3>
        </div>
        <div id="syllabus" class="panel-collapse collapse <%= 'in' if active_course_section('syllabus') %>">
          <div class="panel-body">
            <div class="row">
              <div class="<%= css_columns(24) %>">
                <%= markdown(@course.syllabus.about) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%
        links = []

        @course.config["grading"]["distribution"]["assessments"]["course"].keys.each do |k|
          links << link_to(k, new_teach_course_assessment_path(@course, :t => k))
        end

        assessments = @course.assessments.where(unit_id: nil).where("kind <> 'survey'").to_a
      %>
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#assessments">

              <%= Assessment.model_name.human(count: 3) %>
              <%= content_tag :span, assessments.count, :class => css_badge %>
            </a>
            <%= ui_button_dropdown(t('helpers.submit.new', name: Assessment.model_name.human), links,
                class: css_button(:xs, :primary), align: :right) %>
          </h3>
        </div>
        <div id="assessments" class="panel-collapse collapse <%= 'in' if active_course_section('assessments') %>">
          <div class="panel-body"></div>
          <table>
            <tbody>
              <% assessments.each_with_index do |a, i| %>
              <tr>
                <td>
                  <h4>
                    <%= link(:assessment, :edit, edit_teach_course_assessment_path(@course, a),
                        :class => css(button: :success, align: :right)) %>
                    <%= link_to(a.name, teach_course_assessment_path(@course, a)) %>
                    <small><%= a.kind %></small>
                    <%= content_tag(:span, t('page.text.unready'), :class => css_label(:warning)) unless a.ready %>
                  </h4>
                  <%# markdown a.about %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% instructors = @course.instructors.order(:order).to_a %>
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#instructors">
              <%= t('page.title.people') %>
              <%= content_tag :span, instructors.count, :class => css_badge %>
            </a>
            <%= link(:instructor, :new, new_teach_course_instructor_path(@course),
                  :class => css(button: [:xs, :primary], align: :right)) %>
          </h3>
        </div>
        <div id="instructors" class="panel-collapse collapse <%= 'in' if active_course_section('people') %>">
          <div class="panel-body">
            <div class="row">
              <div class="<%= css_columns(24) %>">
                <%= render partial: "teach/instructors/index", locals: { instructors: instructors }  %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% books = @course.books.to_a %>
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#books">
              <%= t('page.title.books') %>
              <%= content_tag :span, books.count, :class => css_badge %>
            </a>
            <%= link(:material, :new_book,
                new_teach_course_material_path(@course, :s => :document,
                :t => :books, :multiple => true), :class => css(button: [:xs, :primary], align: :right)) %>
          </h3>
        </div>
        <div id="books" class="panel-collapse collapse <%= 'in' if active_course_section('books') %>">
          <div class="panel-body"></div>
          <table>
          	<tbody>
              <% books.each_with_index do |book, i| %>
                <%= render partial: "application/media/medium",
                      locals: {medium: book.medium, medium_counter: i,
                        action: link(:material, :destroy,
                          teach_course_material_path(@course, book),
                          :method => :delete, :class => css_button(:danger, :xs),
                          confirm: true)
                      } %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% pages = @course.non_syllabus_pages.to_a %>
      <div class="panel panel-inverse">
       <div class="panel-heading">
         <h3 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#pages">
             <%= Page.model_name.human(count: 3) %>
             <%= content_tag :span, pages.count, :class => css_badge %>
           </a>
           <%= link(:page, :new,
               new_teach_course_page_path(@course), :class => css(button: [:xs, :primary], align: :right)) %>
         </h3>
       </div>
       <div id="pages" class="panel-collapse collapse <%= 'in' if active_course_section('pages') %>">
         <div class="panel-body"></div>
         <table>
         	 <tbody>
             <% pages.each_with_index do |page, i| %>
               <tr>
                 <td>
                   <h4>
                     <%= link_to page.name, teach_course_page_path(@course, page) %>
                     <small><%= l(page.created_at.to_date) %></small>
                     <%= content_tag(:span, t('page.text.unpublished'), :class => css_label(:warning)) unless page.published %>
                   </h4>
                 </td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
      </div>

      <% forums = @course.forums.to_a %>
      <div class="panel panel-inverse">
       <div class="panel-heading">
         <h3 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#forums">
             <%= Forum.model_name.human(count: 3) %>
             <%= content_tag :span, forums.count, :class => css_badge %>
           </a>
           <%= link(:forum, :new,
               new_teach_course_forum_path(@course), :class => css(button: [:xs, :primary], align: :right)) %>
         </h3>
       </div>
       <div id="forums" class="panel-collapse collapse <%= 'in' if active_course_section('forums') %>">
         <div class="panel-body">
          <div class="row">
            <div class="<%= css_columns(24) %>">
              <%= t('page.text.course_forums') %>
            </div>
          </div>
         </div>
         <%= render partial: 'teach/forums/index', locals: { forums: @course.forums } %>
       </div>
      </div>

      <% updates = @course.updates.to_a %>
      <div class="panel panel-inverse">
       <div class="panel-heading">
         <h3 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#updates">
             <%= Update.model_name.human(count: 3) %>
             <%= content_tag :span, updates.count, :class => css_badge %>
           </a>
           <%= link(:update, :new,
               new_teach_course_update_path(@course), :class => css(button: [:xs, :primary], align: :right)) %>
         </h3>
       </div>
       <div id="updates" class="panel-collapse collapse <%= 'in' if active_course_section('updates') %>">
         <div class="panel-body">
          <div class="row">
            <div class="<%= css_columns(24) %>">
              <%= t('page.text.course_updates') %>
            </div>
          </div>
         </div>
         <%= render partial: 'teach/updates/index', locals: { updates: @course.updates } %>
       </div>
      </div>

      <%
        assessments = @course.assessments.where(unit_id: nil).where("kind = 'survey'").to_a
      %>
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#surveys">

              <%= t('page.title.surveys') %>
              <%= content_tag :span, assessments.count, :class => css_badge %>
            </a>
            <%= link :survey, :new,  new_teach_course_assessment_path(@course, :t => :survey),
                  :class => css(button: [:xs, :primary], align: :right) %>
          </h3>
        </div>
        <div id="surveys" class="panel-collapse collapse <%= 'in' if active_course_section('surveys') %>">
          <div class="panel-body"></div>
          <table>
            <tbody>
              <% assessments.each_with_index do |a, i| %>
              <tr>
                <td>
                  <h4>
                    <%= link(:survey, :edit, edit_teach_course_assessment_path(@course, a),
                        :class => css(button: :success, align: :right)) %>
                    <%= link_to(a.name, teach_course_assessment_path(@course, a)) %>
                    <small><%= a.kind %></small>
                    <%= content_tag(:span, t('page.text.unready'), :class => css_label(:warning)) unless a.ready %>
                  </h4>
                  <%# markdown a.about %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
