<div class="ui list">
	<% forums.each_with_index do |forum, ndx| %>
	<div class="item">
		<div class="right floated content">
			<%= ui_buttons([
				    link(:forum, :edit, forum.klass ? edit_teach_course_klass_forum_path(@course, forum.klass, forum) : edit_teach_course_forum_path(@course, forum), remote: true, class: "ui positive button"),
				    link(:forum, :destroy, forum.klass ? teach_course_klass_forum_path(@course, forum.klass, forum) : teach_course_forum_path(@course, forum), 
					    method: :delete, confirm: true, class: "ui negative button")]) %>
    </div>
		<div class="content">
			<div class="header">
        <%= forum.name %>
        <%= content_tag :div, forum.active ? ui_icon(:check) + t('page.text.active') : t('page.text.inactive'), :class => "ui left pointing label" %>
        <%= content_tag :div, forum.graded ? ui_icon('checkmark box') + Forum.human_attribute_name(:graded) : t('page.text.ungraded'), class: "ui label" %>
        <%= content_tag :div, %(#{forum.topics_count} #{Topic.model_name.human(count: 3)}), class: "ui label" %>
      </div>
		  <small><%= markdown(forum.about) %></small>
		</div>
	</div>
  <% end %>
</div>
