<table>
	<thead>
		<tr>
			<th>#</th>
			<th><%= Forum.model_name.human %></th>
			<th><%= Forum.human_attribute_name(:active) %></th>
      <th><%= Forum.human_attribute_name(:graded) %></th>
			<th><%= Topic.model_name.human(count: 3) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% forums.each_with_index do |forum, ndx| %>
		<tr>
			<td><%= ndx + 1 %></td>
			<td>
				<h3><%= forum.name %></h3>
				<%= markdown(forum.about) %>
			</td>
			<td><%if forum.active %> <i class="fa fa-check"></i><% end %></td>
      <td><%if forum.graded %> <i class="fa fa-check"></i><% end %></td>
			<td><%= forum.topics_count %></td>
			<td>
				<%= ui_button_dropdown(ui_options_button_text, [
					    link(:forum, :edit, forum.klass ? edit_teach_course_klass_forum_path(@course, forum.klass, forum) : edit_teach_course_forum_path(@course, forum)),
					    nil,
					    link(:forum, :destroy, forum.klass ? teach_course_klass_forum_path(@course, forum.klass, forum) : teach_course_forum_path(@course, forum), 
						    method: :delete, confirm: true)
				    ], class: css_button(:default), align: :right) %>         
			</td>
		</tr>
    <% end %>
    
    <% if forums.empty? %>
	    <tr>
	      <td colspan="6"><%= t('page.text.no_record_found') %></td>
	    </tr>
		<% end %>
	</tbody>
</table>

