<%
  img_size = defined?(image_size).blank? ? 240 : image_size
  hdr = if current_user && staff?(current_user, klass)
    link_to(klass.course.name, main_app.teach_course_klass_path(klass.course, klass), :class => 'header')
  else
    link_to(klass.course.name, [main_app, :learn, klass], :class => 'header')
  end

  subhdr = klass_from_and_to_dates(klass)
  labels = [content_tag(:div, subhdr, :class => :item), ui_klass_labels(klass)].flatten
  labels << content_tag(:div, klass.instructors(:by_first), :class => :item) if view == :item

  th = ui_image_src(klass.course.poster ? klass.course.poster.at_url(:sm) : nil, '/images/holder-sm.png')
%>

<% ribbon = capture do %>
  <% if klass.enrolled?(current_student) %>
    <a class="ui green left corner label">
      <i class="fa fa-check fa-lg adjusted-for-ribbon"></i>
    </a>
  <% elsif 30.days.ago.to_date <= klass.begins_on %>
    <a class="ui red left corner label">
      <i class="fa fa-gift fa-lg adjusted-for-ribbon"></i>
    </a>
  <% end %>
<% end %>

<% if view == :item %>
  <%= ui_item(th, hdr, labels, markdown(summary(klass.course.about)), ui_klass_enrollment_action(klass, :enroll, true), ribbon) %>
<% else %>
  <div class="column">
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <%= ui_klass_enrollment_action(klass, :enroll, true) %>
            </div>
          </div>
        </div>
        <%= ribbon %>
        <img src="<%= th %>">
      </div>
      <div class="content">
        <%= hdr %>
        <div class="meta">
          <small><%= subhdr %></small>
        </div>
        <div class="description">
          <%= markdown(summary(klass.course.about)) %><br />
        </div>
        <div class="extra">
          <%= ui_klass_labels(klass, true) %>
        </div>
      </div>
      <div class="extra content">
        <% instructor, instructors_count = klass.instructors(:first) %>
        <%= image_tag((instructor.avatar_url(current_account, :th) || instructor.user.profile.avatar_url(current_account, :th) || '/images/nobody-th.png'),
              :size => '21x21', :class => "right floated ui avatar image") %>
        <%= instructors_count > 1 ? t('page.text.first_and_others', :first => instructor.name) : instructor.name %>
      </div>
    </div>
  </div>
<% end %>
