<br /><br />
<%= link_to main_app.learn_klass_path(@klass) do %>
  <%= image_tag ui_image_src(@klass.course.poster ? @klass.course.poster.at_url(:md) : nil, '/images/holder-md.png'),
        class: "hidden-xs hidden-sm #{css_image(:responsive)}" %>
<% end %>

<%
enrolled = (@klass.enrolled?(current_student) || staff?(current_user, @klass.course))

add_item_to_app_menu :klass_side, link_to(css_icon(:university, 2) + t("activerecord.actions.main"), main_app.learn_klass_path(@klass),
  class:"item #{'active' if controller_name == 'klasses' && action_name == 'show'}")

if @klass.course.config['allow_access_to']['syllabus']
  add_item_to_app_menu :klass_side, link(:page, :syllabus, main_app.learn_klass_page_path(@klass, @klass.course.syllabus),
    class:"item #{'active' if @page && @page == @klass.course.syllabus}")
end

if @klass.course.config['allow_access_to']['lectures']
  if (@klass.open? && ((@klass.allow_enrollment && enrolled) || @klass.previewed)) || (@klass.past? && @klass.lectures_on_closed)
    add_item_to_app_menu :klass_side, link_to(t("page.titles.outline").html_safe, main_app.learn_klass_lectures_path(@klass),
      class:"item #{'active' if controller_name == 'lectures'}")
  end
end

if @klass.course.config['allow_access_to']['forums']
  if @klass.allow_enrollment && enrolled
    if @klass.open? || @klass.past?
      add_item_to_app_menu :klass_side, link_to(t("page.titles.forums").html_safe, main_app.learn_klass_forums_path(@klass),
        class:"item #{'active' if %w(forums topics).include?(controller_name)}")
    end
  end
end

divider = false
if @klass.course.config['allow_access_to']['assessments']
  if @klass.allow_enrollment && @klass.open? && enrolled
    course_assessments = @klass.course.assessments.where('unit_id is null and ready = TRUE and kind in (:kinds)',
      :kinds => @klass.course.config["grading"]["distribution"]["assessments"]["course"].keys)

    course_assessments.each_with_index do |a,i|
      if a.can_be_taken?(@klass, current_student)
        add_item_to_app_menu :klass_side, tag(:hr) unless divider
        add_item_to_app_menu :klass_side, link_to(a.name, main_app.learn_klass_assessment_path(@klass, a), class:"item #{'active' if %w(assessments attempts).include?(controller_name) && @assessment && @assessment.id == a.id}")
        divider = true
      end
    end
  end
end

if @klass.allow_enrollment && @klass.open? && enrolled
  surveys = @klass.course.assessments.
    where("unit_id is null and ready = TRUE and kind = 'survey'").
    tagged_with(:on_enroll, :exclude => true)

  surveys.each do |survey|
    if survey.can_be_taken?(@klass, current_student)
      add_item_to_app_menu :klass_side, tag(:hr) unless divider
      add_item_to_app_menu :klass_side, link_to(survey.name, main_app.new_learn_klass_assessment_attempt_path(@klass, survey), class: 'item')
      divider = true
    end
  end
end

pages_links = []
pages = enrolled ? @klass.course.non_syllabus_pages(true).to_a : @klass.course.non_syllabus_pages(true, true).to_a
if pages.present?
  pages_links << link_to(t("page.titles.pages").html_safe, main_app.learn_klass_pages_path(@klass),
    class:"item #{'active' if controller_name == 'pages' && (@page.nil? || @page != @klass.course.syllabus) }")
  divider = true
end

books = enrolled ? @klass.course.books : []
if books.present?
  pages_links << link_to(t('page.titles.attachments').html_safe, main_app.learn_klass_materials_path(@klass),
    class:"item #{'active' if controller_name == 'materials' }")
end

if pages_links.present?
  pages_links.each do |a|
    add_item_to_app_menu :klass_side, tag(:hr) unless divider
    add_item_to_app_menu :klass_side, a
  end
end

if @klass.allow_enrollment && enrolled
  reports_links = []
  if @klass.course.config['allow_access_to']['reports']
    if @klass.open? || @klass.past?
      reports_links << link_to(t('activerecord.actions.reports').html_safe, main_app.report_learn_klass_path(@klass),
        class:"item #{'active' if controller_name == 'klasses' && action_name == 'report' && params[:student_id].blank?}")
    end
  end

  if !staff?(current_user, @klass.course) && (@klass.open? || @klass.future?) && enrolled
    reports_links << ui_klass_enrollment_action(@klass, :drop)
  end

  if reports_links.present?
    add_item_to_app_menu :klass_side, tag(:hr)
    reports_links.each do |a|
      add_item_to_app_menu :klass_side, a
    end
  end
end

if @klass && staff?(current_user, @klass.course)
  add_item_to_app_menu :klass_side, tag(:hr)
  add_item_to_app_menu :klass_side, content_tag(:div, t('page.titles.for_instructors'), :class => 'item subtitle')
  active = if controller_name == 'klasses' && (action_name == 'students' || (action_name == 'report' && params[:student_id]))
    true
  else
    false
  end
  add_item_to_app_menu :klass_side, link_to(t('page.titles.students').html_safe, main_app.students_learn_klass_path(@klass),
            class: "item #{'active' if active}")

  add_item_to_app_menu :klass_side, link_to(t('activerecord.actions.dashboard').html_safe, main_app.learn_klass_dashboard_path(@klass),
    class: "item #{controller_name == 'dashboard' ? 'active' : nil}")
end
%>

<%= mountable_fragments :klass_side_menu %>

<div class="nav-and-social-container">
  <div class="ui link selection list">
    <% app_menu(:klass_side)[:_].each do |item| %>
      <%= item %>
    <% end %>
  </div>
  <div class='text-center social-buttons'>
    <%= ui_facebook_link(@klass) %>
    <%= ui_twitter_link(@klass) %>
    <%= ui_google_plus_link(@klass) %>
  </div>
</div>
