<% enrolled =  (@klass.enrolled?(current_student) || staff?(current_user, @klass.course)) %>

<% if enrolled %>
  <% if @klass.open? && @klass.allow_enrollment %>
    <% deadlines = @klass.upcoming_deadlines %>
    <% unless deadlines.to_a.empty? %>
      <% content_for :additional_nav do %>
        <%= ui_panel(capture do %>
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;
          <%= t('page.titles.upcoming_deadlines') %>
        <% end, nil, capture do %>
          <ul>
            <% deadlines.each do |deadline| %>
              <li>
                <%= t("page.text.upcoming_deadlines", :name => deadline.name,
                      :count => (deadline.closes_at.to_date - Time.zone.today).to_i)
                %>
              </li>
          	<% end %>
          </ul>
          <% end, nil, :primary) %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield :additional_nav %>

  <!-- Klass Updates -->
  <% updates = Update.sent(@klass, :www => true) %>
  <% unless updates.empty? %>
    <% updates.each_with_index do |update,ndx| %>
      <%= tag :hr unless ndx == 0 %>
      <h4><%= update.subject %></h4>
      <h4><small><%= "#{l(update.updated_at)}" %></small></h4>
      <%= markdown(update.body) %>
    <% end %>
  <% end %>
  <br />
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="<%= css_columns(@klass.course.video ? 8 : 12) %>">
          <%= content_tag :h4, t('page.titles.about_class') unless updates.empty? %>
          <%= markdown(@klass.course.about) %>
        </div>
        <% if @klass.course.video %>
          <div class="<%= css_columns(4) %>">
            <%= content_tag :div do %>
              <%= ui_video(@klass.course.video, @klass.course.poster) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else # not enrolled %>
  <div class="row">
    <div class="<%= css_columns(8) %>">
      <%= ui_header @klass.course.name, style: :h2, :action => staff_or_student_view(render(:partial => 'learn/klasses/student_picker')) %>

      <%= markdown @klass.course.syllabus.about %>
    </div>
    <div class="<%= css_columns(4) %>">
      <div class="ui fluid card">
        <div class="image">
          <% if @klass.course.video %>
            <%= content_tag :div do %>
              <%= ui_video(@klass.course.video, @klass.course.poster) %>
            <% end %>
          <% else %>
            <%= image_tag ui_image_src(@klass.course.poster ? @klass.course.poster.at_url(:sm) : nil, '/images/holder-sm.png') %>
          <% end %>
        </div>
        <div class="content">
          <div class="meta">
            <small><%= klass_from_and_to_dates(@klass) %></small>
          </div>
          <div class="description">
            <%= markdown(@klass.course.about) %>
          </div>
          <div class="extra">
            <div class="ui big horizontal list">
              <!-- <div class="item"><%= @klass.course.weeks %></div>
              <div class="item"><%= @klass.course.workload %></div>
              <div class="item"><%= klass_availability(@klass) %></div>
              <div class="item"><%= $site['supported_locales'][@klass.course.locale] %></div> -->
              <%= ui_klass_labels(@klass, false).join("\n").html_safe %>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="description">
            <%= ui_klass_enrollment_action @klass, :enroll %>
          </div>
          <div class="extra">
            <br />
            <%= render 'learn/instructors/index' %>
            <br /></br />
            <div class='text-center social-buttons'>
              <%= ui_facebook_link(@klass, %(&nbsp;&nbsp;#{t('activerecord.actions.facebook')}).html_safe) %>
              <%= ui_twitter_link(@klass, %(&nbsp;&nbsp;#{t('activerecord.actions.twitter')}).html_safe) %>
              <%= ui_google_plus_link(@klass, %(&nbsp;&nbsp;#{t('activerecord.actions.google')}).html_safe) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
