<tr>
  <td><%= account_counter + 1 %></td>
  <td><%= link_to account.slug, admin_account_path(account) %></td>
  <td>
    <strong><%= account.name %></strong>
    <%= markdown account.about %>
  </td>
  <td><%= ui_icon(:check) if account.active %></td>
  <td><%= ui_icon(:check) if account.live %></td>
  <td>
    <%= timeago_tag account.live_since, :nojs => true, :limit => 10.days.ago %>
  </td>
  <td>
    <% links = [] %>
    <% if account.slug == $site['default_account'] %>
      <% links << link(:account, :edit, edit_admin_account_path(account), remote: true, class: "ui positive button") %>
    <% else %>
      <%
        links << link(:account, :edit, edit_admin_account_path(account), remote: true, class: "ui positive button")
        links << link(:account, account.active ? :inactivate : :activate, admin_account_path(account, :'account[active]' => !account.active), :method => :put, class: "ui positive basic button")
        links << link(:account, account.live ? :offline : :online, admin_account_path(account, :'account[live]' => !account.live), :method => :put, class: "ui positive basic button")
        links << link(:account, :destroy, [:admin, account], :method => :delete, confirm: true, class: "ui negative button")
      %> 
    <% end %>
    <%= ui_buttons links %>
  </td>
</tr>