<div class="row">
  <div class="<%= css_columns(@account.new_record? ? 12 : 6) %>">
    <%= form_header %>
    <%= themed_form_for [:admin, @account], :show_help => false do |f| %>
      <fieldset>
        <% if current_user.id == 1 %>
          <%= form_text f, :slug %>
        <% else %>
          <%= form_static f, :slug %>
        <% end %>
        
        <%= form_text f, :name %>
        <%= form_markdown f, @account, :about, :size => '60x10' %>
      </fieldset>
      <fieldset>
        <legend><%= t('page.titles.administrator') %></legend>
        <%= f.fields_for :user do |a| %>
          <% if @account.new_record? %>
            <%= form_text a, :name %>
            <%= form_email a, :email %>
            <%= form_password a, :password %>
            <%= form_password a, :password_confirmation %>
          <% else %>
            <%= form_static a, :name %>
            <%= form_static a, :email %>
          <% end %>
        <% end %>
      </fieldset>
      <%= form_submit f, current_user.id == 1 ? admin_accounts_path : home_path  %>  
    <% end %>
  </div>
  <% unless @account.new_record? %>
    <div class="<%= css_columns(6) %>">
      <%= ui_header t('activerecord.actions.account_settings') %>

      <% 
        html = ''
        json_settings_tree(configure_admin_account_path(@account, setting: '_key_'), nil, @account.config, html, [], 1, [])
      %>

      <%= html.html_safe %>
    </div>
  <% end %>
</div>



