<div class="row">
  <div class="<%= css_columns(@account.new_record? ? 24 : 12) %>">
    <%= form_header %>
    <%= themed_form_for [:admin, @account], :show_help => false do |f| %>
      <fieldset>
        <% if current_user.id == 1 %>
          <%= f.text_field :slug %>
        <% else %>
          <%= f.static :slug %>
        <% end %>

        <%= f.text_field :name %>
        <%= f.text_area :about, :size => '60x5' %>
      </fieldset>
      <fieldset>
        <legend><%= t('page.title.administrator') %></legend>
        <%= f.fields_for :user do |a| %>
          <% if @account.new_record? %>
            <%= a.text_field :name %>
            <%= a.email_field :email %>
            <%= a.password_field :password %>
            <%= a.password_field :password_confirmation %>
          <% else %>
            <%= a.static :name %>
            <%= a.hidden_field :name %>
            <%= a.hidden_field :email %>
          <% end %>
        <% end %>
      </fieldset>
      <%= f.submit %>
      <%= f.cancel current_user.id == 1 ? admin_accounts_path : home_path  %>
    <% end %>
  </div>
  <% unless @account.new_record? %>
    <div class="<%= css_columns(12) %>">
      <%= ui_header t('helpers.submit.account_settings') %>

      <%
        html = ''
        json_settings_tree(configure_admin_account_path(@account, setting: '_key_'), nil, @account.config, html, [], 1, [])
      %>

      <%= html.html_safe %>
    </div>
  <% end %>
</div>
