<%= modal_form_for [:admin, @account] do |f| %>
  <div class="two fields">
    <% if current_user.id == 1 %>
      <%= f.text_field :slug %>
    <% else %>
      <%= f.static :slug %>
    <% end %>

    <%= f.text_field :name %>
  </div>
  
  <%= f.text_area :about, :size => '60x5' %>
  <h3 class"ui header"><%= t('page.title.administrator') %></h3>
  <%= f.fields_for :user do |a| %>
    <% if @account.new_record? %>
      <div class="two fields">
        <%= a.text_field :name %>
        <%= a.email_field :email %>
      </div>
      <div class="two fields">
        <%= a.password_field :password %>
        <%= a.password_field :password_confirmation %>
      </div>
    <% else %>
      <%= a.static :name %>
      <%= a.hidden_field :name %>
      <%= a.hidden_field :email %>
    <% end %>
  <% end %>
  
  <%= f.submit %>
  <%= f.cancel current_user.id == 1 ? admin_accounts_path : home_path  %>
<% end %>
