<%= ui_header Account.model_name.human(count: 3), action: link(:account, :new, new_admin_account_path, :class => "ui primary button") %>
<%= 
paginator = content_tag :div, paginate(@accounts, :remote => true), id: "paginator"

search = search_form_for [:admin, @q], method: :get, remote: true, wrapper: false, header: false do |f|
  f.search_field :slug_or_name_cont, hint: false, label: false, placeholder: true 
end 
ui_side_by_side paginator, search %>

<table class="ui striped selectable small table">
  <thead>
    <tr>
      <th>#</th>
      <th><%= Account.human_attribute_name(:slug) %></th>
      <th><%= Account.human_attribute_name(:name) %></th>
      <th><%= Account.human_attribute_name(:active) %></th>
      <th><%= Account.human_attribute_name(:live) %></th>
      <th><%= Account.human_attribute_name(:live_since) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="all-accounts">
    <%= render @accounts %>
    
    <% if @accounts.empty? %>
    <tr>
      <td colspan="7"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

