<% search = search_form_for [:admin, @q], class: "search-form form-inline #{css_align(:right)}", :remote => true do |f| %>
  <%= form_search f, :slug_or_name_cont, hint: false, label: false, placeholder: true %>
<% end %>
<%= ui_header Account.model_name.human(count: 3), action: search %>

<div id="paginator" class="<%= css_align(:left) %>"><%= paginate @accounts, :remote => true %></div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= Account.human_attribute_name(:slug) %></th>
      <th><%= Account.human_attribute_name(:name) %></th>
      <th><%= Account.human_attribute_name(:active) %></th>
      <th><%= Account.human_attribute_name(:live) %></th>
      <th><%= Account.human_attribute_name(:live_since) %></th>
      <th><%= link(:account, :new, new_admin_account_path, :class => css(button: :success, align: :right)) %></th>
    </tr>
  </thead>
  <tbody id="all-accounts">
    <%= render @accounts %>
    
    <% if @accounts.empty? %>
    <tr>
      <td colspan="7"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

