<%= ui_header "#{@account.name}: #{@account.slug}", action: ui_buttons([
  link(:account, :edit, edit_admin_account_path(@account), remote: true, class: "ui positive button"),
  link_to(t('helpers.submit.back_to_list'), admin_accounts_path, class: "ui button")]) %>

<h3><%= t('page.title.basic_info') %></h3>
<%= markdown(@account.about) %>

<%= form_for [:admin, @account], header: false, wrapper: false do |f| %>
  <%= f.check_box :active, :disabled => true %>
  <%= f.check_box :live,  :disabled => true  %>
<% end %>

<h3><%= t('page.title.administrator') %></h3>
<%= form_for @account.user, header: false, wrapper: false do |f| %>
  <%= f.static :name %>
  <%= f.static :email  %>
<% end %>
