<%= ui_header "#{@account.slug}: #{@account.name}" %>

<% form = capture do %>
  <h3><%= t('page.title.basic_info') %></h3>
  <span>
  <%= markdown(@account.about) %>
  </span>

  <%= form_for [:admin, @account] do |f| %>
    <%= f.check_box :active, :disabled => true %>
    <%= f.check_box :live,  :disabled => true  %>
  <% end %>

  <h3><%= t('page.title.administrator') %></h3>
  <strong><%= User.human_attribute_name(:name) %></strong><br>
  <span>
    <%=  @account.user.name %>
  </span><br>

  <strong><%= User.human_attribute_name(:email) %></strong><br>
  <span>
    <%=  @account.user.email %>
  </span>
  <br><br>
  <%= link :account, :edit, edit_admin_account_path(@account), :class => "ui primary button" %>
  <%= link :account, :cancel, admin_accounts_path, :class => "ui button" %>
<% end %>
<% settings = capture do %>
  <h3><%= t('page.title.settings') %></h3>
  <%= highlighted_code @account.settings, 'json' %>
<% end%>

<%= ui_side_by_side form, settings, "six by ten" %>

