<%= form_header %>

<%= themed_form_for [:teach, @course, @unit, @lecture, @klass, @update] do |f| %>
  <div class="row">
    <div class="<%= css_columns(4) %>">
      <%= form_select f, :to, t('config.update.to').invert %>
    </div>
    <div class="<%= css_columns(2) %>">
      <br/><%= form_checkbox f, :www %>
    </div>
    <div class="<%= css_columns(3) %>">
      <br/><%= form_checkbox f, :email %>
    </div>
  </div>
  
  <%= form_text f, :subject %>
  <%= form_markdown f, @update, :body, :size => '60x5' %>
  <%= form_checkbox f, :active %>
  
  <%= form_submit f, the_path_out %>
<% end %>
