<%= form_header %>

<%= themed_form_for [:teach, @course || @update.course, @unit || @update.unit, @lecture || @update.lecture, @klass, @update] do |f| %>
  <div class="row">
    <div class="<%= css_columns(4) %>">
      <%= f.select :to, t('config.update.to').invert %>
    </div>
    <div class="<%= css_columns(2) %>">
      <br/><%= f.check_box :www %>
    </div>
    <div class="<%= css_columns(3) %>">
      <br/><%= f.check_box :email %>
    </div>
  </div>
  
  <%= f.text_field :subject %>
  <%= f.markdown :body, :size => '60x5' %>
  <%= f.check_box :active %>
  
  <%= form_submit f, the_path_out %>
<% end %>
