<%= form_for [:teach, @course || @update.course, @unit || @update.unit, @lecture || @update.lecture, @klass, @update] do |f| %>
  <div class="three fields">
    <%= f.select :to, t('config.update.to').invert %>
    <%= f.check_box :www %>
    <%= f.check_box :email %>
  </div>
  
  <%= f.text_field :subject %>
  <%= f.markdown :body, :size => '60x5' %>
  <%= f.check_box :active %>
  
  <%= f.submit %>
  <%= f.cancel the_path_out %>
<% end %>
