<%= form_header %>

<%= themed_form_for @faculty_application do |f| %>
  <%= t('page.text.faculty_application_html') %>
  <div class="row">
    <div class="<%= css_columns(6) %>">
      <fieldset>
        <legend><%= t('page.titles.about_you') %></legend>
        <%= form_text f, :name %>
        <%= form_text f, :prefix %>
        <%= form_text_area f, :about, :size => '60x5' %>
        <%= form_checkbox f, :update_profile %>
      </fieldset>
    </div>
    <div class="<%= css_columns(6) %>">
      <fieldset>
        <legend><%= t('page.titles.about_your_course') %></legend>
        <%= form_text f, :course %>
        <%= form_text_area f, :description, :size => '60x5' %>

        <div class="row">
          <div class="<%= css_columns(6) %>">
      	    <%= form_number f, :weeks %>
          </div>
          <div class="<%= css_columns(6) %>">
      	    <%= form_number f, :workload %>
          </div>
        </div>
        <div class="row">
          <div class="<%= css_columns(6) %>">
            <%= form_select f, :locale, $site['supported_locales'].invert %>
          </div>
          <div class="<%= css_columns(6) %>">
            <%= form_country_select f, :country, {:include_blank => true}, :class => "chosen-select #{rtl? ? 'chosen-rtl' : ''}" ,
                  :'data-placeholder'=> t('activerecord.placeholders.country') %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <%= label_tag :agreed do %>
    <%= check_box_tag :agreed_to_faculty_application %>
    <%= t('page.text.faculty_agreement') %>
  <% end %>

  <br />
  <%= form_submit f, home_path %>
<% end %>
