<%= form_header %>

<%= themed_form_for @faculty_application do |f| %>
  <%= t('page.text.faculty_application_html') %>
  <div class="row">
    <div class="<%= css_columns(6) %>">
      <fieldset>
        <legend><%= t('page.title.about_you') %></legend>
        <%= f.text_field :name %>
        <%= f.text_field :prefix %>
        <%= f.text_area :about, :size => '60x5' %>
        <%= f.check_box :update_profile %>
      </fieldset>
    </div>
    <div class="<%= css_columns(6) %>">
      <fieldset>
        <legend><%= t('page.title.about_your_course') %></legend>
        <%= f.text_field :course %>
        <%= f.text_area :description, :size => '60x5' %>

        <div class="row">
          <div class="<%= css_columns(6) %>">
      	    <%= f.number_field :weeks %>
          </div>
          <div class="<%= css_columns(6) %>">
      	    <%= f.number_field :workload %>
          </div>
        </div>
        <div class="row">
          <div class="<%= css_columns(6) %>">
            <%= f.select :locale, $site['supported_locales'].invert %>
          </div>
          <div class="<%= css_columns(6) %>">
            <%= f.country_select :country, nil, {:include_blank => true}, :class => "chosen-select #{rtl? ? 'chosen-rtl' : ''}" ,
                  :'data-placeholder'=> t('helpers.placeholder.country') %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <br />
  <%= label_tag :agreed_to_faculty_application do %>
    <%= check_box_tag :agreed_to_faculty_application %>
    <%= t('page.text.faculty_agreement') %>
  <% end %>
  <br /><br />
  <%= form_submit f, home_path %>
<% end %>
