<%= modal_form_for @faculty_application do |f| %>
  <%= t('page.text.faculty_application_html') %>
  <h3 class"ui header"><%= t('page.title.about_you') %></h3>
  <%= f.text_field :name %>
  <%= f.text_field :prefix %>
  <%= f.text_area :about, :size => '60x5' %>
  <%= f.check_box :update_profile %>

  <h3 class"ui header"><%= t('page.title.about_your_course') %></h3>
  <%= f.text_field :course %>
  <%= f.text_area :description, :size => '60x5' %>

  <div class="two fields">
    <%= f.number_field :weeks %>
    <%= f.number_field :workload %>
  </div>
  <div class="two fields">
    <%= f.select :locale, $site['supported_locales'].invert %>
    <%= f.country_select :country, nil, :include_blank => true %>
  </div>

  <%= label_tag :agreed_to_faculty_application do %>
    <%= check_box_tag :agreed_to_faculty_application %>
    <%= t('page.text.faculty_agreement') %>
  <% end %>
  
  <%= f.submit %> <%= f.cancel home_path %>
<% end %>
