<%= ui_header t('page.title.faculty_application') %>

<%= form_for @faculty_application, header: false, wrapper: false do |f| %>
  <%= t('page.text.faculty_application_html') %>

  <h3 class"ui header"><%= t('page.title.about_you') %></h3>
  <%= f.static :name %>
  <%= f.static :about, :value => markdown(@faculty_application.about) %>
  <div class="two fields">
    <%= f.static :prefix %>
    <%= f.check_box :update_profile, :disabled => true %>
  </div>
  
  <h3 class"ui header"><%= t('page.title.about_your_course') %></h3>
  <%= f.static :course %>
  <%= f.static :description, :value => markdown(@faculty_application.description) %>

  <div class="two fields">
    <%= f.static :weeks %>
    <%= f.static :workload %>
  </div>
  <div class="two fields">
    <%= f.static :locale, :value => $site['supported_locales'][@faculty_application.locale] %>
    <%= f.static :country %>
  </div>

  <%= link :faculty_application, :approve, approve_faculty_application_path(@faculty_application),
        :method => :put, :class => "ui positive button" %>
  <%= link :faculty_application, :decline, decline_faculty_application_path(@faculty_application),
        :method => :put, :class => "ui negative button" %>
  <%= link :faculty_application, :cancel, home_path %>
<% end %>
