<%= ui_header t('page.title.faculty_application') %>

<%= themed_form_for @faculty_application do |f| %>
  <%= t('page.text.faculty_application_html') %>
  <div class="row">
    <div class="<%= css_columns(12) %>">
      <fieldset>
        <legend><%= t('page.title.about_you') %></legend>
        <%= f.static :name %>
        <%= f.static :prefix %>
        <%= f.static :about, :value => markdown(@faculty_application.about) %>
        <%= f.check_box :update_profile, :disabled => true %>
      </fieldset>
    </div>
    <div class="<%= css_columns(12) %>">
      <fieldset>
        <legend><%= t('page.title.about_your_course') %></legend>
        <%= f.static :course %>
        <%= f.static :description, :value => markdown(@faculty_application.description) %>

        <div class="row">
          <div class="<%= css_columns(12) %>">
      	    <%= f.static :weeks %>
          </div>
          <div class="<%= css_columns(12) %>">
      	    <%= f.static :workload %>
          </div>
        </div>
        <div class="row">
          <div class="<%= css_columns(12) %>">
            <%= f.static :locale, :value => $site['supported_locales'][@faculty_application.locale] %>
          </div>
          <div class="<%= css_columns(12) %>">
            <%= f.static :country %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <%= link :faculty_application, :approve, approve_faculty_application_path(@faculty_application),
        :method => :put, :class => css_button(:success) %>
  <%= link :faculty_application, :decline, decline_faculty_application_path(@faculty_application),
        :method => :put, :class => css_button(:danger) %>
  <%= link :faculty_application, :cancel, home_path, :class => css_button(:default) %>
<% end %>
