<%= ui_header t('page.title.dashboard') %>  

<div class="row">
  <div class="<%= css_columns(17) %>">
    <% data = dashboard_admin_activity_counts %>
    <%= ui_chart 'admin_activity_counts', 
        'PieChart', data[:counts], {pieHole: 0.4}, 300 %>
  </div>
  <div class="<%= css_columns(7) %>">
  <%# ui_header t('page.title.confirmations_vs_enrollments'), :style => :h3 %>  
  <%= ui_chart 'user_enrollment_scatter', 
        'ScatterChart', 
        dashboard_confirmations_vs_enrollments(3.weeks.ago, 'confirmations', 'enrollments'),{
          hAxis: {title: t('page.title.confirmation'), minValue: 0, maxValue: 15},
          vAxis: {title: t('page.title.enrollment'), minValue: 0, maxValue: 15},
          legend: 'none', chartArea: { left:50,top:40,width:'100%',height:'75%' }
        }, 300 %> 
  </div>
  <div class="<%= css_columns(24) %>">
  <%# ui_header t('page.title.user_activities'), :style => :h3 %>  
  <%= ui_chart 'admin_user_activities', 
        'LineChart', 
        dashboard_admin_user_activities(3.weeks.ago),
        {curveType: 'function', legend: { position: 'top' }, chartArea: { left:50,top:40,width:'100%',height:'75%' }}, 300 %>

  </div>
</div>