<%= form_for [:teach, @course, @unit] do |f| %>
  <%= f.hidden_field :course_id %>
	<%= f.text_field :name %>
  <%= f.markdown :about, :size => '60x5' %>
  
  <div class="three fields">
    <%= f.static :based_on %>
    <%= f.hidden_field :based_on %>
    <%= f.text_field :on_date, class: 'datepicker' %>
    <%= f.number_field :for_days %>
  </div>
  
  <%= f.check_box :previewed %>
  
  <%= f.submit %>
  <%= f.cancel @unit.new_record? ? teach_course_path(@course) : teach_course_units_path(@course) %>
<% end %>
