<%= ui_header unit.name, action: ui_buttons([
      link(:unit, :edit, edit_teach_course_unit_path(@course, unit), remote: true, class: 'ui positive button'),
      nil,
      link(:unit, :destroy, teach_course_unit_path(@course, unit), :method => :delete, confirm: true, class: 'ui negative button')
    ]) %>
    
<%= markdown(unit.about) %> 

<%
  assessments = unit.assessments.where(lecture_id: nil).to_a
  documents =  unit.materials_of_kind(:document).to_a 
  updates = unit.updates.to_a

  links = []

  @course.config["grading"]["distribution"]["assessments"]["unit"].keys.each do |k|
    links << link_to(k, new_teach_course_unit_assessment_path(@course, unit, :t => k), remote: true, class: 'item')
  end
%>
 
<% content = capture do %>
  <div class="ui basic segment">
    <%= ui_header Lecture.model_name.human(count: 3), style: :h3, action: link(:lecture, :new, new_teach_course_unit_lecture_path(@course, unit), remote: true, class: 'ui primary button') %>
    <%= render partial: "teach/lectures/index", locals: { unit: unit } %>
  </div>

  <div class="ui basic segment">
    <%= ui_header Assessment.model_name.human(count: 3), style: :h3, action: ui_dropdown_button(t("page.text.new"), links) %>
    <div class="ui list">
      <% assessments.each_with_index do |a, i| %>
        <div class="item">
          <div class="header">
            <%= link_to(a.name, teach_course_unit_assessment_path(@course, unit, a)) %>
            <div class="ui left pointing label"><%= a.kind %></div>
            <%= content_tag(:div, t('page.text.unready'), class: "ui label") unless a.ready %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui basic segment">
    <%= ui_header Page.model_name.human(count: 3), style: :h3, action: link(:page, :new, new_teach_course_unit_page_path(@course, unit), remote: true, class: 'ui primary button') %>
    <div class="ui list">
      <% unit.pages.each_with_index do |page, i| %>
        <div class="item">
          <div class="header">
            <%= link_to page.name, teach_course_unit_page_path(@course, unit, page) %>
            <div class="ui left pointing label"><%= timeago_tag(page.created_at, :nojs => true, :limit => 10.days.ago) %></div>
            <%= content_tag(:div, t('page.text.unpublished'), :class => "ui label") unless page.published %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui basic segment">
    <%= ui_header t('page.title.documents'), style: :h3, action: link(:material, :add_document, new_teach_course_unit_material_path(@course, unit, :s => :document, :multiple => true), class: 'ui primary button') %>
    <div class="ui list">
      <% documents.each_with_index do |document, i| %>
        <%= render partial: "application/media/medium", 
              locals: {medium: document.medium, medium_counter: i, 
              action: link(:material, :destroy, 
              teach_course_unit_material_path(@course, unit, document), 
              :method => :delete, :class => "ui negative button", 
              confirm: true) 
            } %>
      <% end %>
    </div>
  </div>

  <div class="ui basic segment">
   <%= ui_header Update.model_name.human(count: 3), style: :h3, action: link(:update, :new, new_teach_course_unit_update_path(@course, unit), remote: true, class: 'ui primary button') %>
   <%= t('page.text.unit_updates') %>
   <%= render partial: 'teach/updates/index', locals: { updates: updates } %>
  </div>
<% end %>

<% aside = capture do %>
  <%= render 'teach/units/to_do' %>
<% end %>

<%= ui_side_by_side content, aside, 'sixteen by zero' %>