<p><%= t('page.text.course_units_html') %></p>

<%
  units = @course.units.order('units.order').to_a
%>

<%= content_tag :div, class: "course units" do %>
  <div class="ui top attached unit menu">
    <a class="item">
      <i class="sidebar icon"></i>
      <%= Unit.model_name.human(count: 3) %>
    </a>
    <div class="right menu">
      <div class="item">
        <%= link(:unit, :new, new_teach_course_unit_path(@course), remote: true, :class => 'ui primary button') %>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui left inline vertical sidebar dynamic menu" id="sortable-units" data-update-url="<%= sort_teach_course_units_path(@course) %>">
      <% units.each_with_index do |unit, i| %>
        <% if unit == @unit %>
          <%= link_to unit.name, nil, class: 'active item', id: "unit_#{unit.id}" %>
        <% else %>
          <%= link_to unit.name, teach_course_unit_path(@course, unit), class: 'item', id: "unit_#{unit.id}" %>
        <% end %>
      <% end %>
    </div>
    <div class="pusher">
      <%= content_tag :div, class: "ui active basic segment" do %>
        <%= render :partial => 'teach/units/show', :locals => { unit: @unit} %>
      <% end if @unit %>
    </div>
  </div>
<% end %>
