<%= t('page.text.course_unit_html') %>

<%
  units = @course.units.order('units.order').to_a
  active_unit_id = @unit ? @unit.id : units&.first&.id
%>

<%= content_tag :div, class: "course units" do %>
  <div class="ui top attached unit menu">
    <a class="item">
      <i class="sidebar icon"></i>
      <%= Unit.model_name.human(count: 3) %>
    </a>
    <div class="right menu">
      <div class="item">
        <%= link(:unit, :new, new_teach_course_unit_path(@course), remote: true, :class => 'ui primary button') %>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui left inline vertical sidebar dynamic menu" id="sortable-units" data-update-url="<%= sort_teach_course_units_path(@course) %>">
      <% units.each_with_index do |unit, i| %>
        <%= content_tag :a, id: "unit_#{unit.id}", data: {tab: "unit_#{unit.id}"}, class: "#{'active ' if unit.id == active_unit_id}item" do %>
          <%= unit.name %>
        <% end %>
      <% end %>
    </div>
    <div class="pusher">
      <% units.each_with_index do |unit, i| %>
        <%= content_tag :div, data: {tab: "unit_#{unit.id}"}, class: "ui #{'active ' if unit.id == active_unit_id}basic tab segment" do %>
          <%= render :partial => 'teach/units/show', :locals => { unit: unit} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
