<div class="row pricing">
  <div class="<%= css_columns(8) %>">
    <%= content_tag :h3 do %>
      <%= image_tag ui_image_src(student.avatar_url(current_account, :th), '/images/nobody-th.png') %> 
      <%= student.name %>
    <% end %>
    
    <br/>
    <h4>
      <%= t('config.report.section.toc') %>
    </h4>
    <ul>
      <li><%= link_to t('config.report.section.summary'), "\#summary" %></li>
      <li><%= link_to t('config.report.section.standing'), "\#standing" %></li>
      <li><%= link_to t('config.report.section.assessment'), "\#assessment" %></li>
      <li><%= link_to t('config.report.section.attendance'), "\#attendance" %></li>
    </ul>
    
    <%= ui_header(content_tag(:a, '', id: :summary) + t('config.report.section.summary'), style: :h4) %>
    <ul>
      <li> 
        <strong><%= t('config.report.student.klass_begins') %></strong>: 
        <%= l(klass.begins_on) %>
      </li>
      <% if klass.ends_on %>
        <li>
          <strong><%= t('config.report.student.klass_ends') %></strong>: 
          <%= l(klass.ends_on) %>
        </li>
      <% end %>
      <li>
        <strong><%= t('config.report.student.user_since') %></strong>: 
        <%= l(student.user.confirmed_at.to_date) %>
      </li>
      <% unless staff?(student.user, klass.course) %>
        <li>
          <strong><%= t('config.report.student.since') %></strong>: 
          <% if student and (enrollment = klass.enrollments(:student_id => student.id).first) %>
            <%= l(enrollment.created_at.to_date) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div> 
  
  <% final = klass.final_score student.id %>
  <div class="<%= css_columns(4) %>">
    <div class="plan ">
      <div class="plan-head">
        <h1 class="price"><%= final[:letter] %></h1>
        <h4 class="description"><%= t('page.titles.final_score') %>: <strong><%= final[:score] %>%</strong></h4>
      </div>
      <ul class="plan-features">
        <% final[:detail].each do |k, v| %>
          <li><strong><%= v.round(2) %>%</strong> <%= t("page.text.#{k}") %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div> 
    
<div class="row">
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>">  
    <% data = stats_student_activity(klass, student, 'attended', :count) %>
    <%= ui_chart 'student_attendance', 
          'PieChart', 
          data,
          {legend: {position: 'bottom'}, pieSliceText: 'percentage', tooltip: {text: 'percentage'}}, 200 %>
    
    <h2><%= data[2][1] %></h2>
    <strong><%= t('config.activity.attended') %></strong>
  </div>
  
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>">  
    <% data = stats_student_activity(klass, student, 'finished') %>
    <%= ui_chart 'student_assessment', 
         'PieChart', 
         data,
         {legend: {position: 'bottom'}, pieSliceText: 'percentage', tooltip: {text: 'percentage'}}, 200 %>
    <h2><%= data[2][1] %></h2>
    <strong><%= t('config.activity.attempted') %></strong>
  </div>
  
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>">
    <% data = stats_student_activity(klass, student, ['posted', 'replied']) %>
    <%= ui_chart 'student_participation', 
         'PieChart', 
         data,
         {legend: {position: 'bottom'}, pieSliceText: 'percentage', tooltip: {text: 'percentage'}}, 200 %>
    
    <h2><%= data[2][1] %></h2>
    <strong><%= t('config.activity.participation') %></strong>                 
  </div>
</div>

<%= ui_header(content_tag(:a, '', id: :standing) + t('config.report.section.standing'), style: :h4) %>

<div class="row">
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>"> 
    <%= ui_chart 'student_lecture_assessments', 
          'LineChart', 
          stats_student_assessment(klass, student, 'lecture'),
          {legend: {position: 'bottom'}}, 250 %>
    <strong><%= t('config.report.assessment.lecture') %></strong>
  </div>
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>">
    <%= ui_chart 'student_unit_assessments', 
          'LineChart', 
          stats_student_assessment(klass, student, 'unit'),
          {legend: {position: 'bottom'}}, 250 %>       
    <strong><%= t('config.report.assessment.unit') %></strong>
  </div>
  <div class="<%= css_columns(4) %> <%= css_text(:center) %>"> 
    <%= ui_chart 'student_course_assessments', 
          'LineChart', 
          stats_student_assessment(klass, student, 'course'),
          {legend: {position: 'bottom'}}, 250 %>  
    <strong><%= t('config.report.assessment.course') %></strong>
  </div>
</div>

<br/>
<%= content_tag(:h4, content_tag(:a, '', id: :assessment) + t('config.report.section.assessment')) %>

<% assessments = Assessment.report(klass, student).all %>
<% if assessments.present? %>
  <table class="<%= css_table %>">
    <tbody>
      <thead>
        <tr>
          <th><%= Assessment.human_attribute_name(:name) %></th>
          <th class="<%= css_columns(1) %>"><%= Assessment.human_attribute_name(:level) %></th>
          <th class="<%= css_columns(1) %>"><%= Assessment.human_attribute_name(:kind) %></th>
          <th class="<%= css_columns(1) %>"><%= t('config.report.minimum') %></th>
          <th class="<%= css_columns(1) %>"><%= t('config.report.average') %></th>
          <th class="<%= css_columns(1) %>"><%= t('config.report.maximum') %></th>
        </tr>
      </thead>
      <% assessments.each_with_index do |a, i| %>
        <% level = (a.lname.present? ? Lecture : (a.uname.present? ? Unit : Course)).model_name.human %>
        <tr>
          <td>
            <h5><%= a.name %>
              <%= content_tag :small, %(<br/><strong>#{Unit.model_name.human}:</strong> #{a.uname}).html_safe if a.uname.present? %>
              <%= content_tag :small, %(<br/><strong>#{Lecture.model_name.human}:</strong> #{a.lname}).html_safe if a.lname.present? %>
            </h5>
          </td>
          <td><%= level %></td>
          <td><%= a.kind %></td>
          <td><%= a.min ? a.min.round(2) : 0.0 %></td>
          <td><%= a.avg ? a.avg.round(2) : 0.0  %></td>
          <td><%= a.max ? a.max.round(2) : 0.0  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('page.text.no_record_found') %>
<% end %>


<%= ui_header(content_tag(:a, '', id: :attendance) + t('config.report.section.attendance'), style: :h4) %>


<% attendance = Lecture.attendance(klass, student).all %>
<% unless attendance.blank? %>
  <% units = attendance.map{|a| a.u_name}.uniq %>
  <% count = 0 %>
  <% units.each_with_index do |u, i| %>
    <% if i % 3 == 0 %>
      <div class="row">
    <% end %>
    
    <div class="<%= css_columns(4) %>">
      <h4><%= u %></h4>
      <ul class="report-lists">
        <% lectures = attendance.select{|a| u == a.u_name}.map{|a| [a.name, a.attended]}.uniq %>
        <% lectures.each_with_index do |l, j| %>
          <li class="<%= 'attended' if l[1] > 0 %>">
            <%= l[0] %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <% if i % 3 == 2 %>
      </div>
    <% end %>
    <% count = i %>
  <% end %>
  
  <% if count % 3 != 2 %>
    </div>
  <% end %>
<% else %>
  <%= t('page.text.no_record_found') %>
<% end %>