<% options = { :method => :post,  :id => 'question-attempt-form', :remote => true } %>
<%= form_tag attempt_question_of_learn_klass_lecture_path(@klass, @lecture, question, :position => params[:position]), options do %>
  
  <% questions =  [question] %>
  <% questions.each_with_index do |q, ndx| %>
    <div id="attempt-question-<%= ndx %>" 
         class ="attempt-question panel panel-default question-<%= q.kind %>" 
         style="padding: 5px;<%= ' display: none;' if ndx > 0 %>">
         
      <%= render "teach/questions/#{q.kind}", :q => q, 
            :a => answer, 
            :show_answer => false,
            :read_only => false %>
    
      <div class="panel-footer">        
        <% if result %>
          <strong><%= t("page.text.#{result}") %></strong>
          <%= link_to t('activerecord.actions.try_again'), show_question_of_learn_klass_lecture_path(@klass, @lecture, question, :position => params[:position]), remote: true, class:  css(button: :default) %>
          <%= link_to t('activerecord.actions.show_answer'), '', class:  "#{css_button(:success)} show_lecture_question_answer" %>
        <% else %>
          <%= submit_tag t('activerecord.actions.submit_answer'), :class => css_button(:primary) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>