<% options = { :method => :post,  :id => 'question-attempt-form', :remote => true } %>
<%= form_tag attempt_question_of_learn_klass_lecture_path(@klass, @lecture, question), options do %>
  
  <% questions =  [question] %>
  <% questions.each_with_index do |q, ndx| %>
    <div id="attempt-question-<%= ndx %>" 
         class ="attempt-question panel panel-default" 
         style="padding: 5px;<%= ' display: none;' if ndx > 0 %>">
         
      <%= render "teach/questions/#{q.kind}", :q => q, 
            :a => answer, 
            :show_answer => false,
            :read_only => false %>
    
      <div class="panel-footer">        
        <% if true %>
          <%= submit_tag t('activerecord.actions.submit'), :class => css_button(:primary), 
                :value => t('activerecord.actions.submit') %>
        <% else %>
          <%= link_to(t('activerecord.actions.resume_lecture'), "#", 
                :class => "#{css_button(:default)} attempt-close-btn") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>