<h4 class="ui top attached block header">
  <%= %(#{t('page.title.selected_questions')} #{(f.index + 1) unless f.object.new_record?}) %>
  <%= f.hidden_field :_destroy %>
  <%= link f.object.question.present? ? :question : :q_selector, :destroy, '#', class: "remove_fields ui right floated mini negative button" %>
</h4>
<div class="ui attached clrearing segment">
  <% if f.object.question %>
    <%= render partial: "teach/questions/question", locals: {question: f.object.question, show_answer: false } %>
  <% else %>
    <div class="ui four column grid">
      <div class="three wide column">
        <%= f.collection_check_boxes :tags, question_banks(true).stringify_keys, :first, :second, {:label => t('page.title.question_banks')} %>
      </div>
      <div class="five wide column">
        <%= f.select :kind, t('config.question.kind').invert, :value => params[:s], include_blank: true %>
        <% if @unit %>
          <%= f.hidden_field :unit_id, value: @unit.id %>
        <% else %>
          <%= f.select :unit_id, @course.units.collect {|u| [u.name, u.id]} %>
        <% end %>
      </div>
      <div class="five wide column">
        <%= f.number_field :questions_count %>
        <% if @lecture %>
          <%= f.hidden_field :lecture_id, value: @lecture.id %>
        <% else %>
          <% if @unit %>
            <%= f.select :lecture_id, @unit.lectures.collect {|l| [l.name, l.id]} %>
          <% else %>
            <%= f.select :lecture_id, (f.object.unit ? f.object.unit.lectures.collect {|l| [l.name, l.id]} : []) %>
          <% end %>
        <% end %>
      </div>
      <div class="three wide column">
        <% unless @assessment.survey? %>
          <%= @assessment.kind != 'survey' ? f.number_field(:points) : f.static(:points)  %>
        <% end %>
        <%= f.hidden_field :order, class: "order-field" %>
      </div>
    </div>
  <% end %>
</div>
<br>