<div class="panel panel-default">
  <div class="panel-heading">
    <%= %(#{t('page.title.selected_questions')} #{(f.index + 1) unless f.object.new_record?}) %>
    <%= f.hidden_field :_destroy %>
    <%= link f.object.question.present? ? :question : :q_selector, :destroy, '#', class: "remove_fields #{css(button: [:danger, :xs], align: :right)}" %>
  </div>

  <% cols = @assessment.survey? ? 12 : 9 %>
  <div class="panel-body">
    <div class="<%= css_columns(cols) %>"> 
      <% if f.object.question %>
        <%= render partial: "teach/questions/question", locals: {question: f.object.question, show_answer: false } %>
      <% else %>
        <div class="row">
          <div class="<%= css_columns(3) %>">
            <%= form_checkbox_collection f, :tags, question_banks(true).stringify_keys, 
                  :first, :second, {:label => t('page.title.question_banks')}, :class => 'checkbox' %>
          </div>
          <div class="<%= css_columns(9) %>">
            <div class="row">
              <div class="<%= css_columns(6) %>"> 
                <%= f.select :kind, t('config.question.kind').invert, :value => params[:s], include_blank: true %>
              </div>
              <div class="<%= css_columns(6) %>">
                <%= f.number_field :questions_count %>
              </div>
            </div>
        
            <div class="row">
              <div class="<%= css_columns(6) %>">
                <% if @unit %>
                  <%= f.hidden_field :unit_id, value: @unit.id %>
                <% else %>
                  <%= f.select :unit_id, @course.units %>
                <% end %>
              </div>
              <div class="<%= css_columns(6) %>">
                <% if @lecture %>
                  <%= f.hidden_field :lecture_id, value: @lecture.id %>
                <% else %>
                  <% if @unit %>
                    <%= f.select :lecture_id, @unit.lectures %>
                  <% else %>
                    <%= f.select :lecture_id, (f.object.unit ? f.object.unit.lectures : []) %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>  
      <% end %>  
    </div>
    
    <% unless @assessment.survey? %>
      <div class="<%= css_columns(12 - cols) %>">
        <%= @assessment.kind != 'survey' ? f.number_field(:points) : f.static(:points)  %>
        
        <%= f.hidden_field :order, class: "order-field" %>
      </div>
    <% end %>
  </div>
</div>
