<%= form_header :name => @assessment.kind %>

<% kinds = @course.config["grading"]["distribution"]["assessments"][@lecture ? "lecture" : (@unit ? "unit" : "course")].keys %>

<%= themed_form_for [:teach,@course, @unit, @lecture, @assessment] do |f| %>
  <%= f.hidden_field :course_id %>
  <%= f.hidden_field :unit_id %>
  <%= f.hidden_field :lecture_id %>
  <%= f.hidden_field :kind, :value => :survey if @assessment.kind == 'survey' %>
  
  <% if @assessment.kind != 'survey' %>
    <div class="row">
      <div class="<%= css_columns(4) %>">
        <%= f.select :kind, kinds, 
              :value => params[:s], :include_blank => true %>
      </div>
      <div class="<%= css_columns(4) %>">
        <br/>
        <%= f.check_box :after_deadline %>
      </div>
      <div class="<%= css_columns(4) %>">
        <%= f.number_field :penalty %> 
      </div>
    </div>
  <% end %>
  
  <%= f.text_field :name %>      
  <%# f.markdown :about, :size => '60x5' %>
  
  <div class="row">
    <div class="<%= css_columns(4) %>">
      <%= f.static :based_on %>
      <%= f.hidden_field :based_on %>
    </div>
    <div class="<%= css_columns(4) %>">
      <% if @assessment.from_datetime.kind_of?(Time) %>
        <%= f.text_field :from_datetime, class: 'datetimepicker', value: @assessment.from_datetime.strftime("%Y-%m-%d %H:%M") %>
      <% else %>
        <%= f.text_field :from_datetime, class: 'datetimepicker' %>
      <% end %>
    </div>
    <div class="<%= css_columns(4) %>">
      <% if @assessment.to_datetime.kind_of?(Time) %>
        <%= f.text_field :to_datetime, class: 'datetimepicker', value: @assessment.to_datetime.strftime("%Y-%m-%d %H:%M") %>
      <% else %>
        <%= f.text_field :to_datetime, class: 'datetimepicker' %>
      <% end %>
    </div>
  </div>
  
  <% if @assessment.kind != 'survey' %>
    <div class="row">
      <div class="<%= css_columns(4) %>">
        <%= f.number_field :allowed_attempts %>
      </div>
      <div class="<%= css_columns(4) %>">
        <%= f.select :multiattempt_grading, t('config.assessment.multiattempt_grading').invert, :include_blank => false %>
      </div>
      <div class="<%= css_columns(4) %>">
        <%# f.number_field :droppable_attempts %>
      </div>
    </div>
  
    <div class="row">
      <div class="<%= css_columns(4) %>">
        <%= f.select :show_answer, t('config.assessment.show_answer').invert, :include_blank => false %>
      </div>
      <% if @lecture && (videos = Hash[@lecture.materials_of_kind(:video).to_a.map {|v| [ v.medium.name, v.id ]}]) %>
        <div class="<%= css_columns(4) %>">
          <%= f.select :invideo_id, videos %>
        </div>
        <div class="<%= css_columns(4) %>">
          <%= f.number_field :invideo_at %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if @assessment.kind == 'survey' %>
    <%= f.select :event_list, t('config.assessment.survey_events').invert, :value => @assessment.event_list, :include_blank => true %>
  <% end %>
          
  <%= form_submit f, the_path_out, [], :name => @assessment.kind %>
<% end %>