<%= ui_header @assessment.name, :subtext => @assessment.kind,
      :action => ui_button_dropdown(ui_options_button_text, [
        link(:assessment, :edit, [:edit, @req_objects].flatten),
    		link(:assessment, @assessment.ready ? :unready : :ready, [@req_objects,
          { :opr => :ready, :'assessment[ready]' => !@assessment.ready }].flatten,
          :method => :put, :remote => true, :id => "assessment_ready_#{@assessment.id}_link"),
        nil,
        link(:assessment, :destroy, @req_objects, :method => :delete, :confirm => true)
      ], class: css_button(:default), align: :right)
%>

<% if @assessment && !@assessment.new_record? %>
  <div id="assessment-ready-indicator" class="<%= css_alert(:warning) %>" style=" <%= 'display: none;' if @assessment.ready %>">
    <%= t('page.text.unready_assessment_html', link: link(:assessment, :ready, [@req_objects,
          { :opr => :ready, :'assessment[ready]' => !@assessment.ready }].flatten,
          :method => :put, :remote => true, :id => "assessment_ready_#{@assessment.id}_link")) %>
  </div>
<% end %>

<%# markdown(@assessment.about) %>

<br>
<div class="row">
  <div class="<%= css_columns(9) %>">
    <strong><%= Assessment.human_attribute_name(:based_on) %></strong><br>
    <span class="<%= css_text(:muted) %>"><%= l(@assessment.based_on) %></span><br>

    <% if @assessment.kind == 'survey' && @assessment.event_list.present? %>
      <strong><%= Assessment.human_attribute_name(:event_list) %></strong><br>
      <span class="<%= css_text(:muted) %>"><%= t("config.assessment.survey_events.#{@assessment.event_list}") %></span>
    <% end %>
  </div>
  <div class="<%= css_columns(9) %>">
    <strong><%= Assessment.human_attribute_name(:from_datetime) %></strong><br>
    <span class="<%= css_text(:muted) %>"><%= l(@assessment.from_datetime) %></span>
  </div>
  <div class="<%= css_columns(9) %>">
    <strong><%= Assessment.human_attribute_name(:to_datetime) %></strong><br>
    <span class="<%= css_text(:muted) %>"><%= l(@assessment.to_datetime) if @assessment.to_datetime.present? %></span>
  </div>
</div>

<% if @assessment.kind != 'survey' %>
  <div class="row">
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:allowed_attempts) %></strong><br>
      <span class="<%= css_text(:muted) %>"><%= @assessment.allowed_attempts || t('page.text.unlimited') %></span><br>
    </div>
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:multiattempt_grading) %></strong>
      <span class="<%= css_text(:muted) %>">
        <%= t("config.assessment.multiattempt_grading.#{@assessment.multiattempt_grading}") %>
      </span>
    </div>
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:droppable_attempts) %></strong><br>
      <span class="<%= css_text(:muted) %>"><%= @assessment.droppable_attempts %></span>
    </div>
  </div>
  <div class="row">
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:after_deadline) %></strong><br>
      <span class="<%= css_text(:muted) %>">
        <% if @assessment.after_deadline %>
          <i class="fa fa-check"></i>
        <% end %>
      </span><br>
      <% if @assessment.lecture && @assessment.invideo_id && (invideo = Material.find_by(id: @assessment.invideo_id)) %>
        <strong><%= Assessment.human_attribute_name(:invideo_id) %></strong><br>
        <span class="<%= css_text(:muted) %>"><%= invideo.medium.name %></span><br>
      <% end %>
    </div>
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:penalty) %></strong><br>
      <span class="<%= css_text(:muted) %>"><%= @assessment.penalty %></span><br>

      <% if @assessment.lecture && invideo %>
        <strong><%= Assessment.human_attribute_name(:invideo_at) %></strong><br>
        <span class="<%= css_text(:muted) %>"><%= @assessment.invideo_at %></span><br>
      <% end %>
    </div>
    <div class="<%= css_columns(9) %>">
      <strong><%= Assessment.human_attribute_name(:show_answer) %></strong><br>
      <span class="<%= css_text(:muted) %>">
        <%= t("config.assessment.show_answer.#{@assessment.show_answer}") %></span>
    </div>
  </div>
<% end %>
<br/>

<%= themed_form_for [:teach, @course, @unit, @lecture, @assessment] do |f| %>
  <div style="display: none;">
    <%= f.grouped_collection_select :lecture_id, @course.units, :lectures, :name, :id, :name, include_blank: true %>
  </div>

  <% action = content_tag :div, class: css_align(:right) do %>
    <% if @assessment.kind != 'survey' %>
      <%= link_to_add_q_selectors(t('helpers.submit.new', :name => QSelector.model_name.human).html_safe, f, :q_selectors) %>

      <%= content_tag(:span, "&nbsp;&nbsp;#{t('page.text.or')}&nbsp;&nbsp;".html_safe, class: css_align(:right)) %>
    <% end %>

    <%= link(:question, :add_question, question_bank_path(:index, :pick, @assessment),
          :class => css(button: :success, align: :right)) %>
  <% end %>

  <% browse_action = link(:assessment, :preview, [:preview, @req_objects].flatten, class: css_button(:default)) %>
  <%= ui_header Question.model_name.human(count: 3) + ' ' + browse_action, style: :h4, action: action %>

  <div class="field-container sortable-selector sortable" data-update-url="<%= url_for([:sort_q_selector, :teach, @course, @unit, @lecture, @assessment]) %>">
    <%= f.fields_for :q_selectors do |s| %>
      <div class='removable' id="q_selector_<%= s.object.id %>">
        <%= render "fields_4_q_selector", :f => s %>
      </div>
    <% end %>
  </div>
  <p><%= content_tag :small, t('page.text.drag_items_to_reorder_html') if @assessment.q_selectors_count > 1 %></p>

  <%= f.submit :update %>
  <%= f.cancel assessment_redirect_path %>
  </div>
<% end %>
