<div class="ui middle aligned very relaxed stackable grid">
  <div class="eight wide column">
    <%= form_for @user, url: url_for(controller: 'auth/registrations', action: 'create'), method: :post, wrapper: false do |f| %>
    
      <%= f.text_field :name, label: false, placeholder: true %>
      <%= f.email_field :email, label: false, placeholder: true %>
      <%= f.password_field :password, label: false, placeholder: true %>
      <%= f.password_field :password_confirmation, label: false, placeholder: true %>

      <%= f.submit :signup %> 
      <%= t('page.text.registration_terms_and_conditions_html', link: link(:page, :terms, localized_page_path(:terms))) %>
    <% end %>
  </div>
  <div class="ui vertical divider"><%= t('page.text.or') %></div>
  <div class="five wide column">
    <%= link_to main_app.auth_signin_path, class: "ui big green labeled icon button" do %>
      <%= ui_icon('sign in') + t('helpers.submit.signin') %>
    <% end %>
  </div>
</div>