<% signup = capture do %>
  <%= form_for @user, url: url_for(controller: 'auth/registrations', action: 'create'), method: :post do |f| %>

    <%= f.text_field :name, label: false, placeholder: true %>
    <%= f.email_field :email, label: false, placeholder: true %>
    <%= f.password_field :password, label: false, placeholder: true %>
    <%= f.password_field :password_confirmation, label: false, placeholder: true %>

    <%= f.submit :signup %> 
    <p><%= t('page.text.registration_terms_and_conditions_html', link: link(:page, :terms, localized_page_path(:terms))) %></p>
  <% end %>
<% end %>

<% signin = capture do %>
  <%= link_to raw(ui_icon('sign in') + t('helpers.submit.signin')), main_app.auth_signin_path, class: "ui positive button" %>
<% end %>


<div class="ui three column middle aligned very relaxed stackable centered grid">
  <div class="six wide column">
    <%= signup %>
  </div>
  <div class="one wide column">
    <div class="ui vertical divider"><%= t('page.text.or') %></div>
  </div>
  <div class="three wide column">
    <%= signin %>
  </div>
</div>