<div id="main-container" class="<%= css_container %>">
  <% if request.path.ends_with?('sign_in') or request.path.ends_with?('sign_up') %>
	  <div class="row">
			<div class="<%= css_columns(12) %>">
        <%= yield %>
      </div>
    </div>
  <% elsif request.path == main_app.learn_klasses_path || request.path == main_app.home_path %>
    <%= yield %>
  <% else %>
    <div class="row">
			<div class="<%= css_columns(current_account.config['allow_banner_ads'] ? 10 : 12) %>">
        <% if @page_header %>
          <%= ui_header @page_header, style: :h2, subtext: @klass ? klass_from_and_to_dates(@klass) : nil %>
        <% end %>

				<%= yield %>
			</div>
      <% if current_account.config['allow_banner_ads'] %>
        <div class="<%= css_columns(2) %>">
          <br />
          <%= mountable_fragments :site_160x600_left_rail_banner %>
          <%= mountable_fragments :site_160x600_right_rail_banner %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
