<% unless current_user %>
  <div class="hero-unit">
    <div class="jumbotron pattern">
      <div class="<%= css_container %>">
        <h2><%= t("#{current_account.slug}.site.slogan.line1") %></h2>
        <p><%= t("#{current_account.slug}.site.slogan.line2") %></p>
        <!--button type="button" class="btn-outline">Download</button-->
      </div>
    </div>
  </div>
<% end %>

<div id="main-container" class="<%= css_container %>">
  <div class="row">
    <div class="<%= css_columns(12) %>">
      <br/>
      <% front = Page.localized(:front) %> 

      <%= markdown front.about, :html => front.html if front %>

      <% if front && current_user && current_user.has_role?(:admin) %>
        <%= link(:page, :edit, edit_page_path(front), :class => css(button: [:default, :xs])) %>
      <% end %>
      <%# yield %>
    </div>
  </div>
</div>
