<div id="main-container" class="<%= css_container %>">
  <%= render partial: '/side_rails' %>
  <% if request.path.ends_with?('sign_in') or request.path.ends_with?('sign_up') %>
	  <div class="row">
			<div class="<%= css_columns(12) %>">
        <%= yield %>
      </div>
    </div>
  <% else %>
    <%
    students = nil
    if current_user and current_account.config['allow_user_student_dependents'] and @klass.course.config['allow_user_student_dependents']
      students = current_user.students.order(:id).to_a
      student_picker = if students.present?
        capture do
    %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <%= image_tag current_student.avatar_url(current_account, :tny) %>
          <%= current_student.name %>
          <span class="caret"></span>
          <span class="sr-only">Change student</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% students.each do |student| %>
          <li>
            <%= image_tag student.avatar_url(current_account, :tny), class: "badge" %>
            <% if student == current_student %>
              <%= link_to student.name, :disabled => true%>
            <% else %>
              <%= link_to student.name, learn_klass_current_student_path(@klass, student), method: :put %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <%
        end
      end
    else
      nil
    end
    %>

		<% if @klass and (@klass.enrolled?(current_student) or staff?(current_user, @klass.course)) %>
      <div class="row">
				<div class="<%= css_columns(2) %> side-navabar">
			    <%= render "learn/klasses/ui_main_side" %>
          <%= mountable_fragments :learn_160x600_left_bottom_banner %>
				</div>
				<div class="<%= css_columns(10) %>">
          <% if @page_header %>
            <% hdr = @page_header %>

            <% subtext = @klass.course.by_instructors %>
            <%
              badges = []
              badges << Klass.human_attribute_name(:private) if @klass.private
              badges << Klass.human_attribute_name(:closed) if @klass.past?
              if badges.present?
                subtext << '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;'
                subtext << badges.join('&nbsp;&nbsp;|&nbsp;&nbsp;')
              end
            %>

            <%= ui_header hdr, :style => :h2, :subtext => subtext.html_safe, :action => staff_or_student_view(student_picker) %>
          <% end %>

					<%= yield %>
        </div>
      </div>
		<% else %>
      <div class="row">
				<div class="<%= css_columns(12) %>">
          <% if @page_header %>
            <%= ui_header @page_header, style: :h2, subtext: klass_from_and_to_dates(@klass), :action => student_picker %>
          <% end %>

					<%= yield %>
				</div>
      </div>
		<% end %>
  <% end %>
</div>
