<% 
  lectures = unit.lectures.order('lectures.order').to_a 
  active_lecture = @lecture ? @lecture : lectures.first
  active_i = lectures.index(active_lecture) || 0
%>
              
<div class="row">
  <div class="<%= css_columns(3) %>">
    <div class="list-group sortable " id="sortable-lectures-<%= unit.id %>" data-update-url="<%= sort_teach_course_unit_lectures_path(@course, unit) %>">
      <% lectures.each_with_index do |lecture, i| %>
        <%= content_tag_for :a, lecture, :class => "list-group-item #{"active" if lecture.id == active_lecture.id }", 
          :href => "#lecture-#{lecture.id}", :'data-toggle' => "tab", :'data-unit' => unit.id,
          :'data-lecture' => lecture.id,
          :'data-update-url' => teach_course_unit_lecture_path(@course, unit, lecture, :i => i, :format => :js) do %>
          <h5 class="list-group-item-heading"><%= lecture.name %></h5>
        <% end %>
      <% end %>
    </div>
    <%= content_tag :small, t('page.text.drag_items_to_reorder_html') if lectures.present? && lectures.count > 1 %>
  </div>
  <div class="<%= css_columns(9) %>">
    <div class="tab-content" id="lectures-details-<%= unit.id %>">
      <% lectures.each_with_index do |lecture, i| %>
        <%# render partial: 'teach/lectures/lecture', locals: { unit: unit, lecture: lecture, i: i } if i == 0 %>
      <% end %>

      <%= render partial: 'teach/lectures/lecture', locals: { unit: unit, lecture: active_lecture, i: active_i } %>

    </div>
  </div>
</div>