<% if lecture && lecture.poster %>
  <%= ui_media(lecture.poster.at_url(:sm), "", markdown(lecture.about),
      :img_options => { style: "max-width: 120px;" }) %>
<% end %>

<%
  links = []
  data = lecture ? lecture.contents(false, true) : []

  %w(video audio image document other).each do |kind|
    links << link(:material, kind,
      new_teach_course_unit_lecture_material_path(@course, unit, lecture, :s => kind, :multiple => true))
  end

  links << nil
  links << link_to(Page.model_name.human, new_teach_course_unit_lecture_page_path(@course, unit, lecture))
  links << link_to(Question.model_name.human, teach_course_unit_lecture_questions_path(@course, unit, lecture))
  links << nil

  @course.config["grading"]["distribution"]["assessments"]["lecture"].keys.each do |k|
    links << link_to(k, new_teach_course_unit_lecture_assessment_path(@course, unit, lecture, :t => k))
  end

  if lecture.poster
    poster_link = link(:material, :remove_poster_image,
        teach_course_unit_lecture_material_path(@course, unit, lecture, lecture.poster),
        :method => :delete, confirm: true)
  else
    poster_link = link :material, :add_poster_image,
        new_teach_course_unit_lecture_material_path(@course, unit, lecture, :s => :image, :t => :poster)
  end
%>

<div class="tab-content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <i class="fa fa-list"></i> <%= t('page.title.contents') %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <%= ui_dropdown ui_options_button_text, [
            link(:lecture, :edit, edit_teach_course_unit_lecture_path(@course, unit, lecture)),
            poster_link,
            nil,
            link(:lecture, (lecture.allow_discussion ? :disallow_discussion : :allow_discussion),
              discuss_teach_course_unit_lecture_path(@course, unit, lecture), :method => :put),
            nil,
            link(:lecture, :destroy, teach_course_unit_lecture_path(@course, unit, lecture),
              :method => :delete, confirm: true)
          ], :class => css( align: :right) %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= ui_dropdown t('helpers.submit.new', name: ''), links, class: css(align: :right) %>
        </ul>
      </div>
    </div>
  </nav>

  <table class="<%= css_table([:hover, :striped, :bordered]) %>">
    <tbody class="sortable" data-update-url="<%= content_sort_teach_course_unit_lecture_path(@course, unit, lecture) %>">
      <% data.each_with_index do |item| %>
        <% case item %>
        <% when Material %>
          <%= render partial: "application/media/medium",
                locals: {medium: item.medium, medium_counter: false,
                  action: link(:material, :destroy,
                    teach_course_unit_lecture_material_path(@course, unit, lecture, item),
                    :method => :delete, :class => css_button(:danger, :xs),
                    confirm: true)
                } %>
        <% when Question %>
          <tr id="content_<%= item.id %>_question" sortid="content_<%= item.id %>.question">
            <td>
              <h5>
                <%= link(:question, :edit,
                    edit_teach_course_unit_lecture_question_path(@course, unit, lecture, item),
                    :class => css(button: [:success, :xs], align: :right)) %>
                <i class="fa fa-question"></i>&nbsp;
                <br/><br/>
                <%= render partial: "teach/questions/question", locals: { question: item, show_answer: false } %>
              </h5>
            </td>
          </tr>
        <% when Page %>
          <tr id="content_<%= item.id %>_page" sortid="content_<%= item.id %>.page">
            <td>
              <h5>
                <%= link(:page, :edit,
                    edit_teach_course_unit_lecture_page_path(@course, unit, lecture, item),
                    :class => css(button: [:success, :xs], align: :right)) %>
                <i class="fa fa-globe"></i>&nbsp;
                <%= link_to item.name, teach_course_unit_lecture_page_path(@course, unit, lecture, item) %>
                <small><%= l(item.created_at.to_date) %></small>
                <%= content_tag(:span, t('page.text.unpublished'), :class => css_label(:warning)) unless item.published %>
              </h5>
            </td>
          </tr>
        <% when Assessment %>
          <tr id="content_<%= item.id %>_assessment" sortid="content_<%= item.id %>.assessment">
            <td>
              <h5>
                <%= link(:assessment, :edit,
                    edit_teach_course_unit_lecture_assessment_path(@course, unit, lecture, item),
                    :class => css(button: [:success, :xs], align: :right)) %>
                <i class="fa fa-flask"></i>&nbsp;
                <%= link_to(item.name, teach_course_unit_lecture_assessment_path(@course, unit, lecture, item)) %>
                <small><%= item.kind %></small>
                <%= content_tag(:span, t('page.text.unready'), :class => css_label(:warning)) unless item.ready %>
              </h5>

              <%# markdown a.about %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= content_tag :small, t('page.text.drag_items_to_reorder_html') if data.count > 1 %>
</div>
