<%= modal_form_for(@user, :html => {:multipart => true}) do |f| %>
	<%= f.static :email %>
  <%= f.text_field :name %>
  
	<%= f.fields_for :profile do |p| %>
    <div class="two fields">
      <%= f.time_zone_select :time_zone %>
		  <%= p.file_field :avatar %>
    </div>
    <div class="three fields">
      <%= p.text_field :nickname %>
      <%= p.text_field :prefix %>
      <%= p.select :locale, $site['supported_locales'].invert %>
    </div>

  	<%# p.check_box :public unless @user.id == 1 %>
		<%= p.markdown :about, { size: "60x5"} %>
  <% end%>

  <%= f.check_box :active if @user.id != 1 && current_user.has_role?(:admin) %>

  <%= f.submit %>
  <%= f.cancel  main_app.home_path %>
<% end %>
