<% content_for :main_aside do %>
  <%= render("/users/user_menu") %>
<% end %>

<%= capture do %>
  <% klasses = Klass.for_instructor(current_user).being_worked_on.distinct.to_a %>
  <%= ui_header t('page.title.being_worked_on') %>
  <% if klasses.present? %>
    <div class="ui divided items">
      <%= render :partial => 'learn/klasses/klass_item', :collection => klasses, :as => :klass %>
    </div>
  <% else %>
    <%= t('page.text.no_record_found') %>
  <% end %>

  <% klasses = Klass.for_instructor(current_user).ready_to_approve.distinct.to_a %>
  <% if klasses.present? %>
    <%= ui_header t('page.title.ready_to_approve') %>
    <div class="ui divided items">
      <%= render :partial => 'learn/klasses/klass_item', :collection => klasses, :as => :klass %>
    </div>
  <% end %>

  <% klasses = Klass.for_instructor(current_user).active.open.distinct.to_a %>
  <%= ui_header t('page.title.open_classes_i_teach') %>
  <% if klasses.present? %>
    <div class="ui divided items">
      <%= render :partial => 'learn/klasses/klass_item', :collection => klasses, :as => :klass %>
    </div>
  <% else %>
      <%= t('page.text.no_record_found') %>
  <% end %>
<% end %>
