<% user_menu %>


<div class="header">
  <img src="<%= current_user.profile.avatar_url(current_account, :med).to_s %>">
  <%= current_user.name %>
  <div class="subtext">
    <%= current_user.email %>
  </div>
</div>
<div class="description">
  <% if current_user.profile.about.present? %>
    <%= markdown(summary(current_user.profile.about, 100)) || 's' %>
  <% else %>
    <%= t('page.text.no_info_to_display') %>
  <% end %>
</div>
<ul class="list-unstyled">
  <% app_menu(:user).each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<ul class="list-unstyled">
  <% app_menus(:user).reject {|k,v| k == :_}.each do |section, menu| %>
    <li><strong><%= t("page.title.#{section}") %></strong></li>
    <% menu.each do |item| %>
      <li><%= item %></li>
    <% end %>
  <% end %>
</ul>

<% if current_account.config['allow_banner_ads'] %>
  <div class="row">
    <div class="<%= css_columns(12) %>">
      <%= mountable_fragments :site_160x600_left_rail_banner %>
    </div>
    <div class="<%= css_columns(12) %>">
      <%= mountable_fragments :site_160x600_right_rail_banner %>
    </div>
  </div>

  <%= mountable_fragments :site_300x250_right_bottom_banner %>
<% end %>
  
