<%= form_header %>

<%= themed_form_for(@user, :html => {:multipart => true}) do |f| %>
	<%= f.static :email %>
  <%= f.text_field :name %>
  <%= f.time_zone_select :time_zone, nil, {}, :class => "chosen-select #{rtl? ? 'chosen-rtl' : ''}" %>
	<%= f.fields_for :profile do |p| %>
		<%= p.file_field :avatar %>

    <div class="row">
      <div class="<%= css_columns(6) %>">
        <%= p.text_field :nickname %>
      </div>
      <div class="<%= css_columns(6) %>">
        <%=  p.text_field :prefix %>
      </div>
			<div class="<%= css_columns(12) %>">
        <%= p.select :locale, $site['supported_locales'].invert %>
      </div>
    </div>

  	<%# p.check_box :public unless @user.id == 1 %>
		<%= p.markdown :about, { size: "60x5"} %>
  <% end%>

  <%= f.check_box :active if @user.id != 1 && current_user.has_role?(:admin) %>

  <%= f.submit %>
  <%= f.cancel  _back_url %>
<% end %>
