<%= ui_header User.model_name.human(count: 3), style: :h2 %>

<div class="row">
  <div class="<%= css_columns(11) %>">
    <div id="paginator" class="<%= css_align(:left) %>"><%= paginate @users, :remote => true %></div>
  </div>
  <div class="<%= css_columns(5) %>">
    <%= search_form_for @q, class: "search-form form-inline #{css_align(:right)}", :remote => true do |f| %>
      <%= form_search f, :name_or_email_cont, hint: false, label: false, placeholder: true %>
    <% end %>
  </div>
</div>

<table>
	<thead>
		<tr>
			<th><%= Profile.human_attribute_name(:name) %></th>
			<th><%= User.human_attribute_name(:email) %></th>
			<th><%= User.human_attribute_name(:roles) %></th>
			<th><%= User.human_attribute_name(:active) %></th>
      <th><%= User.human_attribute_name(:since) %></th>
			<th><%= link(:user, :new, new_admin_user_path, :class => css(button: :success, align: :right)) %></th>
		</tr>
	</thead>
	<tbody id="all-users">
		<%= render @users %>
    
    <% if @users.empty? %>
    <tr>
      <td colspan="6"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
	</tbody>
</table>



