<% name = current_user && @user == current_user ? "#{@user.profile.prefix} #{@user.name}" : Profile.model_name.human %>
<%= ui_header name, action: link(:profile, :edit, edit_user_path(@user), remote: true,
      class: "ui positive button") %>

<%= image_tag @user.profile.avatar_url(current_account, :med).to_s,
      :class => 'ui image' if @user.profile.avatar_url(current_account, :med) %>
<% unless current_user && @user.id == current_user.id %>
  <h3><%= User.human_attribute_name(:email) %></h3>
  <%= @user.email %>
<% end %>
<h3><%= Profile.human_attribute_name(:nickname) %></h3>
<%= @user.profile.nickname.blank? ? t('page.text.not_found') : @user.profile.nickname %>

<h3><%= Profile.human_attribute_name(:about) %></h3>
<%= @user.profile.about.blank? ? t('page.text.not_found') : markdown(@user.profile.about) %>

<% if @user.has_role? :console %>
  <hr>
  <% access_tokens = @user.access_tokens.to_a %>
  <%= link :access_token, :create, user_access_tokens_path(@user), :method => :post,
        :class => "ui positive button" if access_tokens.blank? %>

  <table class="ui striped selectable small table">
  	<thead>
  		<tr>
  			<th><%= AccessToken.human_attribute_name(:token) %></th>
        <th><%= AccessToken.human_attribute_name(:scope) %></th>
  			<th><%= AccessToken.human_attribute_name(:revoked_at) %></th>
  			<th><%= AccessToken.human_attribute_name(:created_at) %></th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		<% access_tokens.each do |token| %>
  		<tr>
  			<td><%= token.token %></td>
  			<td><%= token.scope %></td>
        <td><%= l(token.revoked_at) if token.revoked_at %></td>
        <td><%= l(token.created_at) %></td>
  			<td>
  				<%= ui_buttons [link(:access_token, token.revoked_at.present? ? :enact : :revoke,
                  revoke_user_access_token_path(@user, token), class: "ui negative basic button"),
                link(:access_token, :destroy, user_access_token_path(@user, token),
                  :method => :delete, confirm: true, class: 'ui negative button')] %>
  			</td>
  		</tr>
  		<% end %>

      <% if @user.access_tokens.empty? %>
      <tr>
        <td colspan="5"><%= t('page.text.no_record_found') %></td>
      </tr>
      <% end %>
  	</tbody>
  </table>
<% end %>
