<% if @update_disscussion_only %>
  $("#lecture-comments").html('<%= j render(partial: "learn/forums/topic", locals: {forum: @forum, topic: @topic}) %>');
<% else %>
  <%
    pane = 'lecture-contents'
    title, html = render_content([@material, @page, @question, @assessment].find{|c| !c.nil?}, @answer, @result)
  %>
  $("#<%= pane %>").html('<%= j html.html_safe %>');
  $(".lecture-header-subtext").text('<%= title %>');
  <% if @correct_answer %>
    <% @correct_answer.each do |id, a| %>
      <%
      html = content_tag :div, :style => 'display: none;' do
        if  %w(pick_one pick_many).include?(@question.kind)
           a == '1' ? ui_icon(:check) : ''
        else
          %(<strong>#{Question.human_attribute_name(:answer)}</strong>: <span>#{a}</span>).html_safe
        end
      end
      %>
      $('#<%= id %>').html('<%= j html.html_safe %>');
    <% end %>
  <% end %>

  mark_as_taken = <%= @mark_as_taken.present? %>;
  lecture_pager_position = <%= params[:position] ? params[:position] : (@question && @question.order > 0? @question.order - 1 : 1) %>
<% end %>

ui_rebind_application_events(jQuery);

