<%
  @unit = Unit.find(params[:unit_id]) if params[:unit_id]
%>
<% if @unit.present? %>
  <ul class="breadcrumb">
    <li><%= link(:lecture, :index, learn_klass_lectures_path(@klass)) %></li>
    <li><%= link_to @unit.name, learn_klass_lectures_path(@klass) %></li>
    <li class="active"><%= Page.model_name.human(count: 3) %></li>
  </ul>
<% end %>

<% 
  enrolled = (@klass.enrolled?(current_student) or staff?(current_user, @klass.course))
  if @unit.present?
    pages = @unit.pages.where(:published => true)
  else
    pages = enrolled ? @klass.course.non_syllabus_pages(true) : @klass.course.non_syllabus_pages(true, true) 
  end
%>
<% unless pages.blank? %>
  <% pages.each_with_index do |page,i| %>
    <%= content_tag :hr, '' if i > 0 %>
    <h3><%= page.name %> <br/><small><%= l(page.created_at.to_date) %></small></h3>
    
    <%= markdown(page.about, :html => page.html, :class => 'shortenable-text', :hidden_til_processed => true) %>
  <% end %>
  
<% else %>
  <p><%= t('page.text.no_record_found') %></p>
<% end %>
