<% 
pages = [] 
books = []
%>
<% listing = capture do %>
  <div class="ui segment">
    <% pages = enrolled_or_staff? ? @klass.course.non_syllabus_pages(true).to_a : @klass.course.non_syllabus_pages(true, true).to_a %>
    <% if pages.any? %>
      <%= ui_header t("page.title.pages"), style: :h3 %>
    
      <div class="ui list">
        <% pages.each do |page| %>
          <div class="item">
            <%= ui_icon_for('page') %>
            <div class="content">
              <%= link_to page.name, learn_klass_page_path(@klass, page), remote: true %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <% books = enrolled_or_staff? ? @klass.course.books : []%>
    <% if books.any? %>
      <%= ui_header t('page.title.attachments'), style: :h3 %>
      <div class="ui list">
        <% books.each do |book| %>
          <div class="item">
            <%= ui_icon_for(book.medium.kind) %>
            <div class="content">
              <%= link_to book.medium.name, learn_klass_material_path(@klass, book), remote: true %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content = capture do %>
  <div class="ui basic segment" id="reading-contents">
    <% active_item = [].concat(pages).concat(books).first{|c| !c.nil? } %>
    <% if active_item.is_a? Page %>
      <%= render partial: "learn/pages/show", locals: {page: active_item} %>
    <% elsif active_item.is_a? Material %>
      <%= render partial: "learn/materials/show", locals: {material: active_item} %>
    <% end %>
  </div>
<% end %>

<%= ui_side_by_side listing, content, 'five by eleven' %>
