<%= modal_form_for [:learn, @klass, @forum, @topic] do |f| %>
	<%= f.text_field :name %>
  <%= f.markdown :about, hint: true %>
  <% if @forum.graded %>
    <div class="two fields">
      <%= f.number_field :points_per_post %>
      <%= f.number_field :points_per_reply %>
    </div>
  <% end %>
  
  <%= f.check_box :anonymous %>
  
  <%= f.submit %>
  <%= f.cancel learn_klass_forum_path(@klass, @forum) %>
<% end %>
