<%= form_header %>

<div class="row">
  <div class="<%= css_columns(6) %>">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= form_hidden f, :password_reset_token %>
      <%= form_password f, :password %>
      <%= form_password f, :password_confirmation %>

      <%= form_submit f, root_path %>
    <% end %>
  </div>
</div>
