<%= form_header text: t('auth.headers.reset_password') %>

<div class="row">
  <div class="<%= css_columns(6) %>">
    <%= form_for @user || User.new, url: url_for(controller: 'auth/password_resets', action: 'create'), method: :post do |f| %>
      <%= f.email_field :email %>

      <%= form_submit f, auth_signin_path %>
    <% end %>
  </div>
</div>
