<% klass_menu %>

<div class="ui secondary menu">
  <% app_menus(:klass).each do |section, menu| %>
    <% menu.each do |item| %>
      <%= link_to item[:link], item[:to], class: item[:active] ? 'item active' : 'item' %>
    <% end %>
  <% end %>
  <div class="right item">
    <div class="three buttons">
      <%= ui_facebook_link(@klass) %>
      <%= ui_twitter_link(@klass) %>
      <%= ui_google_plus_link(@klass) %>
    </div>
    &nbsp;&nbsp;
    <%= ui_klass_enrollment_action(@klass, :drop) if @klass.enrolled?(current_student) if @klass.enrolled?(current_student) %>
    &nbsp;&nbsp;
    <%= staff_or_student_view(render(:partial => 'learn/klasses/student_picker').html_safe) %>
  </div>
</div>
