<%= form_tag(learn_klass_search_path, method: "get", :id => :search_klasses_form, :remote => true) do %>
  <%= hidden_field_tag :s, params[:s] %>

  <% filter_count = $site['filter_classes_by'].count %>
  <% $site['filter_classes_by'].keys.each_with_index do |filter, i| %>
    <% if $site['filter_classes_by'][filter] %>
      <% if filter == 'language' %>
        <h3 class="ui header"><%= t('config.filter.language') %></h3>
        <% $site['supported_locales'].each do |k, v| %>
          <div class="field">
            <div class="ui checkbox">
              <%= check_box_tag "locale[#{k}]", v %>
              <%= label_tag "locale[#{k}]", v %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="ui header"><%= t("config.filter.#{filter}") %></h3>
        <% Translator.to_hash(I18n.locale, "#{current_account.slug}.site.#{filter}.*").each do |k, v| %>
          <div class="field">
            <div class="ui checkbox">
              <%= check_box_tag "#{filter}[#{k}]", k %>
              <%= label_tag "#{filter}[#{k}]", v %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
