<% content = capture do %>
  <%= ui_header @klass.course.name, :subtext => klass_from_and_to_dates(@klass) %>
  
  <%= markdown @klass.course.about %>
  
  <% if @klass.course.syllabus.published %>
    <%= content_tag :h3, t('page.title.syllabus'), class: 'ui dividing header' %>
    <%= markdown @klass.course.syllabus.about %>
  <% end %>

  <%= render 'learn/lectures/outline' %>
  
  <% if @klass.course.faq.published %>
   <%= content_tag :h3, t('page.title.faq'), class: 'ui dividing header' %>
   <%= markdown @klass.course.faq.about %>
  <% end %>
<% end %>

<div class="ui centered grid">
  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="image">
        <% poster = @klass.course.poster&.at_url(:sm) || '/images/holder-sm.png' %>
        <% if @klass.course.video %>
          <%= ui_video(@klass.course.video, poster) %>
        <% else %>
          <%= image_tag poster %>
        <% end %>
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
  <div class="row">
    <div class="four wide column">
      <%= mountable_fragments :site_left_skyscraper_ad %>
    </div>

    <div class="eight wide column"><%= content %></div>

    <div class="four wide column">
      <%= render 'klass_feed', enrolled: false %>
    </div>
  </div>
</div>
