<% aside = capture do %>
  <div class="ui fluid card">
    <div class="image">
      <% if @klass.course.video %>
        <%= content_tag :div do %>
          <%= ui_video(@klass.course.video, @klass.course.poster) %>
        <% end %>
      <% else %>
        <%= image_tag(@klass.course.poster&.at_url(:sm) || '/images/holder-sm.png') %>
      <% end %>
    </div>
    <div class="content">
      <div class="meta">
        <span><%= klass_from_and_to_dates(@klass) %></span>
      </div>
      <div class="description">
        <%= markdown(@klass.course.about) %>
        <br>
        <%= ui_klass_labels(@klass) %>
        <br><br>
        <%= ui_klass_enrollment_action @klass, :enroll %>
        <br><br >
      </div>
      <div class="extra">
        <%= render 'learn/instructors/index' %>
        
        <br>
        <div class='ui three buttons'>
          <%= ui_facebook_link(@klass, t('helpers.submit.facebook')) %>
          <%= ui_twitter_link(@klass, t('helpers.submit.twitter')) %>
          <%= ui_google_plus_link(@klass,t('helpers.submit.google')) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content = capture do %>
  <%= ui_header @klass.course.name, :action => staff_or_student_view(render(:partial => 'learn/klasses/student_picker')) %>
  <%= markdown @klass.course.syllabus.about %>
  
  <% attendance = Lecture.attendance(@klass, current_student).all %>
  <% unless attendance.blank? %>
    <% units = attendance.map{|a| a.u_name}.uniq %>
    <% count = 0 %>
    <% units.each_with_index do |u, i| %>
      <% if i % 3 == 0 %>
        <div class="row">
      <% end %>
    
      <div class="">
        <p><strong><%= u %></strong></p>
        <ul class="report-lists">
          <% lectures = attendance.select{|a| u == a.u_name}.map{|a| [a.name, a.attended]}.uniq %>
          <% lectures.each_with_index do |l, j| %>
            <li class="<%= 'attended' if l[1] > 0 %>">
              <%= l[0] %>
            </li>
          <% end %>
        </ul>
      </div>
    
      <% if i % 3 == 2 %>
        </div>
      <% end %>
      <% count = i %>
    <% end %>
  
    <% if count % 3 != 2 %>
      </div>
    <% end %>
  <% else %>
    <%= t('page.text.no_record_found') %>
  <% end %>
<% end %>

<%= ui_side_by_side content, aside, 'ten by six' %>
  