<% content_for :main_aside do %>    
  <div class="ui fluid klass card">
    <div class="image">
      <% poster = @klass.course.poster&.at_url(:md) || '/images/holder-md.png' %>
      <% if @klass.course.video %>
        <%= ui_video @klass.course.video, poster %>
      <% else %>
        <%= image_tag poster %>
      <% end %>
    </div>
    <div class="content">
      <div class="description">
        <%= markdown(@klass.course.about) %>
      </div>
    </div>
    <div class="extra content">
      <%= render partial: 'learn/dashboard/show', locals: {klass: @klass} if staff?(current_user, @klass) %>
    </div>
  </div>
<% end %>

<% if @klass.open? && @klass.allow_enrollment %>
  <% deadlines = @klass.upcoming_deadlines %>
  <% unless deadlines.to_a.empty? %>
    <% content_for :featured_top do %>
      <div class="ui attached icon message">
        <%= ui_icon('yellow calendar') %>
        <div class="content">
          <div class="header">
            <%= t('page.title.upcoming_deadlines') %>
          </div>
          <ul class="ui list">
            <% deadlines.each do |deadline| %>
              <li>
                <%= t("page.text.upcoming_deadlines", :name => deadline.name,
                      :count => (deadline.closes_at.to_date - Time.zone.today).to_i)
                %>
              </li>
          	<% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
  
<%= content = capture do %>
  <% updates = Update.sent(@klass, :www => true) %>
  <% unless updates.empty? %>
    <% content_for :klass_updates do %>
      <div class="ui divided items">
        <%= render partial: 'learn/klasses/update', collection: updates %>
      </div>
    <% end %>
  <% end %>
  
  <% if content_for?(:klass_updates) %>
    <%= yield :klass_updates %>
  <% else %>
    <% if @klass.course.syllabus&.published %>
      <%= content_tag :h3, @klass.course.syllabus.name, class: 'ui dividing header' %>
      <%= markdown(@klass.course.syllabus.about) %>
    <% end %>
  
    <%= render 'learn/lectures/outline' %>
  <% end %>
  
  <% if @klass.course.faq&.published %>
   <%= content_tag :h3, t('page.title.faq'), class: 'ui dividing header' %>
   <%= markdown @klass.course.faq.about %>
  <% end %>
<% end %>
