<div class="row">
  <div class="<%= css_columns(16) %>">
    <strong><%= t('page.text.klass_enroll_html') %></strong>
    <br /><br />
    <h3><%= t('page.title.honor_system') %></h3>
    <p><%= t('page.text.honor_system') %></p>
    <br />
    <%= form_for 'enroll', :url => @url, :method => :post do |f| %>
      <%= hidden_field_tag :klasses, (@klasses.map {|k| k.id.to_s}).join(',') %>
      <%= label_tag :agreed_to_klass_enrollment do %>
        <%= check_box_tag :agreed_to_klass_enrollment %>
        <%= t('page.text.klass_agreement') %>
      <% end %>
      <br /><br />
      <%= f.submit %>
      <%= f.cancel _back_url %>
    <% end %>
  </div>
</div>
