<% content_for :main_aside do %>
  <%= search_form_for [:learn, @q], class: "search-form", method: 'get', remote: true, wrapper: false, header: false do |f| %>
    <div class="ui search">
      <div class="ui fluid icon input">
        <%= f.search_field :course_slug_or_course_name_or_course_about_cont, hint: false, label: false, placeholder: true %>
        <%= ui_icon :search %>
      </div>
    </div>
  <% end %>
  
  <%= render '/learn/klasses/search' %>
<% end %>

<%= list = capture do %>
  <%= ui_header t("page.title.#{params[:s] || 'available'}_klasses") %>

  <div id="paginator"><%= paginate @klasses, :remote => true %></div>

  <div id='klass-list' class="klass-list klass-media-object ui divided items">
    <%= render :partial => 'learn/klasses/klass_item', :collection => @klasses, :as => :klass %>

    <% if @klasses.empty? %>
      <%= t('page.text.no_record_found') %>
    <% end %>
  </div>
<% end %>
