<%
  pills = []
  pills << [ link(:klass, :available_klasses, main_app.learn_klasses_path),
    (@courses.nil? && (params[:s].nil? || params[:s] == 'available'))]
  pills << [ link(:klass, :popular_klasses, main_app.learn_klasses_path(:s => :popular)),
    (params[:s] == 'popular')]
  pills << [ link(:klass, :coming_klasses, main_app.learn_klasses_path(:s => :coming)),
    (params[:s] == 'coming')]
  if current_user
    pills << [ link(:klass, :enrolled_klasses, main_app.learn_klasses_path(:s => :enrolled)),
      (params[:s] == 'enrolled')]
    pills << [ link(:klass, :taken_klasses, main_app.learn_klasses_path(:s => :taken)),
      (params[:s] == 'taken')]
  end
%>
<%= ui_header Klass.model_name.human(count: 3), style: :h2, :action => ui_nav_pills(pills, :class => css_align(:right)) %>

<div class="row">
  <div class="<%= css_columns(9) %>">
    <div class="row">
      <div class="<%= css_columns(12) %>">
        <div id="paginator" class="<%= css_align(:left) %>"><%= paginate @klasses, :remote => true %></div>
      </div>
    </div>
    <div id='klass-list' class="klass-list klass-media-object ui divided items">
      <%= render :partial => 'learn/klasses/klass', :collection => @klasses, :locals => {view: :item} %>

      <% if @klasses.empty? %>
        <%= t('page.text.no_record_found') %>
      <% end %>
    </div>
  </div>
  <div class="<%= css_columns(3) %>">
    <%= mountable_fragments :klass_index_actions %>

    <%= search_form_for [:learn, @q], class: "search-form form-inline", :remote => true do |f| %>
      <%# content_tag :strong, t('page.title.search') %>
      <%= form_search f, :course_slug_or_course_name_or_course_about_cont,
            hint: false, label: false, placeholder: true %>
      <%# form_submit f %>
    <% end %>
    <%= render 'learn/klasses/search' %>

    <%= yield :klasses_sidebar %>

    <% if current_account.config['allow_banner_ads'] %>
      <br />
      <div class="row">
        <div class="<%= css_columns(6) %>">
          <%= mountable_fragments :site_160x600_left_rail_banner %>
        </div>
        <div class="<%= css_columns(6) %>">
          <%= mountable_fragments :site_160x600_right_rail_banner %>
        </div>
      </div>

      <%= mountable_fragments :site_300x250_right_bottom_banner %>
    <% end %>
  </div>
</div>
