<%=
search = search_form_for [:learn, @q], class: "search-form form-inline #{css_align(:right)}", :remote => true do |f| 
  form_search f, :course_slug_or_course_name_or_course_about_cont, hint: false, label: false, placeholder: true 
end

ui_header t("page.title.#{params[:s] || 'available'}_klasses"), action: search %>
<div class="row">
  <div class="<%= css_columns(18) %>">
    <div class="row">
      <div class="<%= css_columns(24) %>">
        <div id="paginator" class="<%= css_align(:left) %>"><%= paginate @klasses, :remote => true %></div>
      </div>
    </div>
    <div id='klass-list' class="klass-list klass-media-object ui divided items">
      <%= render :partial => 'learn/klasses/klass', :collection => @klasses, :locals => {view: :item} %>

      <% if @klasses.empty? %>
        <%= t('page.text.no_record_found') %>
      <% end %>
    </div>
  </div>
  <div class="<%= css_columns(6) %>">
    <%= mountable_fragments :klass_index_actions %>

    <%= render 'learn/klasses/search' %>

    <%= yield :klasses_sidebar %>

    <% if current_account.config['allow_banner_ads'] %>
      <br />
      <div class="row">
        <div class="<%= css_columns(12) %>">
          <%= mountable_fragments :site_160x600_left_rail_banner %>
        </div>
        <div class="<%= css_columns(12) %>">
          <%= mountable_fragments :site_160x600_right_rail_banner %>
        </div>
      </div>

      <%= mountable_fragments :site_300x250_right_bottom_banner %>
    <% end %>
  </div>
</div>
