<% enrolled =  (@klass.enrolled?(current_student) || staff?(current_user, @klass.course)) %>

<% if enrolled %>
  <% if @klass.open? && @klass.allow_enrollment %>
    <% deadlines = @klass.upcoming_deadlines %>
    <% unless deadlines.to_a.empty? %>
      <% content_for :additional_nav do %>
        <%= ui_panel(capture do %>
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;
          <%= t('page.title.upcoming_deadlines') %>
        <% end, nil, capture do %>
          <ul>
            <% deadlines.each do |deadline| %>
              <li>
                <%= t("page.text.upcoming_deadlines", :name => deadline.name,
                      :count => (deadline.closes_at.to_date - Time.zone.today).to_i)
                %>
              </li>
          	<% end %>
          </ul>
          <% end, nil, :primary) %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield :additional_nav %>

  <!-- Klass Updates -->
  <% if false && @klass.open? && staff?(current_user, @klass) %>
    <%= themed_form_for [:teach, @klass.course, @klass, Update.new], remote: true do |f| %>
      <%= f.markdown :body, :size => '60x3', :label => false, :placeholder => 'New update goes here' %>
      <%= f.submit %>
    <% end %>
    <hr />
  <% end %>

  <% updates = Update.sent(@klass, :www => true) %>
  <div id="klass-updates">
    <%= render partial: 'learn/klasses/update', collection: updates %>
  </div>
  <br />

  <!-- about class -->
  <!-- <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="<%= css_columns(@klass.course.video ? 15 : 24) %>">
          <%= content_tag :h3, t('page.title.about_class') unless updates.empty? %>
          <%= markdown(@klass.course.about) %>
        </div>
        <% if @klass.course.video %>
          <div class="<%= css_columns(9) %>">
            <%= content_tag :div do %>
              <%= ui_video(@klass.course.video, @klass.course.poster) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div> -->
<% else # not enrolled %>
  <div class="row extra-padded">
    <div class="<%= css_columns(15) %>">
      <%= ui_header @klass.course.name, :action => staff_or_student_view(render(:partial => 'learn/klasses/student_picker')) %>

      <%= markdown @klass.course.syllabus.about %>
    </div>
    <div class="<%= css_columns(9) %>">
      <div class="ui fluid card">
        <div class="image">
          <% if @klass.course.video %>
            <%= content_tag :div do %>
              <%= ui_video(@klass.course.video, @klass.course.poster) %>
            <% end %>
          <% else %>
            <%= image_tag ui_image_src(@klass.course.poster ? @klass.course.poster.at_url(:sm) : nil, '/images/holder-sm.png') %>
          <% end %>
        </div>
        <div class="content">
          <div class="meta">
            <small><%= klass_from_and_to_dates(@klass) %></small>
          </div>
          <div class="description">
            <%= markdown(@klass.course.about) %>
          </div>
          <div class="extra">
            <div class="ui big horizontal list">
              <%= ui_klass_labels(@klass, false).join("\n").html_safe %>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="description">
            <%= ui_klass_enrollment_action @klass, :enroll %>
          </div>
          <div class="extra">
            <br />
            <%= render 'learn/instructors/index' %>
            <br /></br />
            <div class='text-center social-buttons'>
              <%= ui_facebook_link(@klass, %(&nbsp;&nbsp;#{t('helpers.submit.facebook')}).html_safe) %>
              <%= ui_twitter_link(@klass, %(&nbsp;&nbsp;#{t('helpers.submit.twitter')}).html_safe) %>
              <%= ui_google_plus_link(@klass, %(&nbsp;&nbsp;#{t('helpers.submit.google')}).html_safe) %>
            </div>
          </div>
        </div>
      </div>

      <% if current_account.config['allow_banner_ads'] %>
        <div class="row">
          <div class="<%= css_columns(12) %>">
            <%= mountable_fragments :site_160x600_left_rail_banner %>
          </div>
          <div class="<%= css_columns(12) %>">
            <%= mountable_fragments :site_160x600_right_rail_banner %>
          </div>
        </div>

        <%= mountable_fragments :site_300x250_right_bottom_banner %>
      <% end %>
    </div>
  </div>

<% end %>
