<%=
search = search_form_for @q, url: students_learn_klass_path(@klass), class: "search-form form-inline #{css_align(:right)}", remote: true do |f|
   form_search f, :student_name_or_student_user_name_or_student_user_email_cont, hint: false, label: false, placeholder: true 
end

ui_header t('page.title.students'), style: :h2, action: search %>

<div id="paginator" class="<%= css_align(:left) %>"><%= paginate @enrollments, :remote => true %></div>

<table>
	<thead>
		<tr>
			<th>#</th>
			<th colspan="2"><%= User.human_attribute_name(:name) %></th>
			<th><%= Enrollment.human_attribute_name(:since) %></th>
			<th><%= Enrollment.human_attribute_name(:score) %></th>
      <th>
        <% if @klass.private %>
          <%= link_to(t('helpers.submit.invite').html_safe, invite_teach_course_klass_path(@klass.course, @klass), 
                :class => css(button: :success, align: :right)) %>
        <% end %>
      </th>
		</tr>
	</thead>
	<tbody id="klass-enrollments">
    <%= render :partial => 'student', :collection => @enrollments, as: :enrollment %>
    <% if @enrollments.empty? %>
		  <tr><td colspan="5"><%= t('page.text.no_record_found') %></td></tr>
    <% end %>
	</tbody>
</table>
