<% cache do %>
  <div class="row">
    <div class="<%= css_columns(11) %>">
      <br/>
      <div class="panel panel-default">
        <ul class="nav nav-tabs success" role="tablist">
          <li role="presentation" class="active">
            <a href="#"><strong><%= t('helpers.submit.contactus') %></strong></a>
          </li>
        </ul>
        <div class="panel-body">
          <%= form_for @message, :url => miscellaneous_contactus_path, :method => :post do |f| %>
            <% if current_user %>
              <%= f.hidden_field :name, value: current_user.name %>
              <%= f.static :name, value: current_user.name %>

              <%= f.hidden_field :email, value: current_user.email %>
              <%= f.static :email, value: current_user.email %>
            <% else %>
              <%= f.text_field :name %>
              <%= f.email_field :email %>
            <% end %>

            <%= f.text_field :subject %>
            <%= f.text_area :content, :size => '60x8' %>

            <%= f.submit :send %>
            <%= f.cancel root_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="<%= css_columns(5) %>">
      <br />
      <% help = Page.localized(:help) %>
      <%# ui_header help.name, :style => :h2 %>
      <%= markdown(help.about) %>
    </div>
  </div>
<% end %>
