<% cache do %>
<div class="ui middle aligned very relaxed stackable grid">
  <div class="eight wide column">
    <%= form_for @message, :url => miscellaneous_contactus_path, method: :post, wrapper: false do |f| %>
      <% if current_user %>
        <%= f.hidden_field :name, value: current_user.name %>
        <%= f.static :name, value: current_user.name %>

        <%= f.hidden_field :email, value: current_user.email %>
        <%= f.static :email, value: current_user.email %>
      <% else %>
        <%= f.text_field :name %>
        <%= f.email_field :email %>
      <% end %>

      <%= f.text_field :subject %>
      <%= f.text_area :content, :size => '60x8' %>

      <%= f.submit :send %>
      <%= f.cancel root_path %>
    <% end %>
  </div>
  <div class="five wide column">
    <% help = Page.localized(:help) %>
    <%# ui_header help.name %>
    <%= markdown(help.about) %>
  </div>
</div>
<% end %>
