<div class="row pricing">
  <div class="<%= css_columns(8) %>">
    <%= ui_header(capture do %>
      <%= image_tag ui_image_src(student.avatar_url(current_account, :th), '/images/nobody-th.png') %> 
      <%= student.name %>
    <% end, style: :h3) %>
    
    <ul>
      <li> 
        <strong><%= t('config.report.student.klass_begins') %></strong>: 
        <%= l(klass.begins_on) %>
      </li>
      <% if klass.ends_on %>
        <li>
          <strong><%= t('config.report.student.klass_ends') %></strong>: 
          <%= l(klass.ends_on) %>
        </li>
      <% end %>
      <li>
        <strong><%= t('config.report.student.user_since') %></strong>: 
        <%= l(student.user.confirmed_at.to_date) %>
      </li>
      <% unless staff?(student.user, klass.course) %>
        <li>
          <strong><%= t('config.report.student.since') %></strong>: 
          <% if student and (enrollment = klass.enrollments(:student_id => student.id).first) %>
            <%= l(enrollment.created_at.to_date) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div> 
  
  <% final = klass.final_score student.id %>
  <div class="<%= css_columns(4) %>">
    <div class="plan ">
      <div class="plan-head">
        <h1 class="price"><%= final[:letter] %></h1>
        <h4 class="description"><%= t('page.titles.final_score') %>: <strong><%= final[:score] %>%</strong></h4>
      </div>
      <ul class="plan-features">
        <% final[:detail].each do |k, v| %>
          <li><strong><%= v.round(2) %>%</strong> <%= t("page.text.#{k}") %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div> 

<%= render :partial => 'reports/assessment', :locals => { klass: klass, student: student } %>

<%= render :partial => 'reports/participation', :locals => { klass: klass, student: student } %>

<%= render :partial => 'reports/attendance', :locals => { klass: klass, student: student } %>
