<% klasses = Klass.which_are('enrolled', current_user).open.to_a %>
<%= ui_header t('page.titles.classes_i_am_taking') %>
<% if klasses.present? %>
  <div class="ui three column stackable stretched grid">
    <%= render :partial => 'learn/klasses/klass', :collection => klasses %>
  </div>
<% else %>
    <%= t('page.text.no_record_found') %>
<% end %>

<% klasses = Klass.which_are('taken', current_user).to_a %>
<%= ui_header t('page.titles.classes_i_took') %>
<% if klasses.present? %>
  <div class="ui three column stackable stretched grid">
    <%= render :partial => 'learn/klasses/klass', :collection => klasses %>
  </div>
<% else %>
    <%= t('page.text.no_record_found') %>
<% end %>
