<%
	own_topics = Topic.unscoped.joins(:forum).where("forums.klass_id = #{@klass.id} and forums.lecture_comments = FALSE").
		where(author: current_student).order('created_at desc').limit(3).to_a
	own_posts = Post.unscoped.joins(:topic => :forum).where("forums.klass_id = #{@klass.id} and forums.lecture_comments = FALSE").
		where(author: current_student).order('created_at desc').limit(3).to_a

%>
<div class="row">
	<div class="<%= css_columns((own_topics.present? || own_posts.present?) ? 15 : 24) %>">
		<table class="ui striped selectable small table">
			<thead>
				<tr>
					<th><%= Forum.model_name.human %></th>
					<th><%= Topic.model_name.human(count: 3) %></th>
				</tr>
			</thead>
			<tbody>
				<% (forums = @klass.forums.where(:lecture_comments => false).to_a).each do |forum| %>
				<tr>
					<td>
						<h3><%= link_to forum.name, learn_klass_forum_path(@klass, forum) %></h3>
						<%= markdown forum.about %>
					</td>
					<td><%= forum.topics_count %></td>
				</tr>
				<% end %>
		    <% if forums.empty? %>
		    <tr>
		      <td colspan="2"><%= t('page.text.no_record_found') %></td>
		    </tr>
		    <% end %>
			</tbody>
		</table>
	</div>
	<% if own_topics.present? || own_posts.present? %>
		<div class="<%= css_columns(9) %>">
			<div class="well">
			<% if own_topics.present? %>
				<h3><%= t('page.title.own_recent_topics') %></h3>
				<ul class="list-unstyled">
					<% own_topics.each do |topic| %>
						<li><%= css_icon('comments', 2) %><%= link_to topic.name, learn_klass_forum_topic_path(@klass, topic.forum, topic) %></li>
					<% end %>
				</ul>
			<% end %>

			<% if own_posts.present? %>
				<h3><%= t('page.title.own_recent_posts') %></h3>
				<ul class="list-unstyled">
					<% own_posts.each do |post| %>
						<li><%= css_icon('comment', 2) %><%= link_to summary(post.about, 20), learn_klass_forum_topic_path(@klass, post.forum, post.topic) %></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

<table class="ui striped selectable small table">
	<thead>
		<tr>
			<th><%= t('page.title.latest_topics') %></th>
			<th><%= Post.model_name.human(count: 3) %></th>
			<th><%= t('page.title.hits') %></th>
      <th><i class="fa fa-thumbs-up"></i></th>
      <th><i class="fa fa-thumbs-down"></i></th>
		</tr>
	</thead>
	<tbody>
		<% topics = Topic.unscoped.joins(:forum).where('forums.klass_id = ?', @klass.id).order('created_at desc').limit(10) %>
    <% topics.each do |topic| %>
		<tr>
			<td>
				<h3>
          <%= link_to topic.name, learn_klass_forum_topic_path(@klass, topic.forum, topic) %>
          <br>
          <small>
            <%= timeago_tag topic.created_at, :nojs => true, :limit => 10.days.ago %>
          </small>
        </h3>
			</td>
			<td><%= topic.posts_count %></td>
			<td><%= topic.hits %></td>
      <td><%= topic.ups %></td>
      <td><%= topic.downs %></td>
		</tr>
		<% end %>
    <% if topics.empty? %>
    <tr>
      <td colspan="3"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
	</tbody>
</table>

<table class="ui striped selectable small table">
	<thead>
		<tr>
			<th><%= t('page.title.latest_activities') %></th>
			<th><%= Post.model_name.human(count: 3) %></th>
      <th><i class="fa fa-thumbs-up"></i></th>
      <th><i class="fa fa-thumbs-down"></i></th>
		</tr>
	</thead>
	<tbody>
		<% posts = Post.unscoped.joins(:forum).where('forums.klass_id = ?', @klass.id).order('created_at desc').limit(10) %>
    <% posts.each do |post| %>
		<tr>
			<td>
        <%= link_to summary(post.about, 40), learn_klass_forum_topic_path(@klass, post.forum, post.topic) %>
        <br>
        <small>
          <%= timeago_tag post.created_at, :nojs => true, :limit => 10.days.ago %>
        </small>
			</td>
			<td><%= post.posts_count %></td>
      <td><%= post.ups %></td>
      <td><%= post.downs %></td>
		</tr>
		<% end %>
    <% if posts.empty? %>
    <tr>
      <td colspan="3"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
	</tbody>
</table>
