<ul class="breadcrumb">
  <li><%= link(:forum, :index, learn_klass_forums_path(@klass)) %></li>
  <li class="active"><%= @forum.name %></li>
</ul>

<%= content_tag :h2, @forum.name %>

<%= markdown @forum.about %>

<% if @klass.open? && (!@forum.graded || staff?(current_user, @klass.course)) %>
  <%= link(:topic, :new, new_learn_klass_forum_topic_path(@klass, @forum),
        :class => "ui positive button") %>
<% end %>

<% topics = @forum.topics.page(params[:page]).per(10) %>
<div id="paginator"><%= paginate topics %></div>
<table class="ui striped selectable small table">
	<thead>
		<tr>
			<th><%= Topic.model_name.human(count: 3) %></th>
			<th><%= Post.model_name.human(count: 3) %></th>
      <th><i class="fa fa-thumbs-up"></i></th>
      <th><i class="fa fa-thumbs-down"></i></th>
      <th><%= t('page.title.hits') %></th>
		</tr>
	</thead>
	<tbody>
		<% topics.each do |topic| %>
		<tr>
			<td>
				<h3>
          <%= link_to topic.name, learn_klass_forum_topic_path(@klass, @forum, topic) %>
          <br>
          <small>
            <%= timeago_tag topic.created_at, :nojs => true, :limit => 10.days.ago %>
          </small>
        </h3>
			</td>
			<td><%= topic.posts_count %></td>
      <td><%= topic.ups %></td>
      <td><%= topic.downs %></td>
      <td><%= topic.hits %></td>
		</tr>
		<% end %>

    <% if topics.empty? %>
    <tr>
      <td colspan="3"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
	</tbody>
</table>
