<%= form_header %>

<%= themed_form_for [:admin, @announcement] do |f| %>
  <%= form_markdown f, @announcement, :message %>

  <div class="row">
    <div class="<%= css_columns(6) %>">
      <% if @announcement.starts_at.kind_of?(Time) %>
        <%= form_text f, :starts_at, class: 'datetimepicker', value: @announcement.starts_at.strftime("%Y-%m-%d %H:%M") %>
      <% else %>
        <%= form_text f, :starts_at, class: 'datetimepicker' %>
      <% end %>
    </div>
    <div class="<%= css_columns(6) %>">
      <% if @announcement.ends_at.kind_of?(Time) %>
        <%= form_text f, :ends_at, class: 'datetimepicker', value: @announcement.ends_at.strftime("%Y-%m-%d %H:%M") %>
      <% else %>
        <%= form_text f, :ends_at, class: 'datetimepicker' %>
      <% end %>
    </div>
  </div>
  
  <%= form_checkbox f, :suspended %>
  
  <%= form_submit f, admin_announcements_path %>
<% end %>
