<%= ui_header klass.name, action: ui_buttons(ui_course_klass_links(klass)) %>
    
<div id="klass-approve-indicator" class="ui warning message <%= 'hidden' if klass.ready_to_approve && klass.approved %>">
  <% if klass.ready_to_approve %>
    <% if !current_account.config['require_admin_approval_of_classes'] || current_user.has_role?(:admin) %>
      <%= t('page.text.approved_klass_html',
            link: link(:klass, klass.approved ? :disapprove : :approve, approve_teach_course_klass_path(@course, klass), :method => :put)) %>
    <% else %>
      <%= t('page.text.by_admin_approved_klass_html') %>
    <% end %>
  <% else %>
    <%= t('page.text.ready_to_approve_klass_html',
            link: link(:klass, klass.ready_to_approve ? :unready : :ready, ready_teach_course_klass_path(@course, klass), :method => :put)) %>
  <% end %>
</div>

<div class="ui dynamic top attached pointing menu">
  <%= content_tag :a, data: {tab: "klass_#{klass.id}_about"}, class: "#{'active ' if active_klass_section?('about')}item" do %>
    <%= t('helpers.submit.about')%>
  <% end %>
  <%= content_tag :a, data: {tab: "klass_#{klass.id}_updates"}, class: "#{'active ' if active_klass_section?('updates')}item" do %>
     <%= Update.model_name.human(count: 3) %>
  <% end %>
  <%= content_tag :a, data: {tab: "klass_#{klass.id}_forums"}, class: "#{'active ' if active_klass_section?('forums')}item" do %>
    <%= Forum.model_name.human(count: 3) %>
  <% end %>
</div>

<%= content_tag :div, data: {tab: "klass_#{klass.id}_about"}, class: "ui #{'active ' if active_klass_section?('about')}bottom attached tab segment" do %>
  <%= form_for [:teach, @course, klass], header: false, wrapper: false do |f| %>
  	<%= f.check_box :private, :disabled => true %>
    <%= f.check_box :previewed,  :disabled => true  %>
    <%= f.check_box :allow_enrollment,  :disabled => true  %>
    <%= f.check_box :lectures_on_closed, :disabled => true %>
  <% end %>
<% end %>
<%= content_tag :div, data: {tab: "klass_#{klass.id}_updates"}, class: "ui #{'active ' if active_klass_section?('updates')}bottom attached tab segment" do %>
  <%= ui_header Update.model_name.human(count: 3), action: link(:update, :new, new_teach_course_klass_update_path(@course, klass), remote: true, class: 'ui primary button') %>
  <%= render partial: 'teach/updates/index', locals: { updates: klass.updates } %>
<% end %>
<%= content_tag :div, data: {tab: "klass_#{klass.id}_forums"}, class: "ui #{'active ' if active_klass_section?('forums')}bottom attached tab segment" do %>   
  <%= ui_header Forum.model_name.human(count: 3), action: link(:forum, :new, new_teach_course_klass_forum_path(@course, klass), remote: true, class: 'ui primary button') %>
  <%= render partial: 'teach/forums/index', locals: { forums: klass.forums } %> 
<% end %>
