<% active_klass_id = @klass ? @klass.id : nil %>

<%= content_tag :div, class: "course klasses" do %>
  <div class="ui top attached klass menu">
    <a class="item">
      <i class="sidebar icon"></i>
      <%= Klass.model_name.human(count: 3) %>
    </a>
    <div class="right menu">
      <div class="item">
        <%= link(:klass, :new, new_teach_course_klass_path(@course), remote: true, :class => 'ui primary button') %>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui left inline vertical sidebar dynamic menu">
      <% @course.klasses.order('begins_on desc').each_with_index do |klass, i| %>
        <%= content_tag :a, id: "klass_#{klass.id}", data: {tab: "klass_#{klass.id}"}, class: "#{'active ' if (klass.id == active_klass_id || i == 0)}item" do %>
          <%= klass.name %>
        <% end %>
      <% end %>
    </div>
    <div class="pusher">
      <% @course.klasses.order('begins_on desc').each_with_index do |klass, i| %>
        <%= content_tag :div, data: {tab: "klass_#{klass.id}"}, class: "ui #{'active ' if (klass.id == active_klass_id || i == 0)}basic tab segment" do %>
          <%= render :partial => 'teach/klasses/show', :locals => { klass: klass} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
