<%= form_header %>

<div class="row">
  <div class="<%= css_columns(6) %>">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= form_email f, :email %>
  
      <%= form_submit f, new_session_path(:user) %>
    <% end %>
  </div>
</div>

