

<%= form_for @req_objects do |f| %>
  <%= f.text_field :name %>
  <%= f.hidden_field :tag_list %>
  <% if !@page.new_record? && @page.html %>
    <%= f.hidden_field :about, :value => @page.about %>
    <%= f.code :about, :value => @page.about, :lang => 'html', :field => 'page_about', :label => false %>
  <% else %>
    <%= f.markdown :about, hint: true %>
  <% end %>

  <% if @req_objects.size == 1 %>
    <div class="row">
      <div class="<%= css_columns(12) %>">
        <%= f.text_field :slug, placeholder: true %>
      </div>
      <% if current_user && current_user.has_role?(:admin) %>
        <div class="<%= css_columns(6) %>">
          <br/>
          <%= f.check_box :blog %>
        </div>
        <div class="<%= css_columns(6) %>">
          <br/>
          <%= f.check_box :html %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= f.submit %>
  <%= f.cancel the_path_out %>
<% end %>
