<%= form_header %>

<%= themed_form_for @req_objects do |f| %>
  <%= form_text f, :name %>
  <%= form_hidden f, :tag_list %>
  <% if !@page.new_record? and @page.html %>
    <%= form_hidden f, :about, :value => @page.about %>
    <%= form_code f, :about, :value => @page.about, :lang => 'html', :field => 'page_about', :label => false %>
  <% else %>
    <%= form_markdown f, @page, :about, hint: true %>
  <% end %>
  
  <% if @req_objects.size == 1 %>
    <div class="row">
      <div class="<%= css_columns(6) %>">
        <%= form_text f, :slug, placeholder: true %>
      </div>
      <% if current_user and current_user.has_role? :admin %>
        <div class="<%= css_columns(3) %>">
          <br/>
          <%= form_checkbox f, :blog %>
        </div>
        <div class="<%= css_columns(3) %>">
          <br/>
          <%= form_checkbox f, :html %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <%= form_submit f, the_path_out %>
<% end %>