<tr>
  <td><%= page_counter + 1 %></td>
	<td><%= link_to(page.name , page) %></td>
	<td><%= page.slug %></td>
	<td><%= ui_icon(:check) if page.published %></td>
	<td><%= ui_icon(:check) if page.public %></td>
  <td><%= ui_icon(:check) if page.blog %></td>
  <td><%= ui_icon(:check) if page.html %></td>
</tr>