<% if @blogs.present? %>
  <div class="row">
    <div id="blog-body" class="<%= css_columns(16) %>">
      <%= render :partial => 'application/pages/blog', :collection => @blogs %>
    </div>
  </div>
<% else %>
  <br/><%= t('page.text.no_record_found') %>
<% end %>

<div class="row">
  <div class="<%= css_columns(16) %>">
    <div id="paginator" class="text-center"><%= paginate @blogs %></div>
  </div>
</div>