<% content_for :jumbotron do %>
  <div class="ui center aligned text container">
    <div class="ui huge inverted icon header">
      <%= ui_icon 'newspaper' %>
      <%= scoped_t("#{current_account.slug}.site.blog.line1_html") %>
      <div class="ui large sub header"><%= scoped_t("#{current_account.slug}.site.blog.line2_html") %></div>
    </div>
  </div>
<% end %>

<% if @blogs.present? %>
  <% content_for :main_aside do %>
    <div class="ui fluid segment">
      <div class="ui selection list">
        <% @blogs.each do |blog| %>
          <div class="item"><%= blog.name %></div>
        <% end %>
      </div>
    </div>
  <% end if false %>
  <%= render :partial => 'application/pages/blog', :collection => @blogs %>
  <div id="paginator" class="text-center"><%= paginate @blogs %></div>
<% end %>


