<%=
title = current_user && current_user.has_role?(:admin) ? t('helpers.submit.static_pages_or_blogs') : t('helpers.submit.blog_posts')
search = search_form_for @q, method: :get, remote: true, wrapper: false, header: false do |f|
  f.search_field :slug_or_name_or_about_cont, hint: false, label: false, placeholder: true 
end 

paginator = content_tag :div, paginate(@pages, param_name: 'p', remote: true), id: "paginator"

ui_header title, action: link(:page, :new, new_page_path, remote: true, :class => "ui primary button") %>
<%= ui_side_by_side(paginator, search) %>
<table class="ui striped selectable small table">
	<thead>
		<tr>
      <th>#</th>
			<th><%= Page.human_attribute_name(:name) %></th>
			<th><%= Page.human_attribute_name(:slug) %></th>
			<th><%= Page.human_attribute_name(:published) %></th>
			<th><%= Page.human_attribute_name(:public) %></th>
      <th><%= Page.human_attribute_name(:blog) %></th>
      <% if current_user && current_user.has_role?(:admin) %>
        <th><%= Page.human_attribute_name(:html) %></th>
      <% end %>
		</tr>
	</thead>
	<tbody id="user-pages">
    <%= render :partial => 'application/pages/page', :collection => @pages %>
    
    <% if @pages.empty? %>
    <tr>
      <td colspan="<%= current_user && current_user.has_role?(:admin) ? 7 : 6 %>"><%= t('page.text.no_record_found') %></td>
    </tr>
    <% end %>
	</tbody>
</table>