<%
can_be_made_public = false
if current_user && can?(:manage, @page)
  links = [link(:page, :edit, path_for(:edit, @course, @unit, @lecture, @page), remote: true, class: "ui positive button")]

  if @page.owner_type != 'User' || (current_user.has_role?(:admin) || !current_account.config['require_admin_approval_of_blogs'])
    can_be_made_public = true
  end

  if @page.owner.is_a?(User) && can_be_made_public 
    links << link(:page, @page.public ? :privatize : :publicize, path_for(:update, @course, @unit, @lecture, @page, :opr => :public,
      :'page[public]' => !@page.public), :method => :put, :remote => true, :id => "page_public_#{@page.id}_link", class: "ui positive basic button")
  end

	links << link(:page, @page.published ? :unpublish : :publish, path_for(:update, @course, @unit, @lecture, @page, :opr => :publish,
      :'page[published]' => !@page.published), :method => :put, :remote => true, :id => "page_publish_#{@page.id}_link", class: "ui positive basic button")

  if @course.nil? || @page != @course.syllabus
    links << nil
    links << link(:page, :destroy, path_for(:destroy, @course, @unit, @lecture, @page),
      :method => :delete, :confirm => true, class: "ui negative button")
  end

  unless @course
    links << nil
    links << link(:page, :back_to_list, the_path_out, class: "ui button")
  end
end
%>

<% actions = links.blank? ? nil : ui_buttons(links, class: 'mini right floated') %>

<% if @course %>
  <%=ui_header @page.name, subtext: @page.by_author_and_when, action: course_breadcrumbs(Page.model_name.human) %>
<% else %>
  <%= ui_header @page.name, subtext: @page.blog ? @page.by_author_and_when : nil, action: actions %>
<% end %>

<% if @page && !@page.new_record? %>
  <%= actions %><br>
  <div id="page-publish-indicator" class="ui warning message" style="<%= 'display: none;' if @page.published %>">
    <%= t('page.text.unpublished_page_html',
          link: link(:page, :publish, path_for(:update, @course, @unit, @lecture, @page, :opr => :publish,
                  :'page[published]' => !@page.published), :method => :put)) %>
  </div>
  
  <% if @page.owner.is_a?(User) %>
    <div id="page-public-indicator" class="ui info message %>" style="<%= 'display: none;' if @page.public %>">
      <% if can_be_made_public %>
        <%= t('page.text.private_page_html',
              link: link(:page, :publicize, path_for(:update, @course, @unit, @lecture, @page, :opr => :public, :'page[public]' => !@page.public), :method => :put)) %>
      <% else %>
        <%= t('page.text.by_admin_private_page_html') %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= markdown(@page.about, :html => @page.html) %>
