<% options = { :method => :post,  :id => 'assessment-attempt-form', :remote => true }%>
<%= form_tag learn_klass_assessment_attempts_path(@klass, @assessment), options do %>
  <%= hidden_field_tag :attempt_id, @attempt.id %>

  <% questions =  @attempt.questions %>
  <% qcount = questions.count %>
  <% questions.each_with_index do |q, ndx| %>
    <% result = @attempt.state == 2 ? @attempt.result(q,ndx) : nil  %>
    <%
      if defined?(result) && result.present?
        css_bg = case result
        when :correct
          'panel-success'
        when :partially_correct
          'panel-warning'
        when :incorrect
          'panel-danger'
        else
          ''
        end
      end
    %>
    <div id="attempt-question-<%= ndx %>"
         class ="attempt-question panel panel-default <%= css_bg %> question-<%= q.kind %>"
         style="padding: 5px;<%= ' display: none;' if ndx > 0 %>">

      <%= render "teach/questions/#{q.kind}", :q => q,
            :a => @attempt.test[ndx][:t],
            :show_answer => @attempt.show_answer?,
            :read_only => @attempt.state == 2 ? true : false %>

      <% unless q.hint.blank? %>
        <div class="ui positive message"><%= markdown("**#{Question.human_attribute_name(:hint)}**! #{q.hint}") %></div>
      <% end %>

      <% unless @attempt.state != 2 || q.explanation.blank? %>
        <div class="ui info message"><%= markdown("**#{Question.human_attribute_name(:explanation)}**! #{q.explanation}") %></div>
      <% end %>

      <div class="panel-footer">
        <% if qcount > 1 %>
          <% if ndx > 0 %>
            <%= link_to t('helpers.submit.prev_html'), "#", :data => "attempt-question-#{ndx - 1}",
                  :class => "#{"ui button"} attempt-prev-question-btn" %>
          <% end %>
          <% if ndx < qcount - 1 %>
            <%= link_to t('helpers.submit.next_html'), "#", :data => "attempt-question-#{ndx + 1}",
                  :class => "#{"ui button"} attempt-next-question-btn" %>
          <% end %>
        <% end %>

        <% if !@attempt.new_record? && @attempt.state == 1%>
          <%= submit_tag t('helpers.submit.submit'), :class => "ui primary button",
                :value => t('helpers.submit.submit') if ndx == qcount - 1 %>
        <% else %>
          <%= link_to(t('helpers.submit.resume_lecture'), "#",
                :class => "#{"ui button"} attempt-close-btn") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
