<%= form_header %>

<div class="row">
  <div class="<%= css_columns(8) %>">
    <%= form_for(@user, :url => admin_users_path, :method => :post) do |f| %>

      <%= f.text_field :name%>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit %> 
      <%= f.cancel users_path  %>
    <% end %>
  </div>
</div>



