<% main_menu %>

<div class="ui <%= front ? "inverted " : "pointing secondary " %>top fixed borderless menu">
  <%= link_to current_user ? main_app.home_path : main_app.root_path, class: 'header item' do %>
    <%= ui_icon('large leaf icon') %>&nbsp;
    <strong><%= current_account.config['title'] %></strong>
  <% end %>
  
  <div class="right menu">
    <% app_menu(:top).each do |item| %>
      <%= link_to item[:link], item[:to], class: "#{item[:active] ? 'active ' : nil} item" %>
    <% end %>

    <% if app_menu(:top, :locale) %>
      <div class="ui dropdown item">
        <div class="text"><%= app_menu(:top, :locale)[0] %></div>
        <i class="dropdown icon"></i>
        <div class="right menu">
          <% app_menu(:top, :locale).from(1).each do |item| %>
            <%= link_to item[:link], item[:to], class: "#{item[:active] ? 'active ' : nil} item" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% app_menu(:top, :right).each do |item| %>
      <div class="item">
        <%= link_to item[:link], item[:to], class: "ui #{"inverted " if front}#{item[:class]} secondary button" %>
      </div>
    <% end %>
  </div>
</div>