<% if video.kind_of?(Material) || video.kind_of?(Medium) %>
  <%
  medium = video.kind_of?(Material) ? video.medium : video
  video_id = "sv_m_#{medium.id}"
  container_id = "sv_m_#{medium.id}_container"
  youtube = ( medium.content_type =~ /link\/youtube/ )

  options = {
    :id => video_id,
    :class => 'sublime responsive',
    :poster => poster.present? ? poster.at_url : nil,
    ##:width => thumbnail ? '160' : '100%',
    #:height => thumbnail ? '90' : '100%',
    :title => medium.name,
    :"data-uid" => video_id,
    :"data-autoresize" => 'fit',
    :preload => 'none'
  }
  %>
  <div id="<%= container_id %>" class="video-container <%= style_class %>">
    <% if youtube %>
      <%= content_tag :video, '', options.merge({:"data-youtube-id" => medium.at_url}) %>
    <% else %>
      <%= content_tag :video, options do %>
        <%= tag :source,  :src => medium.at_url %>
      <% end %>
    <% end %>
  </div>
  <%
  assessments = []
  if !request.xhr? && @klass && @lecture && video.kind_of?(Material)
    assessments = @lecture.assessments.open(@klass).where('ready = TRUE and invideo_id = :vid', :vid => video.id).to_a
  end
  %>
  <% unless assessments.blank? %>
    <div id="assessment-attempt" style="display: none; background: #fff;"></div>
    <script>
      var playerId = '<%= container_id %>';
      var player;
      sublime.ready(function(){
        player = sublime.player('<%= video_id %>');
        var interval = setInterval(launchAssessments, 2000);

        var assessments = <%= (assessments.map do |a|
          {
            :id => a.id, :at => a.invideo_at, :taken => !a.can_be_taken?(@klass, current_student),
            :path => new_learn_klass_assessment_attempt_path(@klass, a, :format => :js)
          }
        end).to_json.html_safe %>;

        function launchAssessments() {
          for (var i in assessments) {
            position = player.playbackTime();
            if (!assessments[i].taken && assessments[i].at <= position){
              //clearInterval(interval);
              player.pause();
              $.ajax({
                type: "GET",
                url: assessments[i].path,
                success: function(data){
                },
                error: function(error){
                }
              });
              assessments[i].taken = true;
            }
          }
        }
      });
    </script>
  <% end %>
<% else %>
  <div class="video-container <%= style_class %>">
    <video class="sublime" poster="<%= poster %>" width="640" height="360" data-autoresize="fit" preload="none">
      <source src="<%= video %>" />
    </video>
  </div>
<% end %>
