<%
assessments = []
if @klass and @lecture and video.kind_of?(Material)
  assessments = @lecture.assessments.open(@klass).where('ready = TRUE and invideo_id = :vid', :vid => video.id).to_a
end
%>
<div class="video-container<%= "-yt" if responsive %> <%= style_class %>">  
  <div id='mediaelementjs-player-<%= video.id %>'>
    <video width="<%= width %>" height="<%= height %>" preload="none" poster="<%= poster.at_url if poster %>" 
           class="mediaelementjs" controls>
      <source type='<%= content_type %>' src='<%= video.at_url %>'/>
    </video>
  </div>
  <% unless assessments.blank? %>
    <div id="assessment-attempt" style="display: none; background: #fff;"></div>
    <script>
      var playerId = 'mediaelementjs-player-<%= video.id %>';
      var player = null;
      var youtube = false;
      var interval;
      var assessments = <%= (assessments.map do |a|
          {:id => a.id, :at => a.invideo_at, :taken => false, :path => new_learn_klass_assessment_attempt_path(@klass, a, :format => :js)}
        end).to_json.html_safe %>;
    </script>
  <% end %>
</div>