<div class="panel-group" id="accordion">
<% units = Unit.open(@klass, current_student).order('units.order').to_a %>
<% units.each_with_index do |unit, i| %>
    <% lectures = Lecture.open_4_students(@klass, unit, current_student).to_a %>
    <% expanded = lectures.empty? || !(lectures.select do |lecture| lecture.has_been_attended.blank? end).empty? %>
  <div class="panel panel-inverse klass-lecture">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#unit-<%= unit.id %>">
          <%= unit.name %>
        </a>
        <% unless expanded%><i class="fa fa-check <%= css_align(:right) %>"></i><% end %>
        <% ui_klass_enrollment_action(@klass, true) unless (@klass.enrolled?(current_student) || staff?(current_user, @klass.course)) %>
      </h4>
    </div>
    
    <div id="unit-<%= unit.id %>" class="panel-collapse collapse <%= 'in' if expanded %>">
      <div class="panel-body">
        <% if (@klass.enrolled?(current_student) || KlassEnrollment.staff?(current_user, @klass)) %>
          <% data = unit.contents(true) %> 
          <% if data.present? %>
            <ul class="nav nav-tabs">
              <% data.each do |item| %>
                <%
                  title = item.kind_of?(Material) ? item.medium.name : item.name
                  popover_attr = {toggle: "popover",  placement: "bottom", content: title }
                  title = title.size > 10 ? title[0..7] + '...' : title
                %>
                <li>
                <% case item %>
                <% when Material %>
                  <%= link_to item.at_url, class: "btn-popover", data: popover_attr, :target => '_new' do %>
                    <i class="fa fa-paperclip"></i> <%= title %>
                  <% end %>
                <% when Page %>
                  <%= link_to learn_klass_page_path(@klass, item), class: "btn-popover", data: popover_attr do %>
                    <i class="fa fa-globe"></i> <%= title %>
                  <% end %>
                <% when Assessment %>
                  <%= link_to learn_klass_assessment_path(@klass, item), class: "btn-popover", data: popover_attr do %>
                    <i class="fa fa-flask"></i> <%= title %>
                  <% end %>
                <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

        <div class="row">
          <div class="<%= css_columns(12) %> shortenable-text">
            <%= unit.about %>
          </div>
        </div>
        
        <% unless lectures.to_a.empty? %>
          <table class="table table-condensed">
            <tbody>
              <% lectures.each_with_index do |lecture, j| %>
                <tr>
                  <td>
                    &nbsp;&nbsp;
                    <%= j + 1 %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= link_to lecture.name, learn_klass_lecture_path(@klass, lecture) %>
  
                    <% if lecture.has_been_attended %><i class="fa fa-check <%= css_align(:right) %>"></i><% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>    
<% end %>
</div>

