<% 
  data = @lecture_contents
  pagers = @lecture.pagers(@klass, current_student)
  pager_links = []
  pager_links << {
    url: (pagers.first ? learn_klass_lecture_path(@klass, pagers.first[:lecture]) : nil),
    remote: false
  }
  
  position = 0
  data.each_with_index do |item, i|
    pager_links << {
      url: send("show_#{item.class.name.downcase}_of_learn_klass_lecture_path", @klass, @lecture, item, position: i + 1),
      remote: true
    }

    if params[:show_assessment] && item.kind_of?(Assessment) && item.id.to_s == params[:show_assessment]
      position = i
    end
  end

  pager_links << {
    url: (pagers.second ? learn_klass_lecture_path(@klass, pagers.second[:lecture]) : nil),
    remote: false
  }
%>

<%= javascript_tag  do %>
  var lecture_pager_position = <%= position + 1 %>;
  var mark_as_taken = false;
<% end %>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="row">
      <div class="<%= css_columns(9) %>">
        <h4 class="panel-title">
          <%= ui_button_dropdown content_tag(:i, '', class: "fa fa-list"), (@lecture.unit.lectures.map do |lecture|
              name = %(#{lecture.name} #{content_tag(:i, '', class: "fa fa-check") if @lecture == lecture})
              link_to(name.html_safe, learn_klass_lecture_path(@klass, lecture))
            end) , class: css_button(:default, :xs) %>&nbsp;
          <%= @lecture.name %>
        </h4>
      </div>
      <div class="<%= css_columns(3) %>">
        <%= pager_html = capture do %>
          <ul class="pager lecture-pager" 
              data-prev="<%= t('activerecord.actions.prev_html').html_safe %>" 
              data-next="<%= t('activerecord.actions.next_html').html_safe %>">
            <% pager_links.each_with_index do |link, i| %>
              <%
                link_class = (i == 0 ? 'previous' : 'next')
                link_style = (i > 1 ? 'display: none;' : '')
                link_name = (i == 0 ? t('activerecord.actions.prev_html').html_safe : (i == 1 ? t('activerecord.actions.next_html').html_safe : ''))
              %>
              <li class="lecture-pager-link-pos-<%= i %> lecture-pager-link <%= link_class %>" style="<=% link_style %>">
                <%= link_to link_name, link[:url], remote: link[:remote], class: css_button(:default) if link[:url] %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs lecture-contents">
      <% data.each_with_index do |item, i| %>
        <%
          link_attr = { class: "btn-popover lecture-content-link", remote: true, data: {
              toggle: "popover",  placement: "bottom", 
              content: item.kind_of?(Material) ? item.medium.name : (
                item.kind_of?(Question) ? Question.model_name.human  : item.name
              )
            }
          }

          active = if item.kind_of?(Assessment) 
            Attempt.for(@klass, current_student, item).exists?
          else 
            item.has?(['visited', 'attempted', 'opened'], @klass, current_student)
          end
        %>
        <li class="lecture-content-link-pos-<%= i + 1 %> <%= "active" if active %>">
          <% if item.kind_of?(Material) && item.kind == 'video' %>
            <%= link_to show_material_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr do %>
              <i class="fa fa-file-video-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind == 'audio' %>
            <%= link_to show_material_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr  do %>
              <i class="fa fa-file-audio-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind =='document' %>
            <%= link_to show_material_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr  do %>
              <i class="fa fa-file-pdf-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind == 'other' %>
            <%= link_to show_material_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr  do %>
              <i class="fa fa-file-code-o"></i>
            <% end %>
          <% elsif item.kind_of?(Page) %>
            <%= link_to show_page_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr do %>
              <i class="fa fa-globe"></i>
            <% end %>
          <% elsif item.kind_of?(Question) %>
            <%= link_to show_question_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr do %>
              <i class="fa fa-question"></i>
            <% end %>
          <% elsif item.kind_of?(Assessment) %>
            <%= link_to show_assessment_of_learn_klass_lecture_path(@klass, @lecture, item, position: i + 1), link_attr do %>
              <i class="fa fa-flask"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div id="media-pane">
      <% item = data[position] %>
      <% if item %>
        <% if item.kind_of?(Material) && item.kind == 'video' %>
          <%= ui_video item, nil, :autoplay => true %>
        <% elsif item.kind_of?(Material) && item.kind == 'audio' %>
          <%= ui_audio item, :autoplay => true %>
        <% elsif item.kind_of?(Material) && item.kind =='document' %>
          <%= ui_document_viewer item.at_url %>
        <% elsif item.kind_of?(Material) && item.kind == 'other' %>
          <%= ui_document_viewer item.at_url %>
        <% elsif item.kind_of?(Page) %>
          <div class="row">
            <div class="<%= css_columns(12) %>">
              <%= ui_header(item.name, style: :h4) %>
              <%= markdown(item.about, :html => item.html) %>
            </div>
          </div>
        <% elsif item.kind_of?(Question) %>
          <div class="row">
            <div class="<%= css_columns(12) %>">
              <% 
                activity = item.activity('attempted', @klass, current_student) 
                answer = activity ? activity.data : nil
              %>
              
              <%= render partial: "learn/questions/show", locals: { question: item, answer: answer, result: nil} %>
            </div>
          </div>
        <% elsif item.kind_of?(Assessment) %>
          <div class="row">
            <div class="<%= css_columns(12) %>">
              <%= render partial: "learn/assessments/assessment", locals: { assessment: item } %>      
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="panel-footer"><div class="bottom-lecture-pager"><%= pager_html %></div></div>

  <% if @lecture.allow_discussion && @topic %>
    <div class="panel-body">
      <div class="row">
        <div class="<%= css_columns(12) %>">
          <%= ui_header t('page.titles.discussion'), style: :h4 %>
          <%= content_tag :div, id: "comments" do %>  
            <div class="row">
              <div class="<%= css_columns(12) %> topics" >
                <%= render 'learn/topics/topic' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
</div>


