<% 
  data = @lecture.contents(true)

  videos = @lecture.materials_of_kind(:video).to_a
  audios = @lecture.materials_of_kind(:audio).to_a
  attachments = @lecture.materials_of_kind([:document, :other]).to_a 
  pages = @lecture.pages.where(:published => true).to_a
  
  assessments = @lecture.assessments.where(:ready => true).where("invideo_id is null").to_a
  has_ivq = @lecture.assessments.where(:ready => true).where("invideo_id is not null").exists?
  
  content_counts = []
  content_counts << videos.count if videos.any? 
  content_counts << audios.count if audios.any? 
  content_counts << attachments.count if attachments.any? 
  content_counts << pages.count if pages.any? 
  
  count = (content_counts.reduce(:+) || 0)

  pagers = @lecture.pagers(@klass, current_student)
  
  active_tab = { home: '', assessments: '', comments: '' }
  active_tab[:assessments] = 'active' if params[:show_assessments]
  active_tab[:comments] = 'active' if params[:show_comments]
  active_tab[:home] = 'active' if count > 1 && (!params[:show_assessments] && !params[:show_comments])
  
  #Lecture.generate_discussion_topics(Klass.unscoped.open.to_a)
%>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="row">
      <div class="<%= css_columns(9) %>">
        <h4 class="panel-title"><%= @lecture.name %><%= ' *' if has_ivq %></h4>
      </div>
      <div class="<%= css_columns(3) %>">
        <ul class="pager">
          <li class="previous">
            <%= link_to t('activerecord.actions.prev_html').html_safe, 
              learn_klass_lecture_path(@klass, pagers.first[:lecture]), 
              class: css_button(:default) if pagers.first.present? %>
          </li>
          <li class="next">
            <%= link_to t('activerecord.actions.next_html').html_safe, 
                  learn_klass_lecture_path(@klass, pagers.second[:lecture]), 
                  class: css_button(:default) if pagers.second.present?  %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <% data.each do |item| %>
        <li class="active">
          <% if item.kind_of?(Material) && item.kind == 'video' %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.medium.name } do %>
              <i class="fa fa-file-video-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind == 'audio' %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.medium.name }  do %>
              <i class="fa fa-file-audio-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind =='document' %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.medium.name }  do %>
              <i class="fa fa-file-pdf-o"></i>
            <% end %>
          <% elsif item.kind_of?(Material) && item.kind == 'other' %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.medium.name }  do %>
              <i class="fa fa-file-code-o"></i>
            <% end %>
          <% elsif item.kind_of?(Page) %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.name }  do %>
              <i class="fa fa-globe"></i>
            <% end %>
          <% elsif item.kind_of?(Assessment) %>
            <%= link_to '#', class: "btn-popover", data: {toggle: "popover",  placement: "bottom", content: item.name }  do %>
              <i class="fa fa-question"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div id="media-pane">
      <% if videos.present? %>
        <%= ui_video(@video || videos.first) %>
      <% elsif audios.present? %>
        <%= ui_audio(audios.first) %>
      <% elsif count == 1 and pages.present? %>
        <%= content_tag :h3, pages.first.name %>
        <%= markdown(pages.first.about) %>
      <% end %>
    </div>
    <%= ui_header t('page.titles.discussion'), style: :h3 %>
    <%= content_tag :div, class: "tab-pane #{active_tab[:comments]}", id: "comments" do %>  
      <div class="row">
        <div class="<%= css_columns(12) %> topics" >
          <%= render 'learn/topics/topic' %>
        </div>
      </div>
    <% end if @lecture.allow_discussion && @topic %>
  </div>
</div>


