<div class="ui modal">
  <div class="header"><%= title %></div>
  <div class="content">
    <%= form_tag(url, method: :post, dir: :ltr, class: 'ui form') do %>
    	<%= hidden_field_tag(:op, op) %>
  		<div class="ui warning message">
  		  <%= t('page.text.settings_change_warning_html') %>
  		</div>

      <div class="field">
  	    <%= label_tag(:key, "Name") %>
  	    <% if key.blank? %>
  	    	<%= path %>/<%= text_field_tag(:key, key, class: 'form-control') %>
  	    <% else %>
  	    	<%= hidden_field_tag(:key, key) %>
  	    	<p><%= path %></p>
  	    <% end %>
  	  </div>
  	  <%=
  	  if key.blank?
  	  	case type
  	  	when TrueClass, FalseClass
  				json_settings_form_value(true)
  	 		when Numeric
  	 			json_settings_form_value(0.0)
  	  	else
  	  		json_settings_form_value('')
  	  	end
  	  else
  	  	json_settings_form_value(value)
  	  end
  	  %>
      <div class="actions">
      	<%= submit_tag "Submit", class: "ui primary button"%>
        <div class="ui cancel button">Close</div>
      </div>
    <% end %>
  </div>

</div>
