<%= ui_header css_icon('flask', 2) + t('page.text.course_assessment'), style: :h3 %>

<% assessments = Assessment.report(klass, student).all %>
<% if assessments.present? %>
  <table class="ui striped selectable small table">
    <tbody>
      <thead>
        <tr>
          <th class="six wide"><%= Assessment.human_attribute_name(:name) %></th>
          <th class="two wide"><%= Assessment.human_attribute_name(:level) %></th>
          <th class="two wide"><%= Assessment.human_attribute_name(:kind) %></th>
          <th class="two wide"><%= t('config.report.minimum') %></th>
          <th class="two wide"><%= t('config.report.average') %></th>
          <th class="two wide"><%= t('config.report.maximum') %></th>
        </tr>
      </thead>
      <% assessments.each_with_index do |a, i| %>
        <% level = (a.lname.present? ? Lecture : (a.uname.present? ? Unit : Course)).model_name.human %>
        <tr>
          <td>
            <h4><%= a.name %>
              <%= content_tag :small, %(<br/><strong>#{Unit.model_name.human}:</strong> #{a.uname}).html_safe if a.uname.present? %>
              <%= content_tag :small, %(<br/><strong>#{Lecture.model_name.human}:</strong> #{a.lname}).html_safe if a.lname.present? %>
            </h4>
          </td>
          <td><%= level %></td>
          <td><%= a.kind %></td>
          <td><%= a.min ? a.min.round(2) : 0.0 %></td>
          <td><%= a.avg ? a.avg.round(2) : 0.0  %></td>
          <td><%= a.max ? a.max.round(2) : 0.0  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('page.text.no_record_found') %>
<% end %>
