<%= ui_header css_icon('list', 2) + t('page.text.course_attendance'), style: :h3 %>

<% attendance = Lecture.attendance(klass, student).all %>
<% unless attendance.blank? %>
  <% units = attendance.map{|a| a.u_name}.uniq %>
  <% count = 0 %>
  <% units.each_with_index do |u, i| %>
    <% if i % 3 == 0 %>
      <div class="row">
    <% end %>
    
    <div class="<%= css_columns(9) %>">
      <p><strong><%= u %></strong></p>
      <ul class="report-lists">
        <% lectures = attendance.select{|a| u == a.u_name}.map{|a| [a.name, a.attended]}.uniq %>
        <% lectures.each_with_index do |l, j| %>
          <li class="<%= 'attended' if l[1] > 0 %>">
            <%= l[0] %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <% if i % 3 == 2 %>
      </div>
    <% end %>
    <% count = i %>
  <% end %>
  
  <% if count % 3 != 2 %>
    </div>
  <% end %>
<% else %>
  <%= t('page.text.no_record_found') %>
<% end %>