<%
  forum_count = Forum.participated_on(klass.id, student.id).count
  participation = {'forums' => [forum_count, forum_count], 'topics' => [0, 0], 'posts' => [0, 0], 'replies' => [0, 0]}
  items = Activity.aggregated_for_one(['started_discussion', 'posted', 'replied'], klass.id, student.id).
    joins("inner join forums on forums.id = actionable_id and actionable_type = 'Forum' and forums.lecture_comments = FALSE")

  items.each do |item|
    case item.action
    when 'started_discussion'
      participation['topics'] = [item.count, item.times]
    when 'posted'
      participation['posts'] = [item.count, item.times]
    when 'replied'
      participation['replies'] = [item.count, item.times]
    end
  end
%>

<div class="ui one invered statistics">
  <div class="ui orange inverted statistic">
    <div class="value">
      <%= ui_icon(:exchange) %>
    </div>
    <div class="label">
      <%= t('page.text.course_participation') %>
    </div>
  </div>
</div>

<div class="ui inverted two statistics">
  <% participation.keys[0..1].each do |k| %>
    <div class="statistic">
      <div class="value">
        <%= participation[k][1] %>
      </div>
      <div class="label">
        <%= t("page.text.participation_#{k}") %>
      </div>
    </div>
  <% end %>
</div>

<div class="ui inverted two statistics">
  <% participation.keys[2..3].each do |k| %>
    <div class="statistic">
      <div class="value">
        <%= participation[k][1] %>
      </div>
      <div class="label">
        <%= t("page.text.participation_#{k}") %>
      </div>
    </div>
  <% end %>
</div>