<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= rtl? ? 'rtl' : 'ltr' %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>
    <%= @page_header ? "#{title}: #{@page_header}" : $site['title'] %>
  </title>

  <%= stylesheet_link_tag "bootstrap/style#{rtl? ? '_rtl' : ''}", :media => "all" %>
	<%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag '/favicon.ico' %>
	<%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <% if $site['sublimevideo_site_token'].present? %>
    <%= javascript_include_tag "//cdn.sublimevideo.net/js/#{$site['sublimevideo_site_token']}.js" %>
  <% end %>
</head>
<body>

  <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
    <%= content_tag :div, id: "announcement_#{announcement.id}" do %>
			<% content_tag :div, class: "announcement-message" do %>
      	<%= raw announcement.message %>
      	<%= link :announcement, :hide, main_app.hide_admin_announcement_path(announcement), remote: true %>
			<% end %>
    <% end %>
  <% end %>

	<%= mountable_fragments :pre_layout_actions %>

  <%= render "/navbar" %>

	<% if current_account.config['allow_banner_ads'] %>
		<div class="container"><%= mountable_fragments :site_728x90_center_top_banner %></div>
	<% end %>

  <% if action_name == 'front' %>
    <%= render :template => "layouts/front" %>
  <% elsif @course && !@course.new_record? %>
    <%= render :template => "layouts/teach" %>
  <% elsif @klass %>
    <%= render :template => "layouts/learn" %>
	<% elsif controller_name == 'pages' && action_name == 'blogs' %>
	  <%= render :template => 'layouts/blog' %>
  <% else %>
    <%= render :template => "layouts/default" %>
  <% end %>

  <div id="page-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content"></div>
    </div>
  </div>

	<% if current_account.config['allow_banner_ads'] %>
  	<div class="container"><%= mountable_fragments :site_728x90_center_bottom_banner %></div>
	<% end %>

  <%= render "/footer" %>

	<%= mountable_fragments :post_layout_actions %>

  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" if @req_attributes[:code?] %>
  <%= mountable_fragments :pre_app_javascript %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap/overrides" %>
	<% if @req_attributes[:math?] %>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				extensions: ["tex2jax.js"],
				tex2jax: {
					inlineMath: [ ['\\(','\\)'] ],
					displayMath: [ ['\\[','\\]'] ],
					processEscapes: true,
					skipTags: ["script","noscript","style","textarea","pre","code"],
					ignoreClass: "tex2jax_ignore"
				},
				MathMenu: {
					//helpURL: "http://www.mathjax.org/help/user/",
					showRenderer: false,
					showLocale: false
				}
			});
		</script>
	  <%= javascript_include_tag "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" %>
	<% end %>
  <%= mountable_fragments :post_app_javascript %>
  <%= timeago_script_tag %>
  <%= pnotify_script_tag %>

  <%= render :partial => 'layouts/analytics' if Rails.env == 'production' %>
</body>
</html>
