<!-- Menu and jumbotron -->
<div class="ui inverted vertical jumbotron center aligned segment">
  <div class="ui container">
    <%= render "/main_menu", front: true %>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">
      <%= ui_icon :newspaper %>
    </h1>
    <h1><%= scoped_t("#{current_account.slug}.site.blog.line1_html") %></h1>
    <h2><%= scoped_t("#{current_account.slug}.site.blog.line2_html") %></h2>
    <h3></h3>
  </div>
</div>

<div id="main-container" class="ui internally celled trhee column container grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <% if @page_header %>
      <%= ui_header @page_header, subtext: @klass ? klass_from_and_to_dates(@klass) : nil %>
    <% end %>

  	<%= yield %>
  </div>
  <div class="three wide column"></div>
</div>
