<%
  main_menu = sub_menu = false
  within_a_segment = true
  if @course && !@course.new_record?
    main_menu = render "/teach/courses/main_menu", inverted: true
    sub_menu = render "/teach/courses/course_menu"
  elsif @klass && enrolled_or_staff?
    main_menu = render "/learn/klasses/main_menu", inverted: true
    sub_menu = render "/learn/klasses/klass_menu"
  else 
    main_menu = render "application/main_menu", inverted: true
    if @klass && controller_name == 'klasses' && action_name == 'show' && !enrolled_or_staff?
      within_a_segment = false
    elsif controller_name.in?(['sessions', 'registrations']) && action_name.in?(['new', 'create'])
      within_a_segment = false
    end
  end
%>

<nav><%= main_menu %></nav>

<% if sub_menu %>
<div class="ui grid sub-menu container">
  <div class="sixteen wide column">
    <%= sub_menu %>
  </div>
</div>
<% else %>
  <br>
<% end %>

<main class="ui centered grid">
  <% if content_for?(:main_aside) %>
    <aside class="four wide column">
      <%= content_for :main_aside %>
      <%= mountable_fragments :site_left_skyscraper_ad %>
    </aside>
    <div class="eleven wide column">
      <%= ui_flash_messages %>
    
      <% if within_a_segment %>
        <%= yield :featured_top %>
        <div class="ui fluid attached segment">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  <% else %>
    <div class="fifteen wide column">
      <%= ui_flash_messages %>
    
      <% if within_a_segment %>
        <%= yield :feachered_top %>
        <div class="ui fluid attached segment">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  <% end %>
</main>
<br>
