<%= render "/navbar" %>

<div id="main-container" class="ui internally celled grid">
  <div class="three wide column">
    <% if current_user %>
      <%= render "users/user_menu" %>
    <% else %>
      <% if content_for? :search_klasses %>
        <%= yield :search_klasses %>
        <%= render 'learn/klasses/search' %>
      <% end %>
    <% end %>
    
    <% if current_account.config['allow_banner_ads'] %>
      <%= mountable_fragments :site_160x600_left_rail_banner %>
      <%= mountable_fragments :site_160x600_right_rail_banner %>
    <% end %>
  </div>
  <div class="thirteen wide column">
    <% if @page_header %>
      <%= ui_header @page_header, subtext: @klass ? klass_from_and_to_dates(@klass) : nil %>
    <% end %>
    
    <%= yield %>
  </div>
</div>