<!-- Menu and jumbotron -->
<div class="ui inverted vertical jumbotron center aligned segment">
  <div class="ui container">
    <%= render "/main_menu", front: true %>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">
      <%= ui_icon :leaf %>
    </h1>
    <h1><%= scoped_t("#{current_account.slug}.site.slogan.line1_html") %></h1>
    <h2><%= scoped_t("#{current_account.slug}.site.slogan.line2_html") %></h2>
    <h3><%= scoped_t("#{current_account.slug}.site.slogan.line3_html") %></h3>
    <h3></h3>
  </div>
</div>

<div class="ui container">
  <div class="ui left rail">
    <div class="ui half page test ad" data-text="Half Page"></div>
  </div>
  <div class="ui right rail">
    <div class="ui half page test ad" data-text="Half Page"></div>
  </div>
  <% front = Page.localized(:front) %>

  <%= markdown ERB.new(front.about).result(binding), :html => front.html if front %>

  <% if front && current_user && current_user.has_role?(:admin) %>
    <%= link(:page, :edit, edit_page_path(front), remote: true, :class => "ui positive button") %>
  <% end %>
</div>
