<div id="main-container" class="<%= css_container %>">
  <div class="row extra-padded">
	  <div class="<%= css_columns(5) %> side-navabar">
      <%= render "teach/courses/course_menu" %>

      <% if current_account.config['allow_banner_ads'] %>
        <br />

        <%= mountable_fragments :site_160x600_left_rail_banner %>
        <%= mountable_fragments :site_160x600_right_rail_banner %>
        <%= mountable_fragments :teach_160x600_left_bottom_banner %>
      <% end %>
    </div>
    <div id="course-main-content" class="<%= css_columns(19) %>">
      <%
      action = ''
      action << staff_or_student_view if staff_or_student_view
      unless controller_name == 'courses' && action_name.in?(['edit', 'update'])
        action << space_tag(2, :class => css_align(:right))
        action << link(:course, :edit, edit_teach_course_path(@course),
          :class => css(button: :primary, align: :right))
      end
      %>
      <%= ui_header(@page_header, style: :h2, subtext:  @course.by_instructors,  action: action) %>
      <%
        show = nil
        show_map = {}
        if controller_name == 'pages'
          show_map = { lecture: 'read', unit: 'pages', course: @page && @course.syllabus.id == @page.id ? 'syllabus' : 'pages' }
        elsif controller_name == 'assessments'
          show_map = { lecture: 'assess', unit: 'assessments', course: @assessment && @assessment.kind == 'survey' ? 'surveys' : 'assessments' }
        elsif controller_name == 'materials'
          show_map = { unit: 'documents', course: 'books' }
        end

        if @lecture
          show = show_map[:lecture]
        elsif @unit
          show = show_map[:unit]
        else
          show = show_map[:course]
        end

        names = [@course.slug]
        links = []
        if @unit && !@unit.new_record?
          names << @unit.name
          if controller_name == 'questions'
            links << { name: @course.slug, href: teach_course_questions_path(@course, :a => params[:a], :b => @bank) }
          else
            links << { name: @course.name, href: teach_course_units_path(@course, :show => show) }
            links << { name: @unit.name, href: teach_course_unit_path(@course, @unit, :show => show) }
          end
        end

        if @lecture && !@lecture.new_record?
          names << @lecture.name
          if controller_name == 'questions'
            links << { name: @unit.name, href: teach_course_unit_questions_path(@course, @unit, :a => params[:a], :b => @bank) }
          else
            links << { name: @lecture.name, href: teach_course_unit_lecture_path(@course, @unit, @lecture, :show => show) }
          end
        end
      %>
      <%
        showed = false
        if @unit
          showed ||= !controller_name.in?(['units', 'lectures'])
          showed ||= (controller_name == 'lectures' && !action_name.in?(['index', 'show']))
          #showed ||= (controller_name.in?(['pages', 'assessments']) && !action_name.in?(['show']))
        end
      %>
      <% if showed %>
        <%= ui_breadcrumbs(links, names[links.size]) %>
      <% end %>
      
			<%= yield %>
    </div>
  </div>
</div>
