<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br/>
    <div class="panel panel-default">
      <ul id="signinOrUpTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation">
          <%= link_to t('page.text.sign_in'), new_session_path(resource_name) %>
        </li>
        <li role="presentation" class="active">
          <a href="#" > <%= t('page.text.sign_up') %></a>
        </li>
      </ul>
      <div class="panel-body">
        <br/>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= form_text f, :name %>
          <%= form_email f, :email %>
          <%= form_password f, :password %>
          <%= form_password f, :password_confirmation %>
          
          <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <% links = [{ text: t('page.text.registration_terms_and_conditions_html', 
                          link: link(:page, :terms, localized_page_path(:terms))) }] %>
          <% end %>
          <%= form_submit f, false, links %>
        <% end %>
      </div>
    </div>
  </div>
</div>